<!-- telechargement guide exposants -->

		<div class="article art-typ1" style="top :-60px;">
		<div class="container marketing">
			<div class="row featurette">
				<div class="col-xs-12 col-sm-12 col-lg-12">
				  <h2 class="featurette-heading">Guide des exposants<span class="text-muted"> </span></h2>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-2">
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-6 animation-element right">  
				  <p class="lead text-justify">
						Merci de télécharger et remplir le forumulaire du Guide des Exposants, puis de le renvoyer au Centre Prouvé de Nancy.
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-2 center-block left animation-element">
					<a class="btn btn-lg btn-secondary v-center" href ="/upload/files/2016/Guide%20de%20l'Exposant%20GEO%20FEH%202016.pdf" role="button" style="text-align: center;">Télécharger</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-2">
				</div>
			 </div>	
		</div>
		</div>