<div style="height :50px; width : 100%;"> 
</div>
<h1 class="hidden">Bienvenue sur votre espace personnel</h1><div id="toolbox">	</div>
<div class="tool_left">	<div id="applis">		<h2><span>Espace personnel</span></h2>		

		<ul>{block name="applis"}
		<li><a href="{$applis.href}"><img src="{$applis.icone}" width=50 alt="{$applis.name}" />
		<br />{$applis.name}</a>
		</li>		{/block}		
		</ul>		
		<div class="spacer"></div>	
		</div></div><div class="tool_right">	
		<div id="notifs">		{if {$notifs_count} == 0}<h2><span>Aucune notification</span></h2>		
		{else}<h2><span>{$notifs_count} notification{if {$notifs_count} > 1}s{/if}</span></h2>		
		{/if}		<ul>		{block name="notifs"}			
		<li class="lvl{$notifs.priority}">{$notifs.message}</li>		
		{/block}		
		</ul>	</div>	
		<!-- <div id="actus">		
		<h2><span>Dernières informations</span></h2>		
		{block name="news"}		<div class="item">			
		{if !empty({$news.image})}<img src="/upload/news/{$news.image}" alt="{$news.title}" class="fleft" />{/if}			
		<h3>{$news.title}</h3>			
		<em>{$news.date}</em>			
		<p>{$news.content}</p>			
		<div class="spacer"></div>		</div>		
		{/block}	</div> -->
		</div><div class="spacer"></div>
