<script type="text/javascript" src="/apps/documents/front/js/webforms2.js"></script>
<div style="height :100px; width : 100%;"> 
</div>
<?php if (!empty($this->tpl_vars['note'])): ?><?php echo $this->tpl_vars['note']; ?><?php endif; ?>
<div style="height :50px; width : 100%;"> 
</div>

	<div class="article">
		<div class="container marketing">
			<div class="row featurette">
				<div class="col-md-12">
				  <h2 class="featurette-heading">Handicafé©<span class="text-muted"> </span></h2>
				</div>
				<div class="col-md-12">
					<div class="col-md-3">
					</div>
					<div class="col-md-6">
						<div class="col-md-12 center-block">
						  <h2 >Le principe des Handicafés©</h4></br>
						</div>
						<div class="col-md-12">
							<p class="text-justify">Lancés par LADAPT en 2007, les Handicafés© permettent aux recruteurs et candidats en situation de handicap de se rencontrer et d’échanger dans un cadre bienveillant et convivial. La FÉDÉEH organise, depuis 2011, 30 Handicafés© avec des étudiants et jeunes diplômés à partir de bac+2 et au sein des forums entreprises des établissements d’enseignement supérieur.
							</p>
							<h4 >Participez au Handicafé© pour:</h4>
							<ul> 
							<li>recruter des jeunes diplômés en situation d’handicap</li> 
							<li>agir pour leur insertion professionnelle</li> 
							<li>mettre en avant votre engagement employeur</li>
							<li>sensibiliser vos recruteurs présents sur les Handicafés©</li>
							</ul> 
							<h4 >Le principe des Handicafés©</h4>
							<ul> 
							<li>dépasser l’autocensure</li> 
							<li>oser la rencontre avec des employeurs</li> 
							<li>recevoir des conseils d’experts du recrutement</li>
							<li>gagner en confiance lors des entretiens</li>
							</ul> 
						</div></br></br>
						<div class="col-md-12 center-block">
						  <h2 >Handicafé© du Forum Est Horizon, le 19 novembre 2020 de 15h à 18h</h4></br>
						</div>
						<div class="col-md-12">
							<p class="text-justify">Les entreprises du forum ainsi que les étudiants et jeunes diplômés handicapés qui souhaitent participer peuvent s’inscrire auprès de la FÉDÉEH pour cette rencontre qui permet d’échanger dans un cadre convivial autour d’un café !</p>
							<ul>
							<li>15h-16h : Coaching collectif pour les candidats par la FÉDÉEH</li>
							<li>16h-18h : Handicafé©</li>
							</ul>
							<p class="text-justify">Les offres d’emploi des entreprises et les CV des candidats en situation d'handicap présents sont affichés au mur. Ce sont les candidats qui viennent à la rencontre des employeurs dans le cadre de leur recherche de stage, alternance ou premier emploi.</br>
						</div>
						<div class="col-md-12 center-block">
						  <h2 >Handicafé© : fiche de préinscription employeur</h4></br>
						</div></br></br>
						<div class="col-md-12">
							<p>
								<p>La fiche est à renvoyer complétée avec vos profils de poste d’ici le 1er novembre à l’adresse <a href="mailto:daba.niang@fedeeh.org">daba.niang@fedeeh.org</a></p>
								<p class="text-justify">Fiche d'inscription standard : </p>
								<div style="text-align:center">
									<a style="display:inline-block" href="/apps/handicafe/front/fiche/PAYANT-Fiche-dinscription-employeur-2020.pdf" target="_blank">
									<button id="down" class="btn btn-lg btn-secondary btn-block" type="submit">Télécharger</button>
									</a>
								</div>
								<br>
								<p class="text-justify">Fiche d’inscription pour les partenaires du Forum Est-Horizon ou de la FEDEEH :</p>
								<div style="text-align:center">
									<a style="display:inline-block" href="/apps/handicafe/front/fiche/GRATUIT-Fiche-dinscription-employeur-2020.pdf" target="_blank">
									<button id="down" class="btn btn-lg btn-secondary btn-block" type="submit">Télécharger</button>
									</a>
								</div>
							</p>
						</div>

					</div>				
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/apps/accueil/front/js/window_height.js" type="text/javascript"></script>