
.box-left p {
	text-align: justify;
}


.fleft.center {
	width: 560px;
}

.detail {
	width: 100%;
	text-align: center;
	padding: 10px;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.detail p {
	text-align: left;
}


