<script
  src="/apps/accueil/front/js/window_height.js"
  type="text/javascript"
></script>

<!--  =====================================================================	-->
<!-- 		ARTICLES	 													-->
<!--  =====================================================================	-->

<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 1 :Actions Covid19 ?									-->
<!--  ---------------------------------------------------------------------	-->
<div class="article art-typ2" id="quisommesnous" style="center-block">
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-5">
        <div style="height: 150px"></div>
        <img
          style="height: 300px"
          src="/apps/actionscov/front/images/partenaires/chruNancy.jpg"
          alt="Generic placeholder image"
        />
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Engagement<span class="text-muted"> </span>
        </h2>

        <p align="justify">
          Le Forum Est-Horizon s'engage à faire un don de 1000€ au CHRU de Nancy
          pour soutenir les équipes médicales. Ces dernières, plus que jamais en
          ces temps difficiles, sauvent des vies au quotidien. <br />
          <br />
          Notre région étant l'une des plus touchées, le conseil
          d'administration a pris la décision à l'unanimité de participer à
          l'effort national. Nous considérons que le FEH doit participer à son
          échelle à la lutte contre la pandémie de Covid-19. <br />
          <br />
          Nous adressons un soutien moral évident au personnel des équipes
          médicales ainsi qu'à leurs familles, mais aussi aux victimes directes
          et indirectes de ce virus. Nous souhaitons du courage aux premières et
          bon rétablissement aux dernières.
        </p>
      </div>
    </div>
  </div>
</div>
