
#equipe .item {
	width: 100px;
	float: left;
	margin: 10px;
	text-align: center;
}


#trombi {
	width: 400px;
	float: left;
}

#trombi .item {
	width: 100	10px;
	height: 80px;
	margin: 15px;
	cursor: pointer;
}

#trombi .item div {
	display: none;
}

#infos {
	width: 250px;
	overflow: hidden;
	float: left;
	margin-left: 20px;
	display: none;
	border-radius: 10px;
	padding: 5px;
	border: 1px solid black;
}

#infos_nom {
	font-family: Bebas, Arial, Geneva, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
}
