<script type="text/javascript" src="/apps/documents/front/js/webforms2.js"></script>
<div style="height :100px; width : 100%;"> 
</div>
{if !empty({$note})}{$note}{/if}
<div class="article">
	<div class="container marketing">
		<div class="row featurette">
			<div class="col-md-12">
				<h2 class="featurette-heading">Documents<span class="text-muted"> </span></h2>
			</div>
			<a href ="http://www.est-horizon.com/upload/files/2015/RIB_FEH.jpg" target="_blank">
			<!--<img src="front/RIB.png" alt="RIB" />-->Télécharger le RIB</a></br>		
			<a href ="/upload/files/2016/Forum%20Est-Horizon_Descriptif%20de%20l'offre.pdf" target="_blank">
			<!--<img src="RIB.png"/>-->Télécharger le Descriptif de l'offre</a></br>
			<a href ="/upload/files/2016/Guide%20de%20l'Exposant%20GEO%20FEH%202016.pdf" target="_blank" >
			<!--<img src="RIB.png"/>-->Télécharger le Guide de l'Exposant</a></br>
		</div>
	</div>
</div>