<script type="text/javascript" src="/apps/contact/front/js/contact_mail.js"></script>
<div class="fleft">
	<aside id="mines" class="box-left">
		<div class="tcenter">
			<a href="http://www.mines-nancy.univ-lorraine.fr/" onclick="window.open(this.href); return false;">
				<img src="/images/logos/ecoles/logo-mines.png" alt="Mines de Nancy" width="180" />
			</a>

		</div>
		<p>Cette année, le Forum Est-Horizon est organisé par des étudiants de l'école des <strong>Mines de Nancy</strong>.</p>
	</aside>
	<div id="files_down" class="box-left">
		<h3 class="hidden">Fichiers à télécharger :</h3>
		<ul>
			<li><a href="/upload/files/2012/plaquette_2012.pdf">Plaquette de présentation 2012</a></li>
		</ul>
	</div>
</div>
<div class="box-center fleft">
	<h1><span>{$title}</span></h1>
	{$content}
</div>
<div class="spacer"></div>
