<h1 class="hidden">Accès</h1>
<div id="maps" class="fleft">
	<div class="box-left">
		<h3>Forum Est-Horizon</h3>
		<p><strong>Centre Prouvé</strong><br />
		Boulevard Joffre<br/>
		54000 Nancy</p>
<iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=boulevard+joffre+nancy&amp;aq=&amp;sll=48.688234,6.178157&amp;sspn=0.004228,0.009645&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Boulevard+Joffre,+Nancy,+France&amp;ll=48.687722,6.178329&amp;spn=0.004228,0.009645&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=boulevard+joffre+nancy&amp;aq=&amp;sll=48.688234,6.178157&amp;sspn=0.004228,0.009645&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Boulevard+Joffre,+Nancy,+France&amp;ll=48.687722,6.178329&amp;spn=0.004228,0.009645&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>		
		<!--à mettre à jour   <p><a href="/upload/files/2011/Informations_pratiques_FEH_2011.pdf">Informations pratiques exposants </a></p> -->
	</div>
</div>
<div id="acces" class="fleft">
	<ul class="menu">
		<li id="lien1" class="button_acces selected"><a href="javascript:void(0);"><img src="/apps/acces/front/images/bus2.png" alt="Bus" /><span>Tram</span></a>
		</li>
		<li id="lien2" class="button_acces">
			<a href="javascript:void(0);"><img src="/apps/acces/front/images/train2.png" alt="Train" /><span>Train</span></a>
		</li>
		<li id="lien3" class="button_acces" style="margin-right: 0;">
			<a href="javascript:void(0);"><img src="/apps/acces/front/images/car2.png" alt="Voiture" /><span>Voiture</span></a>
		</li>
	</ul>
	<div class="spacer"></div>
	<div id="acces_content">
		<div id="acces1" class="box-center">
			<h2 class="tcenter"><span>Utilisez le tram!</span></h2>
			
			<h3>Réseau Stan</h3>
			<p>Vous pouvez vous rendre au forum en utilisant le réseau de bus et de tram de Nancy :
			
			<p><b>Centre Prouvé :</b></p>
			<ul>
				<li>Lignes 2,3,4,5,6,7 - arrêt Gare Thiers Foch</li>
				<li>Lignes 11,12,13,14 - arrêt NANCY Centre de Congrès Prouvé</li>
				<li>Ligne 1 (tram) - arrêt Nancy Gare</li>
			</ul>
			<p><a href="http://www.reseau-stan.com/">Lien vers le site du réseau Stan</a></p>
			
			<p class="tcenter"><img src="/apps/acces/front/images/bus.jpg" alt="Image de bus"/></p>
		</div>
		<div id="acces2" class="box-center hidden">
			<h2 class="tcenter"><span>Venez en train !</span></h2>
			
			<div class="demi_col tcenter border_center">
                <h3>A 1h30 de Paris en TGV</h3>
			    <p>Grâce à la nouvelle ligne LGV-Est, le Forum Est Horizon n'est plus qu'à 1h30 de Paris.</p>
            </div>
			
            <div class="demi_col tcenter">
			    <h3>TER réguliers</h3>
			    <p>Des liaisons régulières entre Nancy et toute la région existent en utilisant le TER Métrolor.</p>
            </div>
			<div class="spacer"></div>
			<p>Pour les exposants qui arrivent en train, le centre Prouvé se situe à 100m de la gare.</p>
			<p class="tcenter"><img src="/apps/acces/front/images/train.jpg" alt="Train"/></p>
		</div>
		<div id="acces3" class="box-center hidden">
			<h2 class="tcenter"><span>En voiture</span></h2>
			
            <div class="demi_col border_center">		
                <ul>
				    <li><a href="http://www.mappy.fr/" onclick="window.open(this.href); return false;">Créez votre itinéraire</a></li>
				    <li><a href="http://france.meteofrance.com/" onclick="window.open(this.href); return false;">Voir les prévisions météo</a></li>
			    </ul>
            </div>	
			
			<div class="demi_col">
                <h3>Centre Prouvé</h3><div/>
			    Boulevard Joffre<br/>
				54000 Nancy
            </div>
			<br/>
			</div>
			<p class="tcenter"><img src="/apps/acces/front/images/voiture.jpg" alt="Train"/></p>
		</div>
	</div>
</div>
<div class="spacer"></div>
<script type="text/javascript" src="/apps/acces/front/js/acces.js"></script>