<script type="text/javascript">
	var maxBox = 5;
</script>
<script type="text/javascript" src="/apps/participer/front/js/anim.js"></script>
<div id="participer" class="visiter">
	<h1><span>Etudiants du Grand-Est, le Forum vous est destiné !</span></h1>
	<div id="box_info">
		<img src="/apps/participer/front/images/fleche_left.png" id="b_last" alt="Précédent" />
		<img src="/apps/participer/front/images/fleche_right.png" id="b_next" alt="Suivant" />
		<div id="effect_correction">
			<div class="part_info" id="info_1">
				<h2 class="hidden"><span>1<sup>er</sup> forum du Nord-Est</span></h2>
				<div class="tag-cloud">
					<a href="/forum/exposants/" title="Voir les exposants 2011"><img src="/apps/participer/front/images/exposants.jpg" alt="Exposants" /></a>
					<!--<a href="http://www.accenture.com/fr-fr"><img src="/images/logos/entreprises/accenture.png" alt="Accenture" /></a>
					<a href="http://www.amadeus.com/fr/fr.html"><img src="/images/logos/entreprises/amadeus.png" alt="Amadeus" /></a>
					<a href="http://www.arcelormittal.com/"><img src="/images/logos/entreprises/arcelormittal.png" alt="Arcelor Mittal" /></a>
					<a href="http://www.areva.com/"><img src="/images/logos/entreprises/areva.png" alt="Areva" /></a>
					<a href="http://www.bnpparibas.net"><img src="/images/logos/entreprises/bnp_paribas.png" alt="BNP Paribas" /></a>
					<a href="http://www.fr.capgemini.com/"><img src="/images/logos/entreprises/cap-gemini.png" alt="Capgemini" /></a>
					<a href="http://france.edf.com"><img src="/images/logos/entreprises/edf.png" alt="EDF" /></a>
					<a href="http://www.hec.fr/"><img src="/images/logos/entreprises/HEC.png" alt="HEC" /></a>-->
				</div>
				<p>Organisé depuis maintenant 28 ans par une association d'étudiants des grandes écoles de Nancy, le Forum a acquis une notorioté unique dans sa région.</p>
				<p>En 2010, il a regroupé <strong>plus de 60 exposants</strong> dont des grands noms du secteur économique susceptibles de vous intéresser pour votre future carrière.</p>
				<p><a href="/forum/exposants/">Voir la liste des exposants 2011</a></p>
				<div class="spacer"></div>
			</div>
			
			<div class="part_info hidden" id="info_2">
				<h2 class="hidden"><span>Venir au forum pour s'informer</span></h2>
				<img class="part-info-img" src="/apps/participer/front/images/brochure.jpg" alt="Brochure" />		
				<p>Avant tout, le forum vous permet de vous <strong>informer</strong> sur les différents choix de carrière qui s'offrent à vous après la fin de vos études.</p>
				<p>Pour ce faire, quoi de mieux que les entreprises qui vous embaucheront plus tard. Vous pourrez <strong>rencontrer les DRH de nombreuses entreprises</strong> afin d'envisager plus facilement votre avenir.</p>
				<p><a href="/forum/programme/" title="Voir le programme">Les tables rondes et les conférences</a> sont aussi un bon moyen de s'informer sur les nombreux domaines que vous pouvez envisager.</p>
			</div>
			
			<div class="part_info hidden" id="info_3">
				<h2 class="hidden"><span>Construire et envisager l'avenir</span></h2>
				<img class="part-info-img" src="/apps/participer/front/images/conf.jpg" alt="Conférence" />
				<p>Le forum est aussi là pour <strong>vous aider à construire votre propre parcours professionnel</strong> et ce de manière active.</p>
				<p>Cette aide passe par l'organisation tout au long de l'année de<strong> tables rondes</strong> sur des thèmes primordiaux pour la construction 
				de votre projet professionnel.</p>
				<p>Conférences, tables rondes, aide à la constitution d'un CV et préparation d'entretiens d'embauche sont au programme.</p>
				<p><a href="/forum/programme/" title="Voir le programme">Voir le programme 2011</a></p>
			</div>
			
			<div class="part_info hidden" id="info_4">
				<h2 class="hidden"><span>Stages et emplois</span></h2>
				<p class="tcenter"><img src="/apps/participer/front/images/drh2.jpg" alt="DRH" /></p>
				<p>Venir au Forum Est Horizon, c'est vous offrir une chance de décrocher un stage ou un emploi dans un domaine qui vous intéresse.</p>
				<p>Toutes les entreprises que vous pourrez rencontrer peuvent vous proposer un entretien préliminaire en vue d'une embauche ou d'un stage futur.<br />
				<strong>Ne ratez pas cette chance.</strong></p>
			</div>
			
			<div class="part_info hidden" id="info_5">
				<h2 class="hidden"><span>Venir au forum, c'est facile</span></h2>
				<img src="/apps/participer/front/images/bus.jpg" alt="Bus" />
				<p>Vous avez <strong>plusieurs manières d'accéder au Forum</strong> : par le train, le tram, le bus ou en voiture.</p>
				<p>Si vous venez <strong>de Metz</strong>, n'hésitez pas à prendre <strong>le train</strong>, le tram au départ de la gare de Nancy vous amènera aux deux campus où se dérouleront le Forum : </p>
				<ul>
					<li>arrêt Blandan pour le Campus ARTEM (Ecole des Mines de Nancy)</li>
					<li>arrêt Callot pour le Campus Aiguillettes (Telecom Nancy)</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="spacer"></div>
	<div id="list_infos">
		<div class="reduc_info selected" id="r_info_1">
			<div class="reduc_info_bg">
				1<sup>er</sup> forum<br />du Nord-Est
			</div>
		</div>
		<div class="reduc_info" id="r_info_2">
			<div class="reduc_info_bg">
				S'informer
			</div>
		</div>
		<div class="reduc_info" id="r_info_3">
			<div class="reduc_info_bg">
				Réflexion<br />carrière
			</div>
		</div>
		<div class="reduc_info" id="r_info_4">
			<div class="reduc_info_bg">
				Stages<br />Emplois
			</div>
		</div>
		<div class="reduc_info" id="r_info_5">
			<div class="reduc_info_bg">
				Facile<br />d'accès
			</div>
		</div>
		<div class="spacer"></div>
	</div>
</div>
<div class="fleft">
    <!--aside id="inscription">
		<div id="formulaire"></div>
		<a href="/cvtheque/">
			<span class="title">Envoyez votre CV et<br/>participez au pôle conseil</span><br />
			<img src="/themes/feh/images/registercard.png" alt="Inscription" />
			<span class="h1_black">Inscrivez-vous</span>
		</a>
	</aside-->
</div>
<div class="spacer"></div>
