<script type="text/javascript" src="/apps/a-propos/front/js/association.js"></script>
<h1 class="hidden">L'association</h1>
<div class="fleft">
	{include file=apps/a-propos/front/templates/nav.html}
	
	<div class="box-left">
		<h2><span>Association</span></h2>
		<h3>Loi 1901</h3>
		<p>Le Forum Est-Horizon est une association de type <em>loi 1901</em> à but non lucratif. Elle existe depuis maintenant 28 ans.</p>
		<p>L'ensemble de ses membres sont des bénévoles.</p>
	</div>
	<div class="box-left">
		<h2><span>Election</span></h2>
		<h3>Une campagne tous les ans</h3>

		<p>Chaque année, les membres de l'association sont élus par les élèves de l'Ecole des Mines de Nancy, après une campagne de 3 ou 4 jours.</p>
		<p>Durant cette campagne, la coordination, l'entente, l'imagination, la gestion, la logistique et l'endurance sont mises à rude épreuve afin de prouver la compétence de l'équipe à organiser le Forum Est-Horizon.</p>
	</div>
</div>
<div id="equipe" class="box-center fleft">
	<h2><span>Notre équipe</span></h2>
	
	<p>Depuis sa création, il y a 30 ans, le Forum Est-Horizon est une association gérée par une équipe soudée de jeunes bénévoles&nbsp;: 17 étudiants polyvalents de l'Ecole des Mines de Nancy mettent leurs compétences au service des entreprises pour préparer ce grand évènement.</p>
	<p>Le Forum Est-Horizon est présidé par <strong>Thibault LE BOURDIEC</strong>.</p>
	
		<div id="trombi">
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Thibault_LeBourdiec.JPG" alt="LE BOURDIEC Thibault" style="max-width: 100px"/><br />
			<div><span title="nom">LE BOURDIEC Thibault</span><br />
			<span title="poste">Président</span><br />
			<span title="email">thibault.le-bourdiec8@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Antoine_Jaillet.JPG" alt="JAILLET Antoine" style="max-width: 100px"/><br />
			<div><span title="nom">JAILLET Antoine</span><br />
			<span title="poste">Vice-Président</span><br />
			<span title="email">antoine.jaillet1@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Camille_Schneider.JPG" alt="SCHNEIDER Camille" style="max-width: 100px"/><br />
			<div><span title="nom">SCHNEIDER Camille</span><br />
			<span title="poste">Secrétaire Générale</span><br />
			<span title="email">camille.schneider9@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Jérome_Azzola.JPG" alt="AZZOLA Jérome" style="max-width: 100px"/><br />
			<div><span title="nom">AZZOLA Jérome</span><br />
			<span title="poste">Trésorier</span><br />
			<span title="email">jerome.azzola5@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Guillaume_Tcherniatinsky.JPG" alt="TCHERNIATINSKY Guillaume" style="max-width: 100px"/><br />
			<div><span title="nom">TCHERNIATINSKY Guillaume</span><br />
			<span title="poste">Responsable relations entreprises</span><br />
			<span title="email">guillaume.tcherniatinsky1@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Antoine_Pingault.JPG" alt="PINGAULT Antoine" style="max-width: 100px"/><br />
			<div><span title="nom">PINGAULT Antoine</span><br />
			<span title="poste">Relations entreprises</span><br />
			<span title="email">antoine.pingault1@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Annas_Moumen.jpg" alt="MOUMEN Anas" style="max-width: 100px"/><br />
			<div><span title="nom">MOUMEN Anas</span><br />
			<span title="poste">Relations entreprises</span><br />
			<span title="email">anas.moumen3@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Norah_Er-rouhly.JPG" alt="ER-ROUHLY Nora" style="max-width: 100px"/><br />
			<div><span title="nom">ER-ROUHLY Nora</span><br />
			<span title="poste">Relations entreprises</span><br />
			<span title="email">nora.er-rouhly9@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Guillaume_Tyson.JPG" alt="TYSON Guillaume" style="max-width: 100px"/><br />
			<div><span title="nom">TYSON Guillaume</span><br />
			<span title="poste">Logistique</span><br />
			<span title="email">guillaume.tyson8@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Emile_Vernier.JPG" alt="VERNIER Emille" style="max-width: 100px"/><br />
			<div><span title="nom">VERNIER Emille</span><br />
			<span title="poste">Logisitique</span><br />
			<span title="email">emile.vernier9@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/David_Emadzadeh.JPG" alt="EMADZADEH David" style="max-width: 100px" /><br />
			<div><span title="nom">EMADZADEH David</span><br />
			<span title="poste">Communication Extérieure</span><br />
			<span title="email">david.emadzadeh2@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Matthias_Bitsch.JPG" alt="BITSCH Matthias" style="max-width: 100px"/><br />
			<div><span title="nom">BITSCH Matthias</span><br />
			<span title="poste">Communication Intérieure</span><br />
			<span title="email">matthias.bitsch9@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Bleda.jpg" alt="BLEDA Lucie" /><br />
			<div><span title="nom">BLEDA Lucie</span><br />
			<span title="poste">PAO</span><br />
			<span title="email">lucie.bleda7@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Nicolas_Anglade.JPG" alt="ANGLADE Nicolas" style="max-width: 400px"/><br />
			<div><span title="nom">ANGLADE Nicolas</span><br />
			<span title="poste">Transport & Restauration</span><br />
			<span title="email">nicolas.anglade9@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Yoann_Chevalier.JPG" alt="CHEVALIER Yoann" style="max-width: 400px"/><br />
			<div><span title="nom">CHEVALIER Yoann</span><br />
			<span title="poste">Informatique</span><br />
			<span title="email">yoann.chevalier4@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Maxence_Ho.jpg" alt="HO Maxence" style="max-width: 400px"/><br />
			<div><span title="nom">HO Maxence</span><br />
			<span title="poste">Informatique</span><br />
			<span title="email">maxence.ho3@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2013/Myriam_Bloch.JPG" alt="BLOCH Myriam" style="max-width: 400px"/><br />
			<div><span title="nom">BLOCH Myriam</span><br />
			<span title="poste">Tables rondes / Conférences</span><br />
			<span title="email">myriam.bloch6@etu.univ-lorraine.fr</span></div>
		</div>
		<div class="spacer"></div>
	</div>
	<div id="infos">
		<span id="infos_nom"></span><br /><br />
		<strong>Fonction :</strong> <span id="infos_poste"></span><br />
		<strong>Email :</strong> <span id="infos_email"></span>
	</div>
</div>
<div class="spacer"></div>
