<?php if (!empty($this->tpl_vars['note'])): ?><?php echo $this->tpl_vars['note']; ?><?php endif; ?>
<?php echo $this->tpl_vars['pagination']; ?>
<table class="liste sorted" cellpadding="0" cellspacing="0">
	<colgroup>
		<col style="width: 25%;" />
		<col style="width: 15%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<tr>
		<th>Ecole</th>
		<th>Nom</th>
		<th>Prenom</th>
		<th>connu 2</th>
		<th>connu 3</th>
		<th>connu 4</th>
		<th>connu 5</th>
		<th>connu 6</th>
	</tr>
	<?php $this->tpl_vars['count'] = 0;if (isset($this->tpl_vars['visiteurs_block']) && is_array($this->tpl_vars['visiteurs_block'])):
	foreach ($this->tpl_vars['visiteurs_block'] as $this->tpl_vars['visiteurs']): ?>

	<tr class="<?php if ($this->tpl_vars['count'] % 2 == 0): ?>pair<?php else: ?>impair<?php endif; ?>">
			<td><strong><?php echo $this->tpl_vars['visiteurs']['autres']; ?></strong></td>
			<td><?php echo $this->tpl_vars['visiteurs']['nom']; ?></td>
			<td><?php echo $this->tpl_vars['visiteurs']['prenom']; ?></td>
			<!--<td class="tcenter"><?php echo $this->tpl_vars['visiteurs']['mail']; ?></td>-->
			<!--<td class="tcenter"_
				<?php if (!empty($this->tpl_vars['newsletter']['attachment'])): ?><img src="/themes/system/images/icones/juste.png" alt="Non" />
				<?php else: ?><img src="/themes/system/images/icones/del.png" alt="Oui" /><?php endif; ?>
			</td>
			<td class="tcenter">
				<a href="/admin/newsletter/read/<?php echo $this->tpl_vars['newsletter']['id']; ?>/" title="Lire"><img src="/themes/system/images/icones/letter.png" alt="Lire" /></a>
			</td>-->
		</tr>
	<?php $this->tpl_vars['count']++; endforeach; endif; ?>
	<?php if ($this->tpl_vars['count'] == 0): ?>
		<tr>
			<td colspan="5" class="tcenter">Aucune donnée </td>
		</tr>
	<?php endif; ?>
</table>
<?php echo $this->tpl_vars['pagination']; ?>