
.title
{
	
	font-size: 2.5em;
	text-align:center;
	color: rgb(150,130,70);
	position: relative;
	bottom: 35px;
	
}
#pack
{
text-align: center;
}
.frm
{
position : relative;
left : 30px;
bottom : 30px;
}
#choix
{
position : relative;
left : 30px;
}
#reg-button
{
position : relative;
left : 135px;
top :-120px;
}
#total
{
position : relative;
left : -100px;
font-size: 2.5em;
color:green;
font-weight: bold;
text-align:right;
}

#total2
{
position : relative;
left : -100px;
font-size: 2.5em;
font-weight: bold;
text-decoration : underline;
text-align:right;
}
#total3
{
position : relative;
left : -75px;
top : -38px;
font-size: 2.5em;
color:green;
font-weight: bold;
text-align:right;
}
#cool
{
position : relative;
top :-120px;
}
#prix
{
color :green;
position: relative;
left :25px;
}

#et
{
font-weight : bold;
text-decoration: underline;
}
/*
.frm
{
position : relative;
text-align : center;
left : 00px;
top : 50px;
}*/
