
<h1 class="hidden">Bienvenue sur le site du Forum Est-Horizon</h1>
<div class="fleft">
	<aside id="forum" class="box-left">
		<div class="tcenter">
			<img src="/images/logos/FEH-logo-fleche-haute.png" alt="Mines de Nancy" width="180" />
		</div>
		<p><strong>Le Forum Est-Horizon</strong> est l'un des plus grands salons de rencontres entre étudiants et entreprises organisés dans l'Est de la France.</p>
	</aside>
	<aside id="mines" class="box-left">
		<div class="tcenter">
			<a href="http://www.mines-nancy.univ-lorraine.fr/" onclick="window.open(this.href); return false;">
				<img src="/images/logos/ecoles/logo-mines.png" alt="Mines de Nancy" width="120" /></a>
				<!--<img src="/images/logos/ecoles/logo-ensem.png" alt="ENSEM" width="180" />-->
				<a href="http://www.geologia.fr/accueil/" onclick="window.open(this.href); return false;">
				<img src="/images/logos/ecoles/ensg2.png" alt="ENSG" width="120" />
			</a>
		</div>
		<p>Le Forum Est-Horizon est organisé par des élèves de l'école des <strong>Mines de Nancy</strong> en association, cette année, avec des élèves de l'<strong>ENSG</strong>.</p>
	</aside>
	<!-- <section id="statistiques" class="box-left">
		<h2><span>Visiteurs en 2012</h2>
		<h2>au Campus Artem</span></h2>
		<h3 class="tcenter">Environ 1 000 visiteurs</h3>
		<table>
			<tr>
				<td class="acc_label">Ecole des Mines</td>
				<td class="acc_lvl1">35%</td>
			</tr>
			<tr>
				<td class="acc_label">ICN</td>
				<td class="acc_lvl2">18%</td>
			</tr>
			<tr>
				<td class="acc_label">Telecom Nancy</td>
				<td class="acc_lvl2">8%</td>
			</tr>
			<tr>
				<td class="acc_label">ENSEM</td>
				<td class="acc_lvl3">9%</td>
			</tr>
			<tr>
				<td class="acc_label">ENSAIA</td>
				<td class="acc_lvl3">5%</td>
			</tr>
			<tr>
				<td class="acc_label">Autre &nbsp;(ENSGSI, Fac de Science, ESSTIN, ENSG)</td>
				<td class="acc_lvl3">25%</td>
			</tr>
		</table>
	</section> -->
	
	<section id="files_down" class="box-left">
		<h3>Ressources</h3>
		<ul>
			<li><a href="/upload/files/2015/Plaquette entreprises 2015.pdf">Plaquette 2015</a></li>
		</ul>
	</section>
	<figure class="twitter">
	<a href="https://twitter.com/forumesthorizon" target="_blank" title="Visitez notre page Twitter"><img src="/images/logos/twitter.png" alt="Twitter" width="48"></a>
	</figure>
	
	<figure class="linkedin">
	<a href="https://fr.linkedin.com/pub/forum-est-horizon/99/b32/9b0" target="_blank" title="Visitez notre page LinkedIn"><img src="/images/logos/ln.png" alt="LinkedIn" width="48"></a>
	</figure>
	
	<figure class="facebook">
	<a href="https://fr-fr.facebook.com/pages/Forum-Est-Horizon/225296360945762" target="_blank" title="Visitez notre page Facebook"><img src="/images/logos/fb.png" alt="Facebook" width="48"></a>
	</figure>
</div>

<div class="fleft center"> 
	<div id="actu" class="box-center min">
	 <figure class="title">
 <p><br/>Descrition de votre entreprise</p></figure>
 
 

<form method="post" enctype="multipart/form-data" class="frm" action=""> 


{block name="ent"}
<tr>
		<td><label for="name"></label>Nom de l'entreprise :&nbsp; </td>
		<td><input type="text" id="name" name="name" value="{$ent.name}" required/><br>
</tr>
<p style="font-weight : bold; fon-size : 1.9em;"> Adresse du siège social</p></br>
<tr>
		<td><label for="adress"></label>Adresse :&nbsp; </td>
		<td><input type="text" id="adress" name="adress" value="{$ent.adress}" size="28" required/><br>
</tr>

<tr>
		<td><label for="postal_code"></label>Code Postal :&nbsp; </td>
		<td><input type="text" id="postal_code" name="postal_code" value="{$ent.postal_code}" size="8" required/><br>
</tr>

<tr>
		<td><label for="city"></label>Ville :&nbsp; </td>
		<td><input type="text" id="city" name="city" value="{$ent.city}" size="8" required/><br>
</tr>

<tr>
		<td><label for="country"></label>Pays :&nbsp; </td>
		<td><input type="text" id="country" name="country" value="{$ent.country}" size="8" required/><br>
</tr></br>
<p style="font-weight : bold; fon-size : 1.9em;"> Adresse de facturation</p></br>
<tr>
		<td><label for="adress2"></label>Adresse :&nbsp; </td>
		<td><input type="text" id="adress2" name="adress2" value="{$factu.adress}" size="28"><br>
</tr>

<tr>
		<td><label for="postal_code2"></label>Code Postal :&nbsp; </td>
		{if $factu.postal_code==0}
		<td><input type="text" id="postal_code2" name="postal_code2" value="" size="8"><br>
		{/if}
		{if $factu.postal_code!=0}
		<td><input type="text" id="postal_code2" name="postal_code2" value="{$factu.postal_code}" size="8"><br>
		{/if}
</tr>

<tr>
		<td><label for="city2"></label>Ville :&nbsp; </td>
		<td><input type="text" id="city2" name="city2" value="{$factu.city}" size="8"><br>
</tr>

<tr>
		<td><label for="country2"></label>Pays :&nbsp; </td>
		<td><input type="text" id="country2" name="country2" value="{$factu.country}" size="8"><br>
</tr></br>



<p style=" text-align : center; font-size:1.9em;font-weight:bold;">Responsable pour le Forum :<p>
<tr>
		<td><label for="nom"></label>Nom :&nbsp;</td>
		<td><input type="text" id="nom" name="nom" value="{$contact.nom}" required/><br>
</tr>
<tr>
		<td><label for="prenom"></label>Prénom :&nbsp; </td>
		<td><input type="text" id="prenom" name="prenom" value="{$contact.prenom}" size="28" required/><br>
</tr>

<tr>
		<td><label for="tel_fixe"></label>Téléphone :&nbsp; </td>
		<td><input type="text" id="tel_fixe" name="tel_fixe" value="{$contact.tel_fixe}" size="8"><br>
</tr>

<tr>
		<td><label for="email"></label>Email :&nbsp; </td>
		<td><input type="text" id="email" name="email" value="{$contact.email}" size="18" required\><br>
</tr>



		
	<input id="reg-button" name="submit" type="submit" value="Modifier" style="positon : relative; top : 20px;left : 150px;text-align :center; font-weight : bold" />
	
 {/block}       
				
</form>
	
	

	</div>
</div></div>
<div class="fleft">
	
    <?php if (true): ?>
	<!--
	<figure class="geol">	-->
	<aside id="inscriptiong">
		<div id="formulaire"></div>
		<h3>En association avec</h3>
		<br/>
		
<a href="http://www.geologia.fr/accueil/" onclick="window.open(this.href); return false;" title="Géologia"><img src="/images/logos/ecoles/ensg_b.png" alt="Geologia" width="120"/></a>
	</aside><!--</figure>-->
	<!--
	<figure class="geol">			
	<div class="box-right tcenter">			
	
	<h3>En association avec</h3>
		<br/>
		
<a href="http://www.geologia.fr/accueil/" onclick="window.open(this.href); return false;" title="ENSG"><img src="/images/logos/ecoles/ensg.png" alt="Michelin" width="100"/></a>
		
		</div></figure>-->
	<div class="box-right tcenter">
		<h3>Partenaire principal</h3>
		<br/>
		<div class="tcenter">
			<a href="https://www.michelin.fr/" onclick="window.open(this.href); return false;" title="Michelin"><img src="/images/logos/entreprises/Michelin_logo.png" alt="Michelin" width="170"/></a>
		</div>
		<br/>
	</div>
	<div class="box-right tcenter">
		<h3>Partenaire bancaire</h3>
		<br/>
		<div class="tcenter">
			<a href="https://www.ca-lorraine.fr/" onclick="window.open(this.href); return false;" title="Le Crédit Agricole de Lorraine"><img src="/images/logos/entreprises/ca-lorraine.png" alt="Le Crédit Agricole de Lorraine" width="150"/></a>
		</div>
		<br/>
	</div>
	<div class="box-right tcenter">
		<h3><span>Partenaires Médias</span></h3>
        <br/>
		<div class="tcenter">
			<a href="http://www.virginradio.fr/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/virgin-radio.jpg" alt="Virgin Radio" width="150"/></a>	
			<a href="http://www.iquesta.com///" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/iquesta.jpg" alt="iQuesta" width="150"/></a>
			<a href="http://www.regionsjob.com/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/estjob.jpg" alt="Regionsjob" width="150"/></a>
			<a href="http://www.http://www.studyrama.com/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/studyrama.gif" alt="Studyrama" width="150"/></a>
			<br/>
			<a href="http://www.lemoniteur.fr/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/moniteur.jpg" alt="Le Moniteur" width="150"/></a>
			<a href="http://www.lepoint.fr///" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/lepoint.jpg" alt="Le Point" width="150"/></a>
			<a href="http://www.letudiant.fr/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/letudiant.png" alt="L'étudiant" width="150" /></a>
		</div>
		<br/>
	</div>
	<div class="box-right tcenter">
		<h3><span>Autres Partenaires</span></h3>
		<br/>
			<a href="http://relais-amical.malakoffmederic.com/index.html" onclick="window.open(this.href); return false;"><img src="/images/logos/autres/malakoff.png" alt="Relais Malakoff Médéric" width="150" /></a>
			<a href="https://www.rotary.org/fr" onclick="window.open(this.href); return false;"><img src="/images/logos/autres/logo_rotary.png" alt="Rotary Club" width="150" /></a>

        <br/>
	</div>
	<?php endif; ?>
</div>
<div class="spacer"></div>
