<script type="text/javascript">
		var maxBox = 21;
</script>
	<script type="text/javascript" src="/apps/participer/front/js/anim.js"></script>

<div id="photo">

	<h1><span>Les photos du Forum 2014</span></h1>
	<div id="box_info">
		<img src="/apps/preforum/front/images/fleche_left.png" id="b_last" alt="Précédent" />
		<img src="/apps/preforum/front/images/fleche_right.png" id="b_next" alt="Suivant" />
		<div id="effect_correction">		
			<!--<div class="part_info hidden" id="info_1">-->
			<div class="tag-cloud" id="info_1">
				<img src="/images/forum/Photo_Forum_2014/13.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_2">
				<img src="/images/forum/Photo_Forum_2014/9.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_3">
				<img src="/images/forum/Photo_Forum_2014/15.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_4">
				<img src="/images/forum/Photo_Forum_2014/13.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_5">
				<img src="/images/forum/Photo_Forum_2014/16.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_6">
				<img src="/images/forum/Photo_Forum_2014/19.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_7">
				<img src="/images/forum/Photo_Forum_2014/17.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_8">
				<img src="/images/forum/Photo_Forum_2014/8.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_9">
				<img src="/images/forum/Photo_Forum_2014/9.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_10">
				<img src="/images/forum/Photo_Forum_2014/10.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_11">
				<img src="/images/forum/Photo_Forum_2014/11.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_12">
				<img src="/images/forum/Photo_Forum_2014/12.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_13">
				<img src="/images/forum/Photo_Forum_2014/13.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_14">
				<img src="/images/forum/Photo_Forum_2014/14.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_15">
				<img src="/images/forum/Photo_Forum_2014/15.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_16">
				<img src="/images/forum/Photo_Forum_2014/16.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_17">
				<img src="/images/forum/Photo_Forum_2014/17.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_18">
				<img src="/images/forum/Photo_Forum_2014/18.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_19">
				<img src="/images/forum/Photo_Forum_2014/19.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_20">
				<img src="/images/forum/Photo_Forum_2014/20.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_21">
				<img src="/images/forum/Photo_Forum_2014/21.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			<div class="part_info hidden" id="info_22">
				<img src="/images/forum/Photo_Forum_2014/22.JPG" height="370"/>
				<div class="spacer"></div>
			</div>
			
							

		</div>
		<div class="spacer"></div>
	</div>
</div>
<div class="fleft">
	<!--<div id="files_down">
		<p> Merci au club photo du BDA de Mines Nancy pour ses photos.</p>
		<p> Vous pouvez télécharger toutes ces photos en cliquant <a href="/images/forum/Photo_Forum_2014.zip">ici</a>.
	</div>-->
</div>

<div class="spacer"></div>
