<script type="text/javascript">
	var maxBox = 4;
</script>
<script type="text/javascript" src="/apps/participer/front/js/anim.js"></script>
<div id="participer">
	<h1><span>Pourquoi exposer au Forum ?</span></h1>
	<div id="box_info">
		<img src="/apps/participer/front/images/fleche_left.png" id="b_last" alt="Précédent" />
		<img src="/apps/participer/front/images/fleche_right.png" id="b_next" alt="Suivant" />
		<div id="effect_correction">
			<div class="part_info" id="info_1">
				<h2 class="hidden"><span>Public ciblé</span></h2>
				<div class="tag-cloud">
					<a href="http://artem-nancy.fr/"><img src="/images/logos/ecoles/artem.png" alt="artem" width="100"/></a>					
					<a href="http://www.mines-nancy.univ-lorraine.fr/"><img src="/images/logos/ecoles/mines.png" alt="mines de nancy" width="100"/></a><br />
					<!--<a href="http://www.ensa-nancy.fr/"><img src="/images/logos/ecoles/ensa.png" alt="ensa" width="100"/></a>
					<a href="http://www.icn-groupe.fr/fr/"><img src="/images/logos/ecoles/icn.png" alt="icn" width="100"/></a>
					
					<!--<a href="http://www.cg54.fr/"><img src="/images/logos/ecoles/cg54.jpg" alt="cg54" /></a>-->
					<!--<a href="http://www.lorraine.eu/"><img src="/images/logos/ecoles/crlorraine.png" alt="crlorraine" /></a>-->
					<!--<a href="http://www.telecomnancy.eu/" /><img src="/images/logos/ecoles/logo-esial.png" width="100" alt="telecom nancy"/></a>
					<!--<a href="http://www.ensam.eu/fr/centres_et_instituts/centre_metz"><img src="/images/logos/ecoles/ensam.png" alt="ensam" width="100" /></a>-->
					<!--<a href="http://www.fly2ensem.com/"><img src="/images/logos/ecoles/ensem.png" alt="ensem" width="100"/></a>-->
					<a href="http://www.geologia.fr/accueil/"><img src="/images/logos/ecoles/ensg2.png" alt="ensg" width="61"/></a>
					
					<!--<a href="http://eeigm.univ-lorraine.fr/"><img src="/images/logos/ecoles/eeigm.png" alt="eeigm" width="100"/></a>-->
					
					
					<!--<a href="http://www.esstin.uhp-nancy.fr/"><img src="/images/logos/ecoles/esstin.png" alt="esstin" width="100"/></a>-->
					<!--<a href="http://www.grand-nancy.org/"><img src="/images/logos/ecoles/grnancy.jpg" alt="grand nancy" /></a>-->
									
				</div>
				<p>Le Forum est le fruit du travail d'élèves de <strong>Mines de Nancy</strong>, de l'<strong>ENSG</strong><!--, de l'<strong>ICN Business School</strong>, de l'<strong>ENSEM</strong> et de <strong>TELECOM Nancy</strong>-->. Il permet donc de balayer un large domaine de compétences : <strong>industrie, énergie, géosciences, BTP, informatique, audit, conseil, etc.</strong></p>
				<p>Cette ouverture est un gage de la diversité des profils étudiants que vous rencontrerez lors du Forum afin de mieux vous faire connaître ou de recruter des jeunes diplômés.<br />
				L'an dernier, environ <strong>1&nbsp;000 étudiants</strong> y ont participé.</p>
				<div class="spacer"></div>
			</div>
						<div class="part_info hidden" id="info_2">
				<h2 class="hidden"><span>Visibilité Publicité</span></h2>
				
				Nous nous appuyons sur une <strong>médiatisation d'envergure</strong> :
				<ul>
					<li>Avant la manifestation, des interventions dans tous les établissements d'enseignement supérieur de Nancy</li>
					<li>Affiches aux arrêts de tramways</li>
					<li>Pages de publicité dans des magazines étudiants</li>
					<li>Spots publicitaires diffusé sur le campus ARTEM</li>
					<!--<li>Logo du Forum Est-Horizon sur les serviettes du CROUS</li>-->
				</ul>
				<!--Avant le Forum, une large campagne de <strong>panneaux d'affichage</strong> est lancée dans toute la ville de Nancy et ses alentours.<br/>
				<strong>Au cours de l'évènement</strong> il vous est possible de diffuser un <strong>spot publicitaire</strong> sur des écrans mais aussi 
				<strong>d'afficher votre logo sur les goodies</strong> qui seront distribués. Vous pouvez également demander une <strong>page de publicité</strong> dans la brochure visiteurs.<br/>-->
				
				<div class="tcenter"><img src="/apps/acces/front/images/bus.jpg" alt="Bus" /></div>
				
				<p class="asterix">* Réservation et tarifs sur ce site</p>
			</div>
			<div class="part_info hidden" id="info_3">
				<h2 class="hidden"><span>Stands personnalisés</span></h2>
				<img src="/apps/participer/front/images/stand.jpg" alt="Exemple mobilier stand" style="margin-bottom: 0.5em;" />
				Pour constituer votre stand, vous aurez le choix parmi un large éventail de mobiliers. Le pack de base est constitué de deux tabourets et d'une banque d'accueil.<br />
				<ul>
					<li>accès gratuit à un branchement électrique, internet, une photocopieuse et un poste téléphonique ;</li>
					<li><strong>en option</strong> : location de matériel multimédia (téléviseur...).</li>
				</ul>
				
				<p class="asterix">* Réservation sur ce site</p>
			</div>
			<div class="part_info hidden" id="info_4">
				<h2 class="hidden"><span>Les plus du Forum</span></h2>
				
				<img class="part-info-img" src="/apps/participer/front/images/brochure.jpg" alt="Brochure" />				
				
				<p>Le Forum est organisé à Nancy, au cœur de l'Europe, à seulement <strong>1h30 de Paris en TGV</strong>.<br />
				Afin que votre journée se déroule au mieux, un étudiant vous accompagnera pendant toute la durée du salon. Un repas vous sera servi entre 12h et 13h30.</p>
				
				<p>Une <strong>page de présentation</strong> de votre entreprise sera publiée dans la <strong>Brochure Visiteurs</strong>.</p>
				<div class="spacer"></div>
			</div>
		</div>
	</div>
	</br>
	</br>
	<div id="list_infos">
		<div class="reduc_info selected" id="r_info_1">
			<div class="reduc_info_bg">
				<img src="/apps/participer/front/images/ico_scope.png" />
				Public ciblé
			</div>
		</div>
		<div class="reduc_info" id="r_info_2">
			<div class="reduc_info_bg">
				<img src="/apps/participer/front/images/ico_pub.png" />
				Visibilité<br/>
				Publicité
			</div>
		</div>
		<div class="reduc_info" id="r_info_3">
			<div class="reduc_info_bg">
				<img src="/apps/participer/front/images/ico_stand.png" />
				Stands
				personnalisés
			</div>
		</div>
		<div class="reduc_info" id="r_info_4">
			<div class="reduc_info_bg">
				<img src="/apps/participer/front/images/ico_plus.png" /><br />
				Les plus<br/>
				du Forum
			</div>
		</div>
		<div class="spacer"></div>
	</div>
</div>
<div class="fleft">
	<div id="files_down">
		<h3>Fichiers à télécharger :</h3>
		<ul>
			<li><a href="/upload/files/2015/Plaquette entreprises 2015.pdf">Plaquette de présentation 2015</a></li>
			
		</ul>
	</div>
	<!--<div id="inscription">
		<div id="formulaire"></div>
		<a id="button_form" href="#formulaire">
			<span class="title">Vous voulez devenir<br/> exposant ?</span><br />
			<img src="/themes/feh/images/registercard.png" alt="Inscription" />
			<span class="h1_black">Inscrivez-vous</span>
		</a>
	</div>-->
</div>
<div class="spacer"></div>
