
 <figure class="title">
 <p><br/>Formulaire d'inscription</p></figure>

<form method="post" enctype="multipart/form-data" class="frm" action=""> 
	
		Nom : 
	<tr>
		<td><label for="nom"></label></td><br/>
		<td><input type = "text" id="nom" name= "nom" value= "" required/></td>
	</tr>	
	 
	 </br></br>
	 Prénom	: 	
	 <tr>
		<td><label for="prenom"></label></td><br/>
		<td><input type = "text" id="prenom" name= "prenom" value= "" required/></td>
	</tr>
	 
	 </br></br>
	 e-mail	: 	
	  <tr>
		<td><label for="email"></label></td><br/>
		<td><input type = "email" id="mail" name= "mail" value= "" required/></td>
	</tr>
	 
	 </br> </br></br>
	Quelle est votre formation?</br>
	<tr>
		<td><label for="ecole"></label></td>
		<td>
	 <select id="ecole" name= "ecole" required>
		<option></option>
		<!--<option value = "01">Sciences et Technologies</option>
		<option value = "02">Faculté de Droit, Sciences Economiques et Gestion</option>
		<option value = "03">Mathématiques et Informatique</option>-->
		<option disabled="disabled">-Ecoles d'ingénieurs-</option>
		<option value = "05">CESI</option>
		<option value = "06">EEIGM</option>
		<option value = "07">ENGREF</option>
		<option value = "08">ENSAIA</option>
		<option value = "09">ENSEM</option>
		<option value = "10">ENSG</option>
		<option value = "11">ENSGSI</option>
		<option value = "12">ENSIC</option>
		<option value = "13">ESSTIN</option>
		<option value = "14">Mines Nancy</option>
		<option value = "15">TELECOM Nancy</option>
		<option disabled="disabled">-Ecoles d'informatique-</p></option>
		<option value = "04">EPITECH</option>
		<option disabled="disabled">-Ecoles de Management-</option>
		<option value = "16">ICN</option>
		<option value = "17">ISAM-IAE</option>
		<option disabled="disabled">-Masters-</option>
		<option value = "18">Administration des affaires</option>
		<option value = "19">Economie appliquée</option>
		<option value = "20">Finance, contrôle, comptabilité</option>
		<option value = "21">Marketing & ventes
		<option value = "22">Information et communication
		<option value = "23">Sciences pour l'ingénieur et sciences des matériaux
		<option value = "24">Physique
		<option value = "25">Méthodes informatiques appliquées à la gestion des entreprises
		<option value = "26">Mécanique, énergie, Procédés et Produits
		<option value = "27">Mathématiques
		<option value = "28">Ingénierie électrique, électronique et informatique industrielle
		<option value = "29">Ingénierie des systèmes complexes
		<option value = "30">Ingénierie du développement durable
		<option value = "31">Informatique
		<option value = "32">Génie civil

		<option disabled="disabled">-Autre-</option>
		<option value = "33">Autre</option>		
	</select></td>
	</tr>
	
	</br> 
	Si "Autre" préciser : 
	<tr>
		<td><label for="autres"></label></td>
		<td><input type = "text" id="autres" name= "autres" value= "" /></td>
	</tr>
	
	</br></br></br>
	
	Comment connaissez-vous le Forum Est-Horizon ?</br>
<tr>
		<td><label for="connu1"></label></td>
		<td><input type="checkbox" id="connu1" name="connu1" value="1">Réseaux sociaux<br></td>
	</tr>
		<tr>
		<td><label for="connu2"></label></td>
		<td><input type="checkbox" id="connu2" name="connu2" value="1">Site internet du Forum Est-Horizon<br></td>
	</tr>
	<tr>
		<td><label for="connu3"></label></td>
		<td><input type="checkbox" id="connu3" name="connu3" value="1">Via vos responsables de formations<br></td>
	</tr>
	<tr>
		<td><label for="connu4"></label></td>
		<td><input type="checkbox" id="connu4" name="connu4" value="1">Affiches publicitaires aux arrêts de tram<br></td>
	</tr>
	<tr>
		<td><label for="connu5"></label></td>
		<td><input type="checkbox" id="connu5" name="connu5" value="1">Mail de l'Université de Lorraine<br></td>
	</tr>		
		
		
		
		
	</br>
	<input id="reg-button" name="submit" type="submit" value="S'inscrire" />
	
        
				
</form>
			
			
<!--			
<form method="post" id="customForm" action="">
	<div id="blocks">
		<div class="block">
			<div class="top"></div>
			<br />
			<a href="javascript:void(0)" onclick="ajouterligne();">
				<img src="/apps/fdh/admin/templates/ico_plus.png" alt="+" /> <strong>Ajouter une ligne</strong></a>
			<br /><br />
			<a href="javascript:void(0)" onclick="suppligne();">
				<img src="/apps/fdh/admin/templates/ico_moins.png" alt="-"/> <strong>Retirer une ligne</strong></a>
			<br />
			<input id="submit" class="button-submit" type="submit" value="Send" />
		</div>
	</div>
	<div id="content"> 
		{if !empty({$note})}{$note}{/if}
		<table id="tableau" class="liste" cellpadding="0" cellspacing="0">
			<colgroup>
				<col style="width: 5%;" />
				<col style="width: 15%;" />
				<col style="width: 15%;" />
				<col style="width: 20%;" />
				<col style="width: 20%;" />
			</colgroup>
			<tr id="ligne">
				<th>N&deg;</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Bus de retour</th>
				<th>Mode de paiement</th>
			</tr>
			{block name="a_reinscrire"}
			{if $t = {$count} +1}{/if}
			<tr id="row-{$t}" class="{if {$count} % 2 == 1}pair{else}impair{/if}">
				<td>{$t}</td>
				<td><input name="nom[]" type="text" {if !empty({$a_reinscrire.nom})}value="{$a_reinscrire.nom}"{/if} /></td>
				<td><input name="prenom[]" type="text" {if !empty({$a_reinscrire.prenom})}value="{$a_reinscrire.prenom}"{/if} /></td>
				<td>
					<select name="bus[]">
					{if (!empty({$a_reinscrire.bus}))}
						<option value="{$a_reinscrire.bus}">{$a_reinscrire.bus_lieu}{if ({$a_reinscrire.bus_numero} !=0)} N°{$a_reinscrire.bus_numero}{/if}-{$a_reinscrire.bus_heure}</option>
					{else}
						<option value="0">Veuillez choisir un bus</option>
					{/if}
					{$bus_select}
					</select> 
				</td>
				<td>
					<select name="paymod[]">
						<option value="0">Moyen de paiement</option>
						<option value="1" {if (!empty({$a_reinscrire.paymod}) && ({$a_reinscrire.paymod}==1))}selected="selected"{/if}>Chèque(ordre : Forum Est-Horizon)</option>
						<option value="2" {if (!empty({$a_reinscrire.paymod}) && ({$a_reinscrire.paymod}==2))}selected="selected"{/if}>Liquide</option>
						{if isset({$enable})}
						<option value="3" {if (!empty({$a_reinscrire.paymod}) && ({$a_reinscrire.paymod}==3))}selected="selected"{/if}>Exonéré</option>
						{/if}
					</select> 
				</td>
			</tr>
			{/block}
		</table>
		
		<script type="text/javascript">
			var current = {$t};
			
			function ajouterligne() {
				current++;
				$('#row-1').clone().attr('id', 'row-'+current).insertAfter('#row-'+(current-1));
				$('#row-'+current).find('input').val('');
				$('#row-'+current).find('select').val(0);
				$('#row-'+current).find('td').first().html(current);
			}
			
			function suppligne() {
				if (current > 1) {
					$('#row-'+current).remove();
					current--;
				}		
			}
		</script>
	</div>
</form>
<div class="clear"></div>-->
