
<h1 class="hidden">Bienvenue sur le site du Forum Est-Horizon</h1>
<div class="fleft">
	<aside id="forum" class="box-left">
		<div class="tcenter">
			<img src="/images/logos/FEH-logo-fleche-haute.png" alt="Mines de Nancy" width="180" />
		</div>
		<p><strong>Le Forum Est-Horizon</strong> est l'un des plus grands salons de rencontres entre étudiants et entreprises organisés dans l'Est de la France.</p>
	</aside>
	<aside id="mines" class="box-left">
		<div class="tcenter">
			<a href="http://www.mines-nancy.univ-lorraine.fr/" onclick="window.open(this.href); return false;">
				<img src="/images/logos/ecoles/logo-mines.png" alt="Mines de Nancy" width="120" /></a>
				<!--<img src="/images/logos/ecoles/logo-ensem.png" alt="ENSEM" width="180" />-->
				<a href="http://www.geologia.fr/accueil/" onclick="window.open(this.href); return false;">
				<img src="/images/logos/ecoles/ensg2.png" alt="ENSG" width="120" />
			</a>
		</div>
		<p>Le Forum Est-Horizon est organisé par des élèves de l'école des <strong>Mines de Nancy</strong> en association, cette année, avec des élèves de l'<strong>ENSG</strong>.</p>
	</aside>
	<!-- <section id="statistiques" class="box-left">
		<h2><span>Visiteurs en 2012</h2>
		<h2>au Campus Artem</span></h2>
		<h3 class="tcenter">Environ 1 000 visiteurs</h3>
		<table>
			<tr>
				<td class="acc_label">Ecole des Mines</td>
				<td class="acc_lvl1">35%</td>
			</tr>
			<tr>
				<td class="acc_label">ICN</td>
				<td class="acc_lvl2">18%</td>
			</tr>
			<tr>
				<td class="acc_label">Telecom Nancy</td>
				<td class="acc_lvl2">8%</td>
			</tr>
			<tr>
				<td class="acc_label">ENSEM</td>
				<td class="acc_lvl3">9%</td>
			</tr>
			<tr>
				<td class="acc_label">ENSAIA</td>
				<td class="acc_lvl3">5%</td>
			</tr>
			<tr>
				<td class="acc_label">Autre &nbsp;(ENSGSI, Fac de Science, ESSTIN, ENSG)</td>
				<td class="acc_lvl3">25%</td>
			</tr>
		</table>
	</section> -->
	
	<section id="files_down" class="box-left">
		<h3>Ressources</h3>
		<ul>
			<li><a href="/upload/files/2015/Plaquette entreprises 2015.pdf">Plaquette 2015</a></li>
		</ul>
	</section>
	<figure class="twitter">
	<a href="https://twitter.com/forumesthorizon" target="_blank" title="Visitez notre page Twitter"><img src="/images/logos/twitter.png" alt="Twitter" width="48"></a>
	</figure>
	
	<figure class="linkedin">
	<a href="https://fr.linkedin.com/pub/forum-est-horizon/99/b32/9b0" target="_blank" title="Visitez notre page LinkedIn"><img src="/images/logos/ln.png" alt="LinkedIn" width="48"></a>
	</figure>
	
	<figure class="facebook">
	<a href="https://fr-fr.facebook.com/pages/Forum-Est-Horizon/225296360945762" target="_blank" title="Visitez notre page Facebook"><img src="/images/logos/fb.png" alt="Facebook" width="48"></a>
	</figure>
</div>

<div class="fleft center"> 
	<div id="actu" class="box-center min">
 <figure class="title">
 <p><br/>Formulaire d'inscription</p></figure>

<form method="post" enctype="multipart/form-data" class="frm" action=""> 
	
		Nom : 
	<tr>
		<td><label for="nom"></label></td><br/>
		<td><input type = "text" id="nom" name= "nom" value= "" required/></td>
	</tr>	
	 
	 </br></br>
	 Prénom	: 	
	 <tr>
		<td><label for="prenom"></label></td><br/>
		<td><input type = "text" id="prenom" name= "prenom" value= "" required/></td>
	</tr>
	 
	 </br></br>
	 e-mail	: 	
	  <tr>
		<td><label for="email"></label></td><br/>
		<td><input type = "email" id="mail" name= "mail" value= "" style="width : 246px" required/></td>
	</tr>
	 
	 </br> </br></br>
	Quelle est votre formation?</br>
	<tr>
		<td><label for="ecole"></label></td>
		<td>
	 <select id="ecole" name= "ecole" required>
		<option></option>
		<!--<option value = "01">Sciences et Technologies</option>
		<option value = "02">Faculté de Droit, Sciences Economiques et Gestion</option>
		<option value = "03">Mathématiques et Informatique</option>-->
		<option disabled="disabled">-Ecoles d'ingénieurs-</option>
		<option value = "05">CESI</option>
		<option value = "06">EEIGM</option>
		<option value = "07">ENGREF</option>
		<option value = "08">ENSAIA</option>
		<option value = "09">ENSEM</option>
		<option value = "10">ENSG</option>
		<option value = "11">ENSGSI</option>
		<option value = "12">ENSIC</option>
		<option value = "13">ESSTIN</option>
		<option value = "14">Mines Nancy</option>
		<option value = "15">TELECOM Nancy</option>
		<option disabled="disabled">-Ecoles d'informatique-</p></option>
		<option value = "04">EPITECH</option>
		<option disabled="disabled">-Ecoles de Management-</option>
		<option value = "16">ICN</option>
		<option value = "17">ISAM-IAE</option>
		<option disabled="disabled">-Masters-</option>
		<option value = "18">Administration des affaires</option>
		<option value = "19">Economie appliquée</option>
		<option value = "20">Finance, contrôle, comptabilité</option>
		<option value = "21">Marketing & ventes
		<option value = "22">Information et communication
		<option value = "23">Sciences pour l'ingénieur et sciences des matériaux
		<option value = "24">Physique
		<option value = "25">Méthodes informatiques appliquées à la gestion des entreprises
		<option value = "26">Mécanique, énergie, Procédés et Produits
		<option value = "27">Mathématiques
		<option value = "28">Ingénierie électrique, électronique et informatique industrielle
		<option value = "29">Ingénierie des systèmes complexes
		<option value = "30">Ingénierie du développement durable
		<option value = "31">Informatique
		<option value = "32">Génie civil

		<option disabled="disabled">-Autre-</option>
		<option value = "33">Autre</option>		
	</select></td>
	</tr>
	
	</br> 
	Si "Autre" préciser : 
	<tr>
		<td><label for="autres"></label></td>
		<td><input type = "text" id="autres" name= "autres" value= "" /></td>
	</tr>
	
	</br></br></br>
	
	Comment connaissez-vous le Forum Est-Horizon ?</br>
<tr>
		<td><label for="connu1"></label></td>
		<td><input type="checkbox" id="connu1" name="connu1" value="1">Réseaux sociaux<br></td>
	</tr>
		<tr>
		<td><label for="connu2"></label></td>
		<td><input type="checkbox" id="connu2" name="connu2" value="1">Site internet du Forum Est-Horizon<br></td>
	</tr>
	<tr>
		<td><label for="connu3"></label></td>
		<td><input type="checkbox" id="connu3" name="connu3" value="1">Via vos responsables de formations<br></td>
	</tr>
	<tr>
		<td><label for="connu4"></label></td>
		<td><input type="checkbox" id="connu4" name="connu4" value="1">Affiches publicitaires aux arrêts de tram<br></td>
	</tr>
	<tr>
		<td><label for="connu5"></label></td>
		<td><input type="checkbox" id="connu5" name="connu5" value="1">Mail de l'Université de Lorraine<br></td>
	</tr>		
		
		<br><br>
		
	<tr>
		<td><label for="mailent"></label></td>
		<td><input type="checkbox" id="mailent" name="mailent" value="1" checked='checked'>J'autorise le Forum Est-Horizon à divulguer mon adresse e-mail aux partenaires<br></td>
	</tr>	
		
		
	</br>
	<input id="reg-button" name="submit" type="submit" value="S'inscrire" />
	
        
				
</form>
			
			
<!--			
<form method="post" id="customForm" action="">
	<div id="blocks">
		<div class="block">
			<div class="top"></div>
			<br />
			<a href="javascript:void(0)" onclick="ajouterligne();">
				<img src="/apps/fdh/admin/templates/ico_plus.png" alt="+" /> <strong>Ajouter une ligne</strong></a>
			<br /><br />
			<a href="javascript:void(0)" onclick="suppligne();">
				<img src="/apps/fdh/admin/templates/ico_moins.png" alt="-"/> <strong>Retirer une ligne</strong></a>
			<br />
			<input id="submit" class="button-submit" type="submit" value="Send" />
		</div>
	</div>
	<div id="content"> 
		{if !empty({$note})}{$note}{/if}
		<table id="tableau" class="liste" cellpadding="0" cellspacing="0">
			<colgroup>
				<col style="width: 5%;" />
				<col style="width: 15%;" />
				<col style="width: 15%;" />
				<col style="width: 20%;" />
				<col style="width: 20%;" />
			</colgroup>
			<tr id="ligne">
				<th>N&deg;</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Bus de retour</th>
				<th>Mode de paiement</th>
			</tr>
			{block name="a_reinscrire"}
			{if $t = {$count} +1}{/if}
			<tr id="row-{$t}" class="{if {$count} % 2 == 1}pair{else}impair{/if}">
				<td>{$t}</td>
				<td><input name="nom[]" type="text" {if !empty({$a_reinscrire.nom})}value="{$a_reinscrire.nom}"{/if} /></td>
				<td><input name="prenom[]" type="text" {if !empty({$a_reinscrire.prenom})}value="{$a_reinscrire.prenom}"{/if} /></td>
				<td>
					<select name="bus[]">
					{if (!empty({$a_reinscrire.bus}))}
						<option value="{$a_reinscrire.bus}">{$a_reinscrire.bus_lieu}{if ({$a_reinscrire.bus_numero} !=0)} N°{$a_reinscrire.bus_numero}{/if}-{$a_reinscrire.bus_heure}</option>
					{else}
						<option value="0">Veuillez choisir un bus</option>
					{/if}
					{$bus_select}
					</select> 
				</td>
				<td>
					<select name="paymod[]">
						<option value="0">Moyen de paiement</option>
						<option value="1" {if (!empty({$a_reinscrire.paymod}) && ({$a_reinscrire.paymod}==1))}selected="selected"{/if}>Chèque(ordre : Forum Est-Horizon)</option>
						<option value="2" {if (!empty({$a_reinscrire.paymod}) && ({$a_reinscrire.paymod}==2))}selected="selected"{/if}>Liquide</option>
						{if isset({$enable})}
						<option value="3" {if (!empty({$a_reinscrire.paymod}) && ({$a_reinscrire.paymod}==3))}selected="selected"{/if}>Exonéré</option>
						{/if}
					</select> 
				</td>
			</tr>
			{/block}
		</table>
		
		<script type="text/javascript">
			var current = {$t};
			
			function ajouterligne() {
				current++;
				$('#row-1').clone().attr('id', 'row-'+current).insertAfter('#row-'+(current-1));
				$('#row-'+current).find('input').val('');
				$('#row-'+current).find('select').val(0);
				$('#row-'+current).find('td').first().html(current);
			}
			
			function suppligne() {
				if (current > 1) {
					$('#row-'+current).remove();
					current--;
				}		
			}
		</script>
	</div>
</form>
<div class="clear"></div>-->

	</div>
</div></div>
<div class="fleft">
	
    <?php if (true): ?>
	<!--
	<figure class="geol">	-->
	<aside id="inscriptiong">
		<div id="formulaire"></div>
		<h3>En association avec</h3>
		<br/>
		
<a href="http://www.geologia.fr/accueil/" onclick="window.open(this.href); return false;" title="Géologia"><img src="/images/logos/ecoles/ensg_b.png" alt="Geologia" width="120"/></a>
	</aside><!--</figure>-->
	<!--
	<figure class="geol">			
	<div class="box-right tcenter">			
	
	<h3>En association avec</h3>
		<br/>
		
<a href="http://www.geologia.fr/accueil/" onclick="window.open(this.href); return false;" title="ENSG"><img src="/images/logos/ecoles/ensg.png" alt="Michelin" width="100"/></a>
		
		</div></figure>-->
	<div class="box-right tcenter">
		<h3>Partenaire bancaire</h3>
		<br/>
		<div class="tcenter">
			<a href=" http://particuliers.lcl.fr/etudiants/" onclick="window.open(this.href); return false;" title="LCL"><img src="/images/logos/entreprises/lcl.bmp" alt="LCL" width="150"/></a>
		</div>
		<br/>
	</div>
	<div class="box-right tcenter">
		<h3><span>Partenaires Médias</span></h3>
        <br/>
		<div class="tcenter">
			<a href="http://www.virginradio.fr/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/virgin-radio.jpg" alt="Virgin Radio" width="150"/></a>	
			<a href="http://www.iquesta.com///" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/iquesta.jpg" alt="iQuesta" width="150"/></a>
			<a href="http://www.regionsjob.com/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/estjob.jpg" alt="Regionsjob" width="150"/></a>
			<a href="http://www.batiactuemploi.com/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/batiactuemploi2011_HD.jpg" alt="Batiactu_Emploi" width="150"/></a>
			<a href="http://www.http://www.studyrama.com/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/studyrama.gif" alt="Studyrama" width="150"/></a>
			<br/>
			<a href="http://www.lemoniteur.fr/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/moniteur.jpg" alt="Le Moniteur" width="150"/></a>
			<a href="http://www.lepoint.fr///" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/lepoint.jpg" alt="Le Point" width="150"/></a>
			<a href="http://www.letudiant.fr/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/letudiant.png" alt="L'étudiant" width="150" /></a>
		</div>
		<br/>
	</div>
	<div class="box-right tcenter">
		<h3><span>Autres Partenaires</span></h3>
		<br/>
			<a href="http://relais-amical.malakoffmederic.com/index.html" onclick="window.open(this.href); return false;"><img src="/images/logos/autres/malakoff.png" alt="Relais Malakoff Médéric" width="150" /></a>
			<a href="https://www.rotary.org/fr" onclick="window.open(this.href); return false;"><img src="/images/logos/autres/logo_rotary.png" alt="Rotary Club" width="150" /></a>
			<a href="http://www.mgel.fr/" onclick="window.open(this.href); return false;"style="position : relative; top : 10px;"><img src="/images/logos/autres/mgel.png" alt="Mgel" width="120" /></a></br>
			<a href="http://www.nancy-tourisme.fr/" onclick="window.open(this.href); return false;"style="position : relative; top : 10px;"><img src="/images/logos/autres/NTE.png" alt="NANCY TOURISME ET ÉVÈNEMENTS" width="180" /></a>
	  
        <br/>
	</div>
	<?php endif; ?>
</div>
<div class="spacer"></div>
