<div id="credits">
	<h2><span>Crédits et mentions légales</span></h2>
	<br/>
	<h3>Développeurs :</h3>
	<p>Ce site a été développé par <b>Julien Blatecky et Johan Dufau</b>, anciens responsables informatique du Forum Est-Horizon, <i>avec l'aide précieuse de Ludovic Vanhove, ancien responsable Logistique.</i></p>
	<p>Nous sommes tous élèves à l'École des Mines de Nancy.</p>
	
	<h3>Éditeur :</h3>
	<p>Ce site est édité par l'association de loi 1901 <b>Forum Est-Horizon</b>.<br/>
	Pour nous contacter, <a href="/contact/">cliquez ici</a>.</p>
	
	<h3>Hébergeur :</h3>
	<p>L'hébergement de notre site Internet est assuré par <b><a href="http://www.ovh.com">OVH</a></b>.</p>
	
	<h3>Technologies :</h3>
	<p>Pour propulser ce site, nous utilisons un gestionnaire de contenu (CMS) codé par nos soins et nommé Wity.<br/>
	Pour l'affichage des pages, nous utilisons uniquement <b>HTML, CSS et JavaScript</b>.<br/>
	Notre site est compatible avec Internet Explorer 6 et 7 mais le rendu n'est optimum que sur des navigateurs récents (Firefox 3.6, Internet Explorer 8, ...).</p>
</div>