<!-- @site 	: Forum Est-Horizon   -->
<!-- @version 	: 2016   -->
<!-- @autor 	: alexandre t. --> 
<!-- @date 	: février 2016 -->
<!-- @contenu	: le code CSS du site internet est contenu dans (1) ce fichier et (2) dans le dossier bootstrap (reutilisation de code) -->

<!--  =====================================================================	-->
<!-- 		SUMMARY	 														-->													 
<!--  =====================================================================	-->

<!--  part 1.	 --> 


<!--  =====================================================================	-->
<!-- 		ARTICLES	 													-->													 
<!--  =====================================================================	-->
		
<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 1 : pourquoi exposer									-->													 
<!--  ---------------------------------------------------------------------	-->	

<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 2 : ambassadeurs										-->													 
<!--  ---------------------------------------------------------------------	-->	

<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 3 : CV									-->													 
<!--  ---------------------------------------------------------------------	-->	

 		<div class="article">
		<div class="container marketing">	
			<div class="col-xs-12 col-sm-12 col-lg-12">
				 <h2 class="featurette-heading .featurette-heading-2">Espace CV<span class="text-muted"> </span></h2>
				 <p class="lead center-block">
					Consultez les CV des étudiants.
				 </p>
			</div>		
			<div class="row">

 				<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
				<script type="text/javascript" src="http://ressources.regionsjob.com/forum/js-externe/iframeResizer.min.js"></script>
				<iframe src="http://cvtkforum.regionsjob.com/850LFV6LM8SQLH0YFD363R315E970O61/recruteur" style="background-color: white;" scrolling="no" width="100%" frameborder="0" ></iframe>
				<script>iFrameResize({log:true})</script> 
				
			</div>
		</div>
		</div> 
		
<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 4 : plaquette entreprises								-->													 
<!--  ---------------------------------------------------------------------	-->	
		
		<div class="article art-typ1">
		<div class="container marketing">
			<div class="row featurette">
				<div class="col-xs-12 col-sm-12 col-lg-12">
				  <h2 class="featurette-heading">Plaquette entreprises<span class="text-muted"> </span></h2>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-2">
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-6 animation-element right">  
				  <p class="lead text-justify">
						Retrouvez, ici, notre plaquette entreprises.  
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-2 center-block animation-element left">
					<a class="btn btn-lg btn-secondary v-center" href="/apps/espace-entreprises/front/Plaquette/Plaquette entreprises.pdf" role="button" style="text-align: center;">Télécharger</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-2">
				</div>
			 </div>	
		</div>
		</div>
	
<!--  =====================================================================	-->
<!-- 		JAVASCRIPT 														-->													 
<!--  =====================================================================	-->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="/bootstrap/js/bootstrap.js"></script>
		<!-- IE10 viewport Windows 8 bug -->
		<script src="/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
		<script src="/bootstrap/js/scroll_animate.js" type="text/javascript"></script>
	
