<meta charset="utf-8" />

<style>
    .col-md-3 img{
        max-height: 150px;
		<!-- height: 150px; -->
    }

    #down{
        max-width: 200px !important;
    }
	
	#description{
		text-align: justify;
	}
</style>

            
<div class="article art-typ4">
	<div class="container ">	
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<h2 class="featurette-heading">Galerie photo<span class="text-muted"> </span></h2>
		</div>
		
		



<?php
	error_reporting(E_ERROR | E_WARNING | E_PARSE);
	
	$file = fopen('articles.txt', 'r+');
	
	
	fclose($file)
?>

	</div>
</div>

		
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>