/*
#content input, #content select {
	width: 100%;
}*//*
#content{
text-align : center;}*/
/*

.title
{
	
	font-size: 2.5em;
	text-align:center;
	color: rgb(150,130,70);
	position: relative;
	bottom: 25px;
	
}
.frm
{
position : relative;
left : 325px;
bottom : 20px;
}

#reg-button
{
position : relative;
left : 150px;
}*/
.title
{
	
	font-size: 2.5em;
	text-align:center;
	color: rgb(150,130,70);
	position: relative;
	bottom: 35px;
	
}
.frm
{
position : relative;
left : 60px;
bottom : 30px;
}

#reg-button
{
position : relative;
left : 135px;
}
/*
.frm
{
position : relative;
text-align : center;
left : 00px;
top : 50px;
}*/
