<div class="fleft box-left">
	<h2><span>Filtres</span></h2>
	
	<form action="" method="get">
		<p><label for="ecole">Ecoles</label><br />
		<select name="ecole" onchange="submit();">
			<option value="">Toutes</option>
			{foreach item={$ecoles} as={$e}}
			<option value="{$e.value}"{if {$e.value} == {$fecole}} selected="selected"{/if}>{$e.value}</option>
			{/foreach}
		</select>
		</p>
		
		<p><label for="recherche">Recherche</label><br />
		<select id="recherche" name="recherche" onchange="submit();">
			<option value="">Tout</option>
			{foreach item={$stages} as={$s}}
			<option value="{$s.value}"{if {$s.value} == {$frech}} selected="selected"{/if}>{$s.value}</option>
			{/foreach}
		</select>
		</p>
	</form>
</div>
<div class="fleft box-center">
	<h1><span>Base de données des CV</span></h1>
	<table class="liste">
		<colgroup>
				<col style="width: 20%;" />
				<col style="width: 20%;" />
				<col style="width: 30%;" />
				<col style="width: 5%;" />
				<col style="width: 10%;" />
				<col style="width: 15%;" />
			</colgroup>
		<tr>
			<th>Nom et prénom</th>
			<th colspan="2">Informations</th>
			<th>CV</th>
			<th>Lettre motiv</th>
			<th>Pôle conseil</th>
		</tr>
	{block name="bookings"}
		<tr class="pair">
			<td rowspan="5" class="tcenter"><strong>{$bookings.lastname} {$bookings.firstname}</strong></td>
			<td><strong>Email&nbsp;:</strong></td>
			<td>{$bookings.email}</td>
			<td rowspan="5" class="tcenter">
				<a href="/upload/CV/2011/{$bookings.cv}">
					<img src="/apps/participer/front/images/pdf.png" alt="pdf" /></a></td>
			<td rowspan="5" class="tcenter">
				{if !empty({$bookings.lettre})}
				<a href="/upload/CV/2011/{$bookings.lettre}">
					<img src="/apps/participer/front/images/pdf.png" alt="pdf" /></a>
				{/if}
			</td>
			<td rowspan="5" class="tcenter">{if {$bookings.interid} != 0}{$bookings.name}<br />à {$bookings.schedid}
				{else}Pas inscrit
				{/if}</td>
		</tr>
		<tr class="impair">
			<td><strong>Ecole&nbsp;:</strong></td>
			<td>{$bookings.ecole}</td>
		</tr>
		<tr class="pair">
			<td><strong>Diplôme&nbsp;:</strong></td>
			<td>{$bookings.diplome}</td>
		</tr>
		<tr class="impair">
			<td><strong>Secteur recherché&nbsp;:</strong></td>
			<td>{$bookings.secteur}</td>
		</tr>
		<tr class="pair">
			<td><strong>Stage attendu&nbsp;:</strong></td>
			<td>{$bookings.recherche}</td>
		</tr>
	{/block}
	{if {$count} == 0}
		<tr>
			<td colspan="6" class="tcenter">Aucun inscrit pour l'instant</td>
		</tr>
	{/if}
	</table>
</div>
<div class="spacer"></div>