<div id="blocks">
	<div class="block">
		<div class="top"></div>
		<h2>Statistiques</h2>
		<ul>
			<li>{$count} fiches remplies</li>
		</ul>
	</div>
</div>
<div id="content">
	{if !empty({$note})}{$note}{/if}
	<table class="liste sorted" cellpadding="0" cellspacing="0">
		<colgroup>
			<col style="width: 45%;" />
			<col style="width: 30%;" />
			<col style="width: 5%;" />
			<col style="width: 5%;" />
			<col style="width: 5%;" />
			<col style="width: 10%;" />
		</colgroup>
		<tr>
			<th class="sort {$name_class}"><a href="/admin/brochure/name-{$name_sort}">Nom de l'entreprise</a></th>
			<th class="sort {$date_class}"><a href="/admin/brochure/date-{$date_sort}">Dernière modification</a></th>
			<th>Logo</th>
			<th>Pub</th>
			<th>Voir</th>
			<th>BAT</th>
		</tr>
		{block name="brochure"}
			<tr class="{if {$count} % 2 == 0}pair{else}impair{/if}">
				<td><strong>{$brochure.name}</strong></td>
				<td>{$brochure.fdate}</td>
				<td>
					{if {$brochure.logo}}<img src="/themes/system/images/icones/juste.png" alt="Non" />
					{else}<img src="/themes/system/images/icones/del.png" alt="Oui" />{/if}
				</td>
				<td>
					{if {$brochure.pub}}<img src="/themes/system/images/icones/juste.png" alt="Non" />
					{else}<img src="/themes/system/images/icones/del.png" alt="Oui" />{/if}
				</td>
				<td>
					<a href="/brochure/{$brochure.firmid}" title="Voir la brochure" onclick="window.open(this.href); return false;"><img src="/themes/system/images/icones/edit.png" alt="Voir" /></a>
				</td>
				<td>
					<form action="/admin/brochure/bat/" method="post">
						<div>
							<input type="hidden" name="id" value="{$brochure.id}" />
							<select name="state" onchange="submit();">
								<option value="0"{if {$brochure.treatment} == 0} selected="selected"{/if}>Pas fait</option>
								<option value="1"{if {$brochure.treatment} == 1} selected="selected"{/if}>Envoyé</option>
								<option value="4"{if {$brochure.treatment} == 4} selected="selected"{/if}>Validé</option>
							</select>
							<!--<input type="checkbox" name="treated"{if {$brochure.treated}} checked="checked"{/if} onchange="submit();" />-->
						</div>
					</form>
				</td>
			</tr>
		{/block}
		{if {$count} == 0}
			<tr>
				<td colspan="5">Aucune entreprise n'a rempli sa fiche</td>
			</tr>
		{/if}
	</table>
</div>
<div class="clear"></div>
