<script type="text/javascript" src="/apps/forum/front/js/association.js"></script>
<h1 class="hidden">Le réglement</h1>
<div class="fleft">
	{include file=apps/concours/front/templates/nav.html}
</div>
<div class="box-center fleft">
	<h2><span>Inscriptions</span></h2>
	<p>Pour vous inscrire au concours téléchargez <a href="/apps/concours/front/photos/formulaire_inscription.xlsx">ce document</a> à remplir et à renvoyer à l'adresse ci-dessous.</p>
	<p>Pour toute information, contactez : <br/><br/>
		Ilyass Belhamdounia<br/>
		07 70 54 03 19<br/>
		ilyasse.belhamdounia@mines-nancy.org<br/>
	</p>
</div>
<div class="spacer"></div>
