<script type="text/javascript" src="/apps/forum/front/js/association.js"></script>
<h1 class="hidden">Le réglement</h1>
<div class="fleft">
	{include file=apps/concours/front/templates/nav.html}
</div>
<div class="box-center fleft">           
	<h2><span>Règlement du concours de projet 2014</span></h2>
	<h3>Article 1 : Organisateurs</h3>            
	<p>L’organisation  de l’événement  est  pilotée  par  Mines Nancy Entrepreneurs, le Forum Est-Horizon et  l'ENSEM Conseil en  collaboration avec  des  organismes locaux, des entreprises de l’univers entrepreneurial lorrain, et la Fondation Mines Nancy.</p>
	<h3>Article 2 : Conditions de participations</h3>
	<ul>
		<li>a.  Tout participant doit être porteur d’un projet de création d’entreprise innovante ou d’un projet innovant pouvant éventuellement donner suite à la création d’une entreprise.</li>
		<li>b.  Un participant peut consister en une personne ou une équipe de plusieurs personnes. </li>
		<li>c.  Pour  s’inscrire  au  parcours,  le  participant  doit  impérativement  remplir  le  formulaire excel téléchargeable dans <a href="http://www.est-horizon.com/concours/participer/" >l'onglet participer </a>avant le 25 novembre 2014 à minuit.</li>
		<li>d.  Ils  doivent:  
			<ul>
				<li>(1)  présenter  un  caractère  novateur,  c’est -à-dire concerner  un  nouveau  produit,  un  nouveau  service  ou  une  nouvelle  technologie  par  rapport  à l’existant en Lorraine ou bien apporter une réelle valeur ajoutée à un produit ou service déjà existant; </li>
				<li>(2) être économiquement viables ; </li>
				<li>(3) établir leur projet d’entreprise en Lorraine;  </li>
				<li>(4) l’entreprise si existante doit avoir moins de 6 mois d’existence.</li>
			</ul>
		Le caractère novateur et économiquement réalisable de l’idée sera évalué par  un  comité 
		de lecture.
		</li> 
		<li>e.  Aucun droit d’inscription ne sera demandé aux participants. La participation est gratuite.</li>
		<li>f.  Le  Participant  peut  être  membre  de  plus  d’une  équipe.  L’organisation  se  réserve  le  droit  de prévenir les membres de ces équipes que le Participant est membre de plus d’une équipe.</li>
	</ul>

	<h3>Article 3 : Confidentialité</h3>
	<ul>
		<li>a.  Les  organisateurs et le jury  s’engagent  à  traiter  toutes  les informations qui leur sont communiquées dans le cadre de l’événement  dans la plus stricte confidentialité et avec le plus grand soin. Sauf en cas de négligence grave, ils ne pourront  être tenus responsables de l’utilisation ou du mauvais usage par des tiers, du vol ou de la disparition pour toute autre raison, des envois ou de leur contenu. La déclaration de confidentialité signée par tous les organisateurs, les lecteurs, les membres  du jury et les coaches peut être consultée sur demande des participants concernés. </li>
		<li>b.  Le  formulaire  d’inscription  et  les  autres  pièces  envoyées  par  le  Participant  ne  lui  seront  pas renvoyés, et resteront à disposition des organisateurs à des fins statistiques. </li>
		<li>c.  Le dossier de participation comporte une section publique décrivant brièvement le projet. Cet élément demeure public et peut être utilisé par les organisateurs à des fins publicitaires ou de communication sur l’événement ou les projets.</li>
	</ul>
</div>
<div class="spacer"></div>
