<!--  =====================================================================	-->
<!-- 		ARTICLES 														-->													 
<!--  =====================================================================	-->

<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 1 :connexion											-->													 
<!--  ---------------------------------------------------------------------	-->
		<div class="article" style="padding-top : 10%;">
		<div class="container marketing">
			<div class="row featurette">
				<div class="col-md-12">
				  <h2 class="featurette-heading">S'inscrire<span class="text-muted"> </span></h2>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						<div class="col-md-12 center-block">
						  <h2 >Etudiant (gratuit)</h4>
						</div>
						<?php if (True): ?>
						<div class="col-md-12">
							<form method="post" enctype="multipart/form-data" class="frm" action="">
							  <div class="form-group">
								<label for="InputName" >Nom</label>
								<input type="text" class="form-control" id="InputName" name= "nom" placeholder="Nom" required>
							  </div>
							  <div class="form-group">
								<label for="InputFName">Prénom</label>
								<input type="text" class="form-control" id="InputFName" name= "prenom" placeholder="Prénom" required>
							  </div>
							  <div class="form-group">
								<label for="InputEmail1">Adresse e-mail </label>
								<input type="email" class="form-control" id="InputEmail1" name= "mail" placeholder="E-mail" required>
							  </div>
							  <div class="form-group">
								<label for="Formation">Quelle est votre formation?</label>
								<select id="Formation" class="form-control" name="ecole" required="">
									<option></option>
									<!--<option value = "01">Sciences et Technologies</option>
									<option value = "02">Faculté de Droit, Sciences Economiques et Gestion</option>
									<option value = "03">Mathématiques et Informatique</option>-->
									<option disabled="disabled">-Ecoles d'ingénieurs-</option>
									<option value="05">CESI</option>
									<option value="06">EEIGM</option>
									<option value="07">ENGREF</option>
									<option value="08">ENSAIA</option>
									<option value="09">ENSEM</option>
									<option value="10">ENSG</option>
									<option value="11">ENSGSI</option>
									<option value="12">ENSIC</option>
									<option value="13">ESSTIN</option>
									<option value="14">Mines Nancy</option>
									<option value="15">TELECOM Nancy</option>
									<option value="34">Supelec</option>
									<option value="35">ENSAM</option>
									<option value="36">Georgia Tech</option>
									<option value="37">ENIM</option>
									<option disabled="disabled">-Ecoles d'informatique-</option>
									<option value="04">EPITECH</option>
									<option disabled="disabled">-Ecoles de Management-</option>
									<option value="16">ICN</option>
									<option value="17">ISAM-IAE</option>
									<option disabled="disabled">-Masters-</option>
									<option value="18">Administration des affaires</option>
									<option value="19">Economie appliquée</option>
									<option value="20">Finance, contrôle, comptabilité</option>
									<option value="21">Marketing &amp; ventes
									</option><option value="22">Information et communication
									</option><option value="23">Sciences pour l'ingénieur et sciences des matériaux
									</option><option value="24">Physique
									</option><option value="25">Méthodes informatiques appliquées à la gestion des entreprises
									</option><option value="26">Mécanique, énergie, Procédés et Produits
									</option><option value="27">Mathématiques
									</option><option value="28">Ingénierie électrique, électronique et informatique industrielle
									</option><option value="29">Ingénierie des systèmes complexes
									</option><option value="30">Ingénierie du développement durable
									</option><option value="31">Informatique
									</option><option value="32">Génie civil
									</option><option disabled="disabled">-Autre-</option>
									<option value="38">SciencesPo</option>
									<option value="33">Autre</option>			
								</select>
								<label for="FormationOther">Si "Autre" préciser :</label>
								<input type="text" class="form-control" id="FormationOther" name= "autres" placeholder="Autre formation">
							  </div>

							  <label for="InputCv"> Votre CV sous format PDF (taille maximale: 1Mo).Déposer un CV vous permettra d'utiliser pleinement les fonctionnalités de l'application.</label>
							  	<input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
							  	<input type="file"  id="InputCv" name= "cv" placeholder="CV" /><br/><br/>
							  <div class="form-group" style="margin-bottom:60px">
								<label >Comment connaissez-vous le Forum Est-Horizon ?</label>
								  <div class="checkbox">
									<label><input name="connu1" type="checkbox" value="1">Réseaux sociaux</label>
								  </div>
								  <div class="checkbox">
									<label><input name="connu2" type="checkbox" value="1">Site internet du Forum Est-Horizon</label>  
								  </div>
								  <div class="checkbox">
									<label><input name="connu3 "type="checkbox" value="1">Via vos responsables de formations</label>
								  </div>
								  <div class="checkbox">
									<label><input name="connu4" type="checkbox" value="1">Affiches publicitaires aux arrêts de tram</label> 
								  </div>
								  <div class="checkbox">								
									<label><input name="connu5" type="checkbox" value="1">Mail de l'Université de Lorraine</label>
								  </div>								
							  </div>
							  
							  
							  <div class="checkbox" style="margin-top:60px">
								<label>
								  <input type="checkbox" name="mailent" value="1"> J'autorise le Forum Est-Horizon à divulguer mon adresse e-mail aux partenaires et j'accepte de recevoir des informations du Forum
								</label>
								<label>
								  <input type="checkbox" name="photo_droit" value="1"> J'autorise le Forum Est-Horizon à diffuser des photos sur lesquelles j'apparais
								</label>
							  </div>
							  <button type="submit" class="btn btn-secondary center-block">Envoyer</button>
							</form>	
						</div>				
						<?php else: ?>
						<div class="col-md-12">
							<center><p>Les inscriptions ne sont pas encore ouvertes.</p></center>
						</div>
						<?php endif; ?>											
						</div>
						<div class="col-md-6">
							<div class="col-md-12 center-block">
							  <h2 >Entreprise</h4>
							</div>
							<form method="post" action="/entreprise/inscription/">
								<div class="form-group">
									<label for="InputName" >Nom de l'entreprise</label>
									<input type="text" class="form-control" id="InputName" name="firm" placeholder="Nom de l'entreprise" required>
								</div>
								  <div class="form-group">
									<label for="Formation">Civilité</label>
									<select id="Formation" class="form-control" name="civi" required="">
										<option value="F">Madame</option>
										<option value="M">Monsieur</option>
									</select>
								  </div>
								  <div class="form-group">
									<label for="InputName" >Nom</label>
									<input type="text" class="form-control" id="InputName" name="name" placeholder="Nom" required>
								  </div>
								  <div class="form-group">
									<label for="InputFName">Prénom</label>
									<input type="text" class="form-control" id="InputFName" name="fname" placeholder="Prénom" required>
								  </div>
								  <div class="form-group">
									<label for="InputPoste">Votre poste</label>
									<input type="text" class="form-control" id="InputPoste" name="poste" placeholder="Poste" required>
								  </div>
								  <div class="form-group">
									<label for="InputAdresse">Adresse postale de l'entreprise</label>
									<input type="text" class="form-control" id="InputAdresse" name="address" placeholder="Adresse" required>
								  </div>
								  <div class="form-group">
									<label for="InputTel">Téléphone</label>
									<input type="tel" class="form-control" id="InputTel" name="tel" placeholder="Téléphone" required>
								  </div>
								  <div class="form-group">
									<label for="InputMobile">Mobile</label>
									<input type="tel" class="form-control" id="InputMobile" name="mob" placeholder="Mobile">
								  </div>
								  <div class="form-group">
									<label for="InputFax">Fax</label>
									<input type="tel" class="form-control" id="InputFax" name="fax" placeholder="Fax">
								  </div>
								  <hr class="featurette-divider" style="margin: 30px 0;">
								  <div class="form-group">
									<label for="InputEmail1">Adresse e-mail </label>
									<input type="email" class="form-control" id="InputEmail1" name="mail" placeholder="E-mail" required>
								  </div>
								  <div class="form-group" >
									<label for="InputMdp">Mot de passe</label>
									<input type="password" class="form-control" id="InputMdp" name="password" placeholder="Mot de passe" required>
								  </div>
                                <div class="art-typ1" style="padding :15px;text-align:justify;">
							<p><strong>Information à l’attention des Exposants 
							</strong></p>
							<p>
								Plusieurs exposants nous ont signalé qu’ils avaient reçu un mail de la part d'une société se faisant passer pour le Forum Est-Horizon et leur demandant de leur retourner un formulaire de contrat d'une durée de 3 ans. Une autre société vous demande de vérifier l’exactitude de vos données et de les confirmer dans le but de les utiliser pour de la publicité payante. 
							</p>
							<p>
								Ces sociétés utilisent la liste des exposants présents aux différents salons en France pour prendre contact avec les professionnels. Nous vous mettons donc en garde face à cette escroquerie et comptons sur votre vigilance.							
							</p>
							<p>
								Pour rappel l’ensemble des documents qui vous sont transmis par notre association le sont via des adresses « ….@est-horizon.com » ou se font via ce site internet uniquement. Nos documents respectent de plus la charte graphique du Forum Est-Horizon que vous pouvez trouver sur notre site internet : http://www.est-horizon.com/							
							</p>
							<p>					
						</div>	
                                <br>
								<button type="submit" class="btn btn-secondary center-block">Envoyer</button>
							</form>		
					</div>
				</div>

			 </div>
		</div>
		</div>
	
<!--  =====================================================================	-->
<!-- 		JAVASCRIPT 														-->													 
<!--  =====================================================================	-->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="bootstrap/js/bootstrap.js"></script>
		<!-- IE10 viewport Windows 8 bug -->
		<script src="bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>	
		<script src="bootstrap/js/scroll_animate.js" type="text/javascript"></script>