<h1 class="hidden">Les partenaires du Forum Est-Horizon</h1>
<div class="fleft">	
<?php $this->display("apps/forum/front/templates/nav.html"); ?>	
<!-- <div class="box-left">		
	<h2><span>Notre logo</span></h2>		
	<img src="/images/logos/FEH-logo-fleche-haute.png" alt="Forum Est-Horizon" />	
</div>-->
</div>
<div class="fleft">	
	<div class="box-center">		
		<h2><span>Les partenaires</span></h2>				
		<p>Nous avons la chance d'être subventionnés et parrainés par quelques institutions publiques et entreprises qui s'investissent chaque année dans notre Forum. D'autre part, de nombreux partenariats entre la presse et notre association lui permettent de rayonner régionalement et à travers toute la France.</p>				
		<h3>Partenaire bancaire</h3>		
		<a href="http://particuliers.lcl.fr/etudiants/" onclick="window.open(this.href); return false;" title="LCL"><img src="/images/logos/entreprises/lcl.bmp" alt="Ville de Nancy" /></a>				
		<h3>Partenaires publics</h3>		
		<a href="http://www.nancy.fr/" onclick="window.open(this.href); return false;" title="Ville de Nancy"><img src="/images/logos/autres/ville-nancy.gif" alt="LCL" /></a>		
		<a href="http://www.grand-nancy.org/" onclick="window.open(this.href); return false;" title="Communauté urbaine du Grand Nancy"><img src="/images/logos/autres/grnancy.png" alt="Communauté urbaine du Grand Nancy" /></a>		
		<a href="http://www.lorraine.eu/" onclick="window.open(this.href); return false;" title="Conseil Régional de Lorraine"><img src="/images/logos/autres/crlorraine.png" alt="Conseil Régional de Lorraine" /></a>		
		<a href="http://www.cg54.fr/" onclick="window.open(this.href); return false;" title="Conseil Général de Meurthe & Moselle"><img src="/images/logos/autres/cg54.jpg" alt="Conseil Général de Meurthe & Moselle" /></a>						
		<a href="http://www.univ-lorraine.fr/" onclick="window.open(this.href); return false;" title="Université de Lorraine"><img src="/images/logos/ecoles/UNIV-Lorraine.png" alt="Université de Lorraine" /></a>						
		<h3>Partenaires médias</h3>				
		<a href="http://www.letudiant.fr/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/letudiant.png" alt="L'étudiant"/></a>		
		<a href="http://www.estjob.com/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/estjob.jpg" alt="EstJob" /></a>				
		<a href="http://www.batiactuemploi.com/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/batiactuemploi2011_HD.jpg" alt="Batiactu_Emploi" width="150"/></a>
		<a href="http://www.lemoniteur.fr/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/moniteur.jpg" alt="Le Moniteur" /></a>		
		<a href="http://www.studyrama.com//" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/studyrama.gif" alt="Studyrama" /></a>	
		<a href="http://www.iquesta.com///" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/iquesta.jpg" alt="iQuesta" /></a>	
		<a href="http://www.virginradio.fr/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/virgin-radio.jpg" alt="Virgin Radio" /></a>	
		<a href="http://www.lepoint.fr///" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/lepoint.jpg" alt="Le Point" /></a>		
		<h3>Autres partenaires</h3>				
		<a href="http://bde.mines-nancy.com/" onclick="window.open(this.href); return false;"><img src="/images/logos/ecoles/bde.png" alt="BDE Mines de Nancy" /></a>		
		<img src="/images/logos/mine.png" alt="MiNE" />	
		<a href="http://mines-services.fr/" onclick="window.open(this.href); return false;"><img src="/images/logos/ecoles/mines-services.png" alt="Mines Services (J.E. des Mines de Nancy)" /></a>			
		<a href="http://www.mgel.fr/" onclick="window.open(this.href); return false;" title="MGEL"><img src="/images/logos/autres/newmgel.png" alt="MGEL" /></a>		
		<a href="https://www.rotary.org/fr" onclick="window.open(this.href); return false;"><img src="/images/logos/autres/logo_rotary.png" alt="Rotary Club"  /></a>
		<a href="http://relais-amical.malakoffmederic.com/index.html" onclick="window.open(this.href); return false;"><img src="/images/logos/autres/malakoff.png" alt="Relais Malakoff Médéric"  /></a>
	</div>
</div>

<div class="spacer">
</div>
