
		<div class="article art-typ1" id="brochure">
		<div class="container marketing">
			<div class="row featurette">
				<div class="col-xs-12 col-sm-12 col-lg-12">
				  <h2 class="featurette-heading">Plaquette du salon 2017<span class="text-muted"> </span></h2>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-2">
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-6 animation-element right">  
				  <p class="lead text-justify">
						<!-- Retrouvez, ici, notre plaquette du salon. -->  
						La plaquette visiteurs est disponible.
						<!-- Retrouvez dès à présent la plaquette visiteurs. -->
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-2 center-block animation-element left">
					<!-- <a class="btn btn-lg btn-secondary v-center" href="#" role="button" style="text-align: center;" >Télécharger</a> -->
					<a class="btn btn-lg btn-secondary v-center" role="button" style="text-align: center;" href="http://www.est-horizon.com/upload/Brochure/Forum%20Est-Horizon_GuideVisiteurs.pdf">Télécharger<!-- disabled --><!-- Télécharger --></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-2">
				</div>
			 </div>	
		</div>
		</div>



		<div id="exposants" class="article art-typ4">
			<div class="container ">	
				<div class="col-xs-12 col-sm-12 col-lg-12">
				  <h2 class="featurette-heading">Exposants 2017<span class="text-muted"> </span></h2>
				</div>
				<div class="row">
					<?php $this->tpl_vars['count'] = 0;if (isset($this->tpl_vars['expo_block']) && is_array($this->tpl_vars['expo_block'])):
	foreach ($this->tpl_vars['expo_block'] as $this->tpl_vars['expo']): ?>
					<div class="col-md-3 v-center">
						<a href="<?php echo $this->tpl_vars['expo']['website2']; ?>">
							<?php if (!empty($this->tpl_vars['expo']['logo'])): ?>
								<img src="<?php echo $this->tpl_vars['expo']['logo']; ?>" alt="<?php echo $this->tpl_vars['expo']['name']; ?>"  height="110" 
								class="img-responsive center-block margin-TB20 animation-element growing">
							
							<?php else: ?>
								<p><?php echo $this->tpl_vars['expo']['name']; ?></p>
							<?php endif; ?>
						</a>
					</div> 
					<?php $this->tpl_vars['count']++; endforeach; endif; ?>
				</div>
			</div>
		</div>



<!--  =====================================================================	-->
<!-- 		JAVASCRIPT 														-->													 
<!--  =====================================================================	-->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="/bootstrap/js/bootstrap.js"></script>
		<!-- IE10 viewport Windows 8 bug -->
		<script src="/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>	
		<script src="/bootstrap/js/scroll_animate.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<script src="/apps/forum/front/js/exposants.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				<?php $this->tpl_vars['count'] = 0;if (isset($this->tpl_vars['cat_block']) && is_array($this->tpl_vars['cat_block'])):
	foreach ($this->tpl_vars['cat_block'] as $this->tpl_vars['cat']): ?>
				EXPOSANTS.liste.cat.cats[<?php echo $this->tpl_vars['cat']['id']; ?>] = new EXPOSANTS.liste.cat(<?php echo $this->tpl_vars['cat']['id']; ?>,'<?php echo $this->tpl_vars['cat']['name']; ?>');
				<?php $this->tpl_vars['count']++; endforeach; endif; ?>
			});
		</script>