<!--  =====================================================================	-->
<!-- 		ARTICLES	 													-->													 
<!--  =====================================================================	-->
		
<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 1 : Dates & lieu & acces								-->													 
<!--  ---------------------------------------------------------------------	-->

		<div class="article first" id="acces">
		<div class="container marketing">
			<div class="row featurette">
				<div class="col-md-12">
				  <h2 class="featurette-heading">Date et accès<span class="text-muted"> </span></h2>
				</div>
				<div class="col-md-12">
					<div class="col-md-7 hidden-xs">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.9286846865234!2d6.17507941519493!3d48.6877281206627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794987199096b25%3A0x3cbade60c4bb1899!2sCentre+Prouv%C3%A9+-+Grand+Nancy+Congr%C3%A8s+et+Ev%C3%A8nements!5e0!3m2!1sfr!2sfr!4v1454619217974" style="border:0" allowfullscreen="" frameborder="0" height="450" width="600"></iframe>
					</div>
					<div class="col-sx-12 col-md-5">
						<div class="col-sx-12"><!--Calendrier-->
							<div class="calendar"><!--Calendrier-->
								<div class="col-sx-12 calendar-top">
									<p class="calendar-month" >Novembre</p>
								</div>
								<div class="col-sx-12 calendar-bottom">
									<p class="calendar-day">24</p>
									<p class="calendar-year">2016</p>
								</div>
							</div>
						</div>
						<div class="col-sx-12">
							<h4>Adresse</h4>
							<p  class="lead text-justify margin-0">Centre Prouvé - Palais de congrès de Nancy</p>
							<p  class="lead text-justify">1 Place de la République, 54000 Nancy</p>
						</div>
						<div class="col-sx-12">
							<h4>Date et Horaires</h4>
							<p  class="lead text-justify margin-0">Jeudi 24 Novembre 2016</p>
							<p  class="lead text-justify">De 9h à 18h</p>
						</div> 
					</div>
				</div>
				<div class="col-md-12">
				<hr class="featurette-divider"></hr>
				</div>
				<div class="col-md-12 animation-element bottom_to_top">
					<div class="col-md-4">
						<div class="col-sx-12 icon-figures-2 center-block acces">
							<p><img src="/apps/evenement/front/images/acces/car.png"><p>
						</div>
						<div class="col-sx-12 ">
							<p class="lead text-justify"><p>
							<p  class="lead text-justify ">Centre Prouvé - Palais de congrès de Nancy</p>
							<p  class="lead text-justify">1 Place de la République, 54000 Nancy</p>
						</div>
					</div>
					<div class="col-md-4 animation-element bottom_to_top">
						<div class="col-sx-12 icon-figures-2 center-block acces" >
							<a href="http://www.reseau-stan.com/"><p ><img src="/apps/evenement/front/images/acces/bus.png"><p></a>
						</div>
						<div class="col-sx-12 ">
							<p class="lead text-justify"><p>
							<p class="lead text-justify"><strong>Lignes 2,3,4,5,6,7</strong> - arrêt Gare Thiers Foch<p>
							<p class="lead text-justify"><strong>Lignes 11,12,13,14</strong> - arrêt NANCY Centre de Congrés Prouvé<p>
							<p class="lead text-justify"><strong>Ligne 1</strong> (tram) - arrêt Nancy Gare<p>
						</div>
					</div>
					<div class="col-md-4 animation-element bottom_to_top">
						<div class="col-sx-12 icon-figures-2 center-block acces">
							<p><img src="/apps/evenement/front/images/acces/train.png"><p>
						</div>
						<div class="col-sx-12 ">
							<p class="lead text-justify"><p>
							<p class="lead text-justify">Grâce à la nouvelle ligne LGV-Est, 
								le Forum Est Horizon n'est plus qu'à <strong>1h30 de Paris</strong>.<p>
							<p class="lead text-justify">Des liaisons régulières entre Nancy et 
								toute la région existent en utilisant le <strong>TER Métrolor</strong>.<p>
							<p class="lead text-justify">Le centre Prouvé se situe <strong>à 100 mètres de la gare</strong>.<p>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 2 : Plaquettes, plan salon								-->													 
<!--  ---------------------------------------------------------------------	-->

		<div class="article art-typ1" id="brochure">
		<div class="container marketing">
			<div class="row featurette">
				<div class="col-xs-12 col-sm-12 col-lg-12">
				  <h2 class="featurette-heading">Plaquette du salon<span class="text-muted"> </span></h2>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-2">
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-6 animation-element right">  
				  <p class="lead text-justify">
						<!-- Retrouvez, ici, notre plaquette du salon. -->  
						<!-- La plaquette visiteurs n’est pas encore disponible. -->
						Retrouvez dès à présent la plaquette visiteurs.
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-2 center-block animation-element left">
					<!-- <a class="btn btn-lg btn-secondary v-center" href="#" role="button" style="text-align: center;" >Télécharger</a> -->
					<a class="btn btn-lg btn-secondary v-center" role="button" style="text-align: center;" href="http://www.est-horizon.com/upload/Brochure/Forum%20Est-Horizon_GuideVisiteurs.pdf">Télécharger<!-- disabled --><!-- Télécharger --></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-2">
				</div>
			 </div>	
		</div>
		</div>
<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 2 : exposants											-->													 
<!--  ---------------------------------------------------------------------	-->

		<div id="exposants" class="article art-typ4">
			<div class="container ">	
				<div class="col-xs-12 col-sm-12 col-lg-12">
				  <h2 class="featurette-heading">Exposants 2016<span class="text-muted"> </span></h2>
				</div>
				<div class="row">
					{block name="expo"}
					<div class="col-md-3 v-center">
						<a href="{$expo.website2}">
							{if !empty({$expo.logo})}
								<img src="{$expo.logo}" alt="{$expo.name}"  height="110" 
								class="img-responsive center-block margin-TB20 animation-element growing">
							
							{else}
								<p>{$expo.name}</p>
							{/if}
						</a>
					</div> 
					{/block}
				</div>
			</div>
		</div>
		
<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 4 : photos												-->													 
<!--  ---------------------------------------------------------------------	-->

<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 5 : Conference 2013										-->													 
<!--  ---------------------------------------------------------------------	-->

<!--  =====================================================================	-->
<!-- 		JAVASCRIPT 														-->													 
<!--  =====================================================================	-->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="/bootstrap/js/bootstrap.js"></script>
		<!-- IE10 viewport Windows 8 bug -->
		<script src="/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>	
		<script src="/bootstrap/js/scroll_animate.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<script src="/apps/forum/front/js/exposants.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				{block name="cat"}
				EXPOSANTS.liste.cat.cats[{$cat.id}] = new EXPOSANTS.liste.cat({$cat.id},'{$cat.name}');
				{/block}
			});
		</script>