<div id="blocks">
	<div id="search" class="block">
		<div class="top"></div>
		<h2>Rechercher</h2>
		<form action="/admin/user/liste/" method="get">
			<label for="nickname"><strong>Pseudo :</strong></label>
			<input id="nickname" type="text" name="nickname" value="<?php echo $this->tpl_vars['nickname']; ?>" /><br />
			<label for="email">Email :</label>
			<input id="email" type="text" name="email" value="<?php echo $this->tpl_vars['email']; ?>" /><br />
			<label for="firstname">Prénom :</label>
			<input id="firstname" type="text" name="firstname" value="<?php echo $this->tpl_vars['firstname']; ?>" /><br />
			<label for="lastname">Nom :</label>
			<input id="lastname" type="text" name="lastname" value="<?php echo $this->tpl_vars['lastname']; ?>" />
			<label for="groupe">Groupe :</label>
			<select id="groupe" name="groupe">
				<option value=""></option>
				<?php $this->tpl_vars['count'] = 0;if (isset($this->tpl_vars['groups_block']) && is_array($this->tpl_vars['groups_block'])):
	foreach ($this->tpl_vars['groups_block'] as $this->tpl_vars['groups']): ?>
				<option value="<?php echo $this->tpl_vars['groups']['id']; ?>"<?php if ($this->tpl_vars['groupe'] == $this->tpl_vars['groups']['id']): ?> selected="selected"<?php endif; ?>><?php echo $this->tpl_vars['groups']['name']; ?></option>
				<?php $this->tpl_vars['count']++; endforeach; endif; ?>
			</select><br />
			<div class="tcenter"><input type="submit" value="Filtrer" /></div>
		</form>
	</div>
	<div class="block">
		<div class="top"></div>
		<h2>Statistiques</h2>
		<ul>
			<li><?php echo $this->tpl_vars['total']; ?> utilisateurs trouvés</li>
		</ul>
	</div>
</div>
<div id="content">
	<?php if (!empty($this->tpl_vars['note'])): ?><?php echo $this->tpl_vars['note']; ?><?php endif; ?>
	<?php echo $this->tpl_vars['pagination']; ?>
	<table id="liste" class="liste sorted" cellpadding="0" cellspacing="0">
		<colgroup>
			<col width="5%" />
			<col width="30%" />
			<col width="20%" />
			<col width="20%" />
			<col width="20%" />
			<col width="5%" />
		</colgroup>
		<tr>
			<th class="sort <?php echo $this->tpl_vars['id_class']; ?>"><a href="/admin/user/id-<?php echo $this->tpl_vars['id_sort']; ?>/<?php echo $this->tpl_vars['subURL']; ?>">#</a></th>
			<th class="sort <?php echo $this->tpl_vars['nickname_class']; ?>"><a href="/admin/user/nickname-<?php echo $this->tpl_vars['nickname_sort']; ?>/<?php echo $this->tpl_vars['subURL']; ?>">Pseudonyme</a></th>
			<th class="sort <?php echo $this->tpl_vars['groupe_class']; ?>"><a href="/admin/user/groupe-<?php echo $this->tpl_vars['groupe_sort']; ?>/<?php echo $this->tpl_vars['subURL']; ?>">Groupe</a></th>
			<th class="sort <?php echo $this->tpl_vars['date_class']; ?>"><a href="/admin/user/date-<?php echo $this->tpl_vars['date_sort']; ?>/<?php echo $this->tpl_vars['subURL']; ?>">Date d'inscription</a></th>
			<th class="sort <?php echo $this->tpl_vars['last_activity_class']; ?>"><a href="/admin/user/last_activity-<?php echo $this->tpl_vars['last_activity_sort']; ?>/<?php echo $this->tpl_vars['subURL']; ?>">Dernière connexion</a></th>
			<th>Actions</th>
		</tr>
		<?php $this->tpl_vars['count'] = 0;if (isset($this->tpl_vars['users_block']) && is_array($this->tpl_vars['users_block'])):
	foreach ($this->tpl_vars['users_block'] as $this->tpl_vars['users']): ?>
			<tr class="<?php if ($this->tpl_vars['count'] % 2 == 0): ?>pair<?php else: ?>impair<?php endif; ?>">
				<td><?php echo $this->tpl_vars['users']['id']; ?></td>
				<td><strong><?php echo $this->tpl_vars['users']['nickname']; ?></strong></td>
				<td><?php echo $this->tpl_vars['users']['groupe']; ?></td>
				<td><?php echo $this->tpl_vars['users']['fdate']; ?></td>
				<td><?php echo $this->tpl_vars['users']['factivity']; ?></td>
				<td>
					<a href="/admin/user/edit/<?php echo $this->tpl_vars['users']['id']; ?>/" title="Editer"><img src="/themes/system/images/icones/edit.png" alt="Editer" /></a>
					<a href="/admin/user/del/<?php echo $this->tpl_vars['users']['id']; ?>/" title="Supprimer"><img src="/themes/system/images/icones/del.png" alt="Supprimer" /></a>
				</td>
			</tr>
		<?php $this->tpl_vars['count']++; endforeach; endif; ?>
		<?php if ($this->tpl_vars['count'] == 0): ?>
			<tr>
				<td colspan="6" class="tcenter">Aucun utilisateur trouvé</td>
			</tr>
		<?php endif; ?>
	</table>
	<?php echo $this->tpl_vars['pagination']; ?>
</div>
<div class="clear"></div>