<script type="text/javascript" src="/apps/forum/front/js/association.js"></script>
<h1 class="hidden">L'association</h1>
<div class="fleft">
	<?php $this->display("apps/forum/front/templates/nav.html"); ?>
	
	<div class="box-left">
		<h2><span>Association</span></h2>
		<h3>Loi 1901</h3>
		<p>Le Forum Est-Horizon est une association de type <em>loi 1901</em> à but non lucratif. Elle existe depuis 1984.</p> <!--maintenant 30 ans.</p>-->
		<p>L'ensemble de ses membres sont des bénévoles.</p>
	</div>
	<div class="box-left">
		<h2><span>Election</span></h2>
		<h3>Une campagne tous les ans</h3>

		<p>Chaque année, les membres de l'association sont élus par les élèves de l'Ecole des Mines de Nancy, après une campagne de 3 ou 4 jours.</p>
		<p>Durant cette campagne, la coordination, l'entente, l'imagination, la gestion, la logistique et l'endurance sont mises à rude épreuve afin de prouver la compétence de l'équipe à organiser le Forum Est-Horizon.</p>
	</div>
</div>
<div id="equipe" class="box-center fleft">
	<h2><span>Notre équipe</span></h2>
	
	<p>Depuis sa création, en 1984, le Forum Est-Horizon est une association gérée par une équipe soudée de jeunes bénévoles&nbsp;: 18 élèves ingénieurs de Mines Nancy mettent leurs compétences au service des entreprises pour préparer ce grand événement.</p>
	<p>Le Forum Est-Horizon est présidé par <strong>Théo MICHEL</strong>.</p>
	
		<div id="trombi">
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Theo.jpg" alt="MICHEL Théo" style="width: 80px"/><br />
			<div><span title="nom">MICHEL Théo</span><br />
			<span title="poste">Président</span><br />
			<span title="email">president@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Lois.jpg" alt="FACCHETTI Loïs" style="width: 80px"/><br />
			<div><span title="nom">FACCHETTI Loïs</span><br />
			<span title="poste">Vice-Président</span><br />
			<span title="email">forum@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Geoffrey.jpg" alt="CROUVIZIER Geoffrey" style="width: 80px"/><br />
			<div><span title="nom">CROUVIZIER Geoffrey</span><br />
			<span title="poste">Secrétaire Général</span><br />
			<span title="email">forum@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Nathan.jpg" alt="JOUBERT Nathan" style="width: 80px"/><br />
			<div><span title="nom">JOUBERT Nathan</span><br />
			<span title="poste">Trésorier</span><br />
			<span title="email">tresorerie@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Gaetan.jpg" alt="AUBRY Gaëtan" style="width: 80px"/><br />
			<div><span title="nom">AUBRY Gaëtan</span><br />
			<span title="poste">Responsable relations entreprises</span><br />
			<span title="email">relations-entreprises@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Layla.jpg" alt="ASSILA Layla" style="width: 80px"/><br />
			<div><span title="nom">ASSILA Layla</span><br />
			<span title="poste">Relations entreprises</span><br />
			<span title="email">relations-entreprises@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Louis.jpg" alt="CHABERT Louis" style="width: 80px"/><br />
			<div><span title="nom">CHABERT Louis</span><br />
			<span title="poste">Relations entreprises</span><br />
			<span title="email">relations-entreprises@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Ibrahima.jpg" alt="SENE Ibrahima" style="width: 80px"/><br />
			<div><span title="nom">SENE Ibrahima</span><br />
			<span title="poste">Relations entreprises</span><br />
			<span title="email">relations-entreprises@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Raphael.jpg" alt="SIMEON Raphaël" style="width: 80px"/><br />
			<div><span title="nom">SIMEON Raphaël</span><br />
			<span title="poste">Relations entreprises</span><br />
			<span title="email">relations-entreprises@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Lucile.jpg" alt="MERLE Lucile" style="width: 80px"/><br />
			<div><span title="nom">MERLE Lucile</span><br />
			<span title="poste">Logistique</span><br />
			<span title="email">logistique@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Alexis.jpg" alt="PETITJEAN Alexis" style="width: 80px"/><br />
			<div><span title="nom">PETITJEAN Alexis</span><br />
			<span title="poste">Logisitique</span><br />
			<span title="email">logistique@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Antoine.jpg" alt="BICHAT Antoine" style="width: 80px" /><br />
			<div><span title="nom">BICHAT Antoine</span><br />
			<span title="poste">Responsable Communication</span><br />
			<span title="email">communication@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Elodie.jpg" alt="DANGEARD Elodie" style="width: 80px" /><br />
			<div><span title="nom">DANGEARD Elodie</span><br />
			<span title="poste">Communication Interne</span><br />
			<span title="email">communication@est-horizon.com</span></div>
		</div>
		
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Maxime.jpg" alt="TAMBURELLO Maxime" style="width: 80px"/><br />
			<div><span title="nom">TAMBURELLO Maxime</span><br />
			<span title="poste">Relations Ecoles</span><br />
			<span title="email">relation-ecoles@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Jean.jpg" alt="LUCHIER JEAN" style="width: 80px" /><br />
			<div><span title="nom">LUCHIER Jean</span><br />
			<span title="poste">PAO</span><br />
			<span title="email">forum@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Alexandre.jpg" alt="DAVID Alexandre" style="width: 80px"/><br />
			<div><span title="nom">DAVID Alexandre</span><br />
			<span title="poste">Informatique</span><br />
			<span title="email">informatique@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Gregoire.jpg" alt="JEANNEROD Grégoire" style="width: 80px"/><br />
			<div><span title="nom">JEANNEROD Grégoire</span><br />
			<span title="poste">Responsable qualité</span><br />
			<span title="email">forum@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/forum/front/photos/2015/Mehdi.jpg" alt="El Hardouz Mehdi" style="width: 80px"/><br />
			<div><span title="nom">El Hardouz Mehdi</span><br />
			<span title="poste">Tables rondes et conférences</span><br />
			<span title="email">forum@est-horizon.com</span></div>
		</div>
		<div class="spacer"></div>
		</br>
	</div>
	<div id="infos">
		<span id="infos_nom"></span><br /><br />
		<strong>Fonction :</strong> <span id="infos_poste"></span><br />
		<strong>Email :</strong> <span id="infos_email"></span>
	</div>
</div>
<div class="spacer"></div>
