<script type="text/javascript" src="/apps/cvtheque/front/js/register.js"></script>
<form method="post" id="cv_form" class="box-center" action="/cvtheque/inscription/" enctype="multipart/form-data">
	<?php if (!empty($this->tpl_vars['note'])): ?><?php echo $this->tpl_vars['note']; ?><?php endif; ?>
	<h1><span>Editer votre inscription</span></h1>
	
	<h3>Informations + CV</h3>
	<p>Ces données ne seront communiquées qu'aux entreprises présentes lors du Forum et ne seront pas divulguées à des tiers.</p>
	
	<table>
		<tr>
			<td><label for="mail">E-mail*</label></td>
			<td><input id="mail" name="mail" value="<?php echo $this->tpl_vars['mail']; ?>" /></td>
		</tr>
		<tr>
			<td id="error-mail" class="form-error-indic" colspan="2"></td>
		</tr>
		<tr>
			<td id="error-password" class="form-error-indic" colspan="2"></td>
		</tr>
		<tr>
			<td><label for="lastname">Nom*</label></td>
			<td><input id="lastname" name="lastname" value="<?php echo $this->tpl_vars['lastname']; ?>" /></td>
		</tr>
		<tr>
			<td id="error-name" class="form-error-indic" colspan="2"></td>
		</tr>
		<tr>
			<td><label for="firstname">Prénom*</label></td>
			<td><input id="firstname" name="firstname" value="<?php echo $this->tpl_vars['firstname']; ?>" /></td>
		</tr>
		<tr>
			<td id="error-firstname" class="form-error-indic" colspan="2"></td>
		</tr>
		<tr>
			<td><label for="ecole">Ecole*</label></td>
			<td>
				<select name="ecole" onchange="if (this.value == 'autre') $('#autre').show(); else $('#autre').hide();">
					<?php $this->tpl_vars['e']['count'] = -1;
foreach($this->tpl_vars['ecoles'] as $this->tpl_vars['e']['key'] => $this->tpl_vars['e']['value']):
$this->tpl_vars['e']['count']++; ?>
					<option value="<?php echo $this->tpl_vars['e']['value']; ?>"<?php if ($this->tpl_vars['e']['value'] == $this->tpl_vars['ecole']): ?> selected="selected"<?php endif; ?>><?php echo $this->tpl_vars['e']['value']; ?></option>
					<?php endforeach; ?>
					<option value="autre">Autre</option>
				</select>
				<br />
				<input id="autre" class="hidden" type="text" name="autre" value="" />
			</td>
		</tr>
		<tr>
			<td><label for="diplome">Dernier diplôme</label></td>
			<td><input id="diplome" type="text" name="diplome" value="<?php echo $this->tpl_vars['diplome']; ?>" /></td>
		</tr>
		<tr>
			<td><label for="recherche">Vous recherchez</label></td>
			<td><select id="recherche" name="recherche">
				<?php $this->tpl_vars['s']['count'] = -1;
foreach($this->tpl_vars['stages'] as $this->tpl_vars['s']['key'] => $this->tpl_vars['s']['value']):
$this->tpl_vars['s']['count']++; ?>
				<option value="<?php echo $this->tpl_vars['s']['value']; ?>"<?php if ($this->tpl_vars['s']['value'] == $this->tpl_vars['stage']): ?> selected="selected"<?php endif; ?>><?php echo $this->tpl_vars['s']['value']; ?></option>
				<?php endforeach; ?>
			</select></td>
		</tr>
		<tr>
			<td><label for="secteur">Secteur d'intérêt*</label></td>
			<td><input id="secteur" type="text" name="secteur" value="<?php echo $this->tpl_vars['secteur']; ?>" /> <em>Ce champ sera utile pour les recruteurs afin de cibler les cv (ex: aéronautique, ...).</em></td>
		</tr>
		<tr>
			<td><label for="cv">Réuploader CV*</label></td>
			<td><input type="file" name="cv" />
				<br /><em>(.pdf, .doc acceptés)</em></td>
		</tr>
		<tr>
			<td><label for="lettre">Réuploader lettre de motivation</label></td>
			<td><input type="file" name="lettre" />
				<br /><em>(.pdf, .doc acceptés)</em></td>
		</tr>
	</table>
    <br />
    <h3>Changez votre inscription au pôle conseil<br />simulation d'entretien d'embauche et correction de CV</h3>
	
	<p>Le pôle conseil accueille des intervenants qui viennent tout particulièrement pour vous faire passer des simulations d'entretiens d'embauche et corriger votre CV pendant des créneaux d'environ 30 minutes. Vous pouvez d'ores et déjà réserver des simulations avec :
	<ul>
		<?php $this->tpl_vars['count'] = 0;if (isset($this->tpl_vars['intervenant_block']) && is_array($this->tpl_vars['intervenant_block'])):
	foreach ($this->tpl_vars['intervenant_block'] as $this->tpl_vars['intervenant']): ?>
		<li><strong><?php echo $this->tpl_vars['intervenant']['name']; ?></strong>, <em><?php echo $this->tpl_vars['intervenant']['firm']; ?></em> : <?php echo $this->tpl_vars['intervenant']['desc']; ?></li>
		<?php $this->tpl_vars['count']++; endforeach; endif; ?>
	</ul>
	</p>
	
	<table class="schedule" cellspacing="0" cellpadding="5" border="1">
		<?php $this->tpl_vars['count'] = 0;if (isset($this->tpl_vars['intervenant_block']) && is_array($this->tpl_vars['intervenant_block'])):
	foreach ($this->tpl_vars['intervenant_block'] as $this->tpl_vars['intervenant']): ?>
		<tr>
			<td><strong><?php echo $this->tpl_vars['intervenant']['name']; ?></strong><br />
				<em><?php echo $this->tpl_vars['intervenant']['firm']; ?></em></td>
			<td>
				<?php $this->tpl_vars['s']['count'] = -1;
foreach($this->tpl_vars['intervenant']['schedule'] as $this->tpl_vars['s']['key'] => $this->tpl_vars['s']['value']):
$this->tpl_vars['s']['count']++; ?>
				<label>
					<?php if (!isset($this->tpl_vars['booking'][$this->tpl_vars['intervenant']['id'].'-'.$this->tpl_vars['s']['value']])): ?>
					<input class="radio" type="radio" name="timeslot" value="<?php echo $this->tpl_vars['intervenant']['id']; ?>-<?php echo $this->tpl_vars['s']['value']; ?>" /><?php echo $this->tpl_vars['s']['value']; ?>
					<?php else: ?>&nbsp;<strong>R.</strong>&nbsp;<?php echo $this->tpl_vars['s']['value']; ?>
					<?php endif; ?>
				</label>
				<?php endforeach; ?>
			</td>
		</tr>
		<?php $this->tpl_vars['count']++; endforeach; endif; ?>
	</table>
	<em><strong>R.</strong> = réservé</em><br />
	
	<p><label><input type="checkbox" name="noconseil" onclick="if (typeof $('.radio').attr('disabled') == 'undefined') $('.radio').attr('disabled', 'disabled'); else $('.radio').removeAttr('disabled');" /> 
		Ne pas s'inscrire au pôle conseil</label></p>
	
	<input type="submit" value="Envoyer" />
	<div class="spacer"></div>
</form>
<div class="spacer"></div>