<script type="text/javascript" src="/apps/a-propos/front/js/association.js"></script>
<h1 class="hidden">L'association</h1>
<div class="fleft">
	<?php $this->display("apps/a-propos/front/templates/nav.html"); ?>
	
	<div class="box-left">
		<h2><span>Association</span></h2>
		<h3>Loi 1901</h3>
		<p>Le Forum Est-Horizon est une association de type <em>loi 1901</em> à but non lucratif. Elle existe depuis maintenant 30 ans.</p>
		<p>L'ensemble de ses membres sont des bénévoles.</p>
	</div>
	<div class="box-left">
		<h2><span>Election</span></h2>
		<h3>Une campagne tous les ans</h3>

		<p>Chaque année, les membres de l'association sont élus par les élèves de l'Ecole des Mines de Nancy, après une campagne de 3 ou 4 jours.</p>
		<p>Durant cette campagne, la coordination, l'entente, l'imagination, la gestion, la logistique et l'endurance sont mises à rude épreuve afin de prouver la compétence de l'équipe à organiser le Forum Est-Horizon.</p>
	</div>
</div>
<div id="equipe" class="box-center fleft">
	<h2><span>Notre équipe</span></h2>
	
	<p>Depuis sa création, il y a 30 ans, le Forum Est-Horizon est une association gérée par une équipe soudée de jeunes bénévoles&nbsp;: 17 étudiants polyvalents de l'Ecole des Mines de Nancy mettent leurs compétences au service des entreprises pour préparer ce grand évènement.</p>
	<p>Le Forum Est-Horizon est présidé par <strong>Vincent LAURENT</strong>.</p>
	
		<div id="trombi">
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Laurent_Vincent.JPG" alt="LAURENT Vincent" style="max-width: 100px"/><br />
			<div><span title="nom">LAURENT Vincent</span><br />
			<span title="poste">Président</span><br />
			<span title="email">president@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Aledo_CharlesAntoine.JPG" alt="ALEDO Charles-Antoine" style="max-width: 100px"/><br />
			<div><span title="nom">ALEDO Charles-Antoine</span><br />
			<span title="poste">Vice-Président</span><br />
			<span title="email">forum@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Aubert_Ludovic.JPG" alt="AUBERT Ludovic" style="max-width: 100px"/><br />
			<div><span title="nom">AUBERT Ludovic</span><br />
			<span title="poste">Secrétaire Général</span><br />
			<span title="email">forum@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Degryse_MarieAnne.JPG" alt="DEGRYSE Marie-Anne" style="max-width: 100px"/><br />
			<div><span title="nom">DEGRYSE Marie-Anne</span><br />
			<span title="poste">Trésorier</span><br />
			<span title="email">tresorerie@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Pecher_Josselin.JPG" alt="PECHER Josselin" style="max-width: 100px"/><br />
			<div><span title="nom">PECHER Josselin</span><br />
			<span title="poste">Responsable relations entreprises</span><br />
			<span title="email">relations-entreprises@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Nguyen_Dung.JPG" alt="NGUYEN Dung" style="max-width: 100px"/><br />
			<div><span title="nom">NGUYEN Dung</span><br />
			<span title="poste">Relations entreprises</span><br />
			<span title="email">relations-entreprises@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Chenier_Aurelien.JPG" alt="CHENIER Aurélien" style="max-width: 100px"/><br />
			<div><span title="nom">CHENIER Aurélien</span><br />
			<span title="poste">Relations entreprises</span><br />
			<span title="email">relations-entreprises@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Kanber_Ouiam.JPG" alt="KANBER Ouiam" style="max-width: 100px"/><br />
			<div><span title="nom">KANBER Ouiam</span><br />
			<span title="poste">Relations entreprises</span><br />
			<span title="email">relations-entreprises@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Winchester_Brian.JPG" alt="WINCHESTER Brian" style="max-width: 100px"/><br />
			<div><span title="nom">WINCHESTER Brian</span><br />
			<span title="poste">Logistique</span><br />
			<span title="email">logistique@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Plevy_Logan.JPG" alt="PLEVY Logan" style="max-width: 100px"/><br />
			<div><span title="nom">PLEVY Logan</span><br />
			<span title="poste">Logisitique</span><br />
			<span title="email">logistique@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Adjaoue_Mehdi.JPG" alt="ADJAOUE Mehdi" style="max-width: 100px" /><br />
			<div><span title="nom">ADJAOUE Mehdi</span><br />
			<span title="poste">Communication</span><br />
			<span title="email">communication@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Fache_Thibaud.JPG" alt="FACHE Thibaud" style="max-width: 100px"/><br />
			<div><span title="nom">FACHE Thibaud</span><br />
			<span title="poste">Relations Ecoles</span><br />
			<span title="email">relation-ecoles@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Fournier_Vincent.JPG" alt="FOURNIER Vincent" style="max-width: 100px" /><br />
			<div><span title="nom">FOURNIER Vincent</span><br />
			<span title="poste">PAO</span><br />
			<span title="email">forum@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Erhel_Marion.jpg" alt="ERHEL Marion" style="max-width: 100px"/><br />
			<div><span title="nom">ERHEL Marion</span><br />
			<span title="poste">Transport & Restauration</span><br />
			<span title="email">logistique@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Fosset_Steven.JPG" alt="FOSSET Steven" style="max-width: 100px"/><br />
			<div><span title="nom">FOSSET Steven</span><br />
			<span title="poste">Informatique</span><br />
			<span title="email">informatique@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Zacharie_Celien.JPG" alt="ZACHARIE Célien" style="max-width: 100px"/><br />
			<div><span title="nom">ZACHARIE Célien</span><br />
			<span title="poste">Qualité</span><br />
			<span title="email">forum@est-horizon.com</span></div>
		</div>
		<div class="item">
			<img src="/apps/a-propos/front/photos/2014/Brignon_Andrea.JPG" alt="BRIGNON Andrea" style="max-width: 100px"/><br />
			<div><span title="nom">BRIGNON Andrea</span><br />
			<span title="poste">Conférences</span><br />
			<span title="email">forum@est-horizon.com</span></div>
		</div>
		<div class="spacer"></div>
	</div>
	<div id="infos">
		<span id="infos_nom"></span><br /><br />
		<strong>Fonction :</strong> <span id="infos_poste"></span><br />
		<strong>Email :</strong> <span id="infos_email"></span>
	</div>
</div>
<div class="spacer"></div>
