<h1 class="hidden"></h1>
<div id="left_yellow">
	<div class="encart" id="statut">
		<h2><span>Association</span></h2>
		<h3>Loi 1901</h3>

		<p>L'association Forum Est-Horizon est association de Loi 1901 à but non lucratif.</p>
		<p>L'intégralité des membres de l'association sont des bénévoles.</p>
	</div>
	<div class="encart" id="election">
		<h2><span>Election</span></h2>
		<h3>Campagne tous les ans</h3>

		<p>Tous les ans, les membres de l'association sont élus par les élèves de l'Ecole des Mines de Nancy, après une campagne de 3 ou 4 jours.</p>
		<p>Durant cette campagne, la coordination, l'entente, l'imagination, la gestion, la logistique et l'endurance 
		sont mises à rude épreuve afin de prouver la compétence de l'équipe à organiser le Forum Est-Horizon.</p>
	</div>
</div>
<div id="equipe">
	<h2><span>Notre équipe</span></h2>
	<p>Chaque ann&eacute;e depuis 28 ans, l'association Forum Est-Horizon organise <b>la plus grande rencontre &eacute;tudiant-entreprises de l'Est de la France.</b></p>
	<p>Cette année l'association est présidée par Nima Delhavi.</p>
	
	<div id="bureau">
		<h3>Le bureau</h3>
		<div class="item">
			<img src="/apps/association/front/photos/Nima_Dehlavi.png" alt="Nima Dehlavi" /><br />
			Nima Dehlavi<br />
			<em>Président</em>
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/Chris_Mabrier.png" alt="Chris Mabrier" /><br />
			Chris-Eiji Mabrier<br />
			<em>Vice-Président</em>
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/Nicolas_DeLichy.png" alt="Nicolas De Lichy" /><br />
			Nicolas De Lichy<br />
			<em>Secrétaire Général</em>
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/Guillaume_Dupuy.png" alt="Guillaume Dupuy" /><br />
			Guillaume Dupuy<br />
			<em>Trésorier</em>
		</div>
		<div class="spacer"></div>
	</div>
	
	<div id="relations">
		<h3>Relations</h3>
		<div class="item">
			<img src="/apps/association/front/photos/Jean_Slavik.png" alt="Jean Slavik" /><br />
			Jean Slavik<br />
			<em>Relations entreprises<br />
			Pré-forum</em>
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/Angelique_Deny.png" alt="Angélique Deny" /><br />
			Angélique Deny<br />
			<em>Relations internationales</em>
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/Emeric_Trossat.png" alt="Emeric Trossat" /><br />
			Emeric Trossat<br />
			<em>Conférences<br />
			Tables rondes</em>
		</div>
		<div class="spacer"></div>
	</div>
	
	<div id="com">
		<h3>Communication</h3>
		<div class="item">
			<img src="/apps/association/front/photos/Marc_Bouffier.png" alt="Marc Bouffier" /><br />
			Marc Bouffier<br />
			<em>Com. interne</em>
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/Gregoire_Even.png" alt="Grégoire Even" /><br />
			Grégoire Even<br />
			<em>Com. externe</em>
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/DT_Malinski.png" alt="DT Malinski" /><br />
			David-Tristan Malinski<br />
			<em>Media</em>
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/Othmane_Asghir.png" alt="Othmane Asghir" /><br />
			Othmane Asghir<br />
			<em>Relations écoles</em>
		</div>
		<div class="spacer"></div>
	</div>
	
	<div id="info">
		<h3>Informatique</h3>
		<div class="item">
			<img src="/apps/association/front/photos/Julien_Blatecky.png" alt="Julien Blatecky" /><br />
			Julien Blatecky<br />
			<em>Pôle informatique</em>
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/Johan_Dufau.png" alt="Johan Dufau" /><br />
			Johan Dufau<br />
			<em>Pôle informatique</em>
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/Bastien_Faure.png" alt="Bastien Faure" /><br />
			Bastien Faure<br />
			<em>PAO</em>
		</div>
		<div class="spacer"></div>
	</div>
	
	<div id="logistique">
		<h3>Logistique</h3>
		<div class="item">
			<img src="/apps/association/front/photos/Ludovic_Vanhove.png" alt="Ludovic Vanhove" /><br />
			Ludovic Vanhove<br />
			<em>Pôle logistique</em>
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/JM_JM.png" alt="J-M J-M" /><br />
			J-M J-M<br />
			<em>Pôle logistique</em>
		</div>
		<div class="spacer"></div>
	</div>
	
	<div id="resto">
		<h3>Transports & restauration</h3>
		<div class="item">
			<img src="/apps/association/front/photos/Mathias_Maier.png" alt="Mathias Maier" /><br />
			Mathias Maier
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/Guillaume_Chevalier.png" alt="Guillaume Chevalier" /><br />
			Guillaume Chevalier
		</div>
		<div class="item">
			<img src="/apps/association/front/photos/Armand_Ghadami.png" alt="Armand Ghadami" /><br />
			Armand Ghadami
		</div>
		<div class="spacer"></div>
	</div>
</div>
<div class="spacer"></div>
