<?php if (!empty($this->tpl_vars['note'])): ?><?php echo $this->tpl_vars['note']; ?><?php endif; ?>
<?php echo $this->tpl_vars['pagination']; ?>
<table class="liste sorted" cellpadding="0" cellspacing="0">
	<colgroup>
		<col style="width: 35%;" />
		<col style="width: 15%;" />
		<col style="width: 15%;" />
		<col style="width: 15%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<tr>
		<th class="sort <?php echo $this->tpl_vars['objet_class']; ?>"><a href="/admin/newsletter/objet-<?php echo $this->tpl_vars['objet_sort']; ?>/">Objet</a></th>
		<th class="sort <?php echo $this->tpl_vars['date_class']; ?>"><a href="/admin/newsletter/date-<?php echo $this->tpl_vars['date_sort']; ?>/">Date</a></th>
		<th>Expéditeur</th>
		<th>Nombre destinataires</th>
		<th>Pièce jointe</th>
		<th>Action</th>
	</tr>
	<?php $this->tpl_vars['count'] = 0;if (isset($this->tpl_vars['newsletter_block']) && is_array($this->tpl_vars['newsletter_block'])):
	foreach ($this->tpl_vars['newsletter_block'] as $this->tpl_vars['newsletter']): ?>
		<tr class="<?php if ($this->tpl_vars['count'] % 2 == 0): ?>pair<?php else: ?>impair<?php endif; ?>">
			<td><strong><?php echo $this->tpl_vars['newsletter']['objet']; ?></strong></td>
			<td><?php echo $this->tpl_vars['newsletter']['date']; ?></td>
			<td><?php echo $this->tpl_vars['newsletter']['nickname']; ?></td>
			<td class="tcenter"><?php echo $this->tpl_vars['newsletter']['dest_count']; ?></td>
			<td class="tcenter">
				<?php if (!empty($this->tpl_vars['newsletter']['attachment'])): ?><img src="/themes/system/images/icones/juste.png" alt="Non" />
				<?php else: ?><img src="/themes/system/images/icones/del.png" alt="Oui" /><?php endif; ?>
			</td>
			<td class="tcenter">
				<a href="/admin/newsletter/read/<?php echo $this->tpl_vars['newsletter']['id']; ?>/" title="Lire"><img src="/themes/system/images/icones/letter.png" alt="Lire" /></a>
			</td>
		</tr>
	<?php $this->tpl_vars['count']++; endforeach; endif; ?>
	<?php if ($this->tpl_vars['count'] == 0): ?>
		<tr>
			<td colspan="5" class="tcenter">Aucune donnée</td>
		</tr>
	<?php endif; ?>
</table>
<?php echo $this->tpl_vars['pagination']; ?>