<script type="text/javascript" src="/apps/participer/front/js/anim.js"></script>
<div id="participer">
	<h1><span>Pourquoi exposer au Forum ?</span></h1>
	<div id="box_info">
		<img src="/apps/participer/front/images/fleche_left.png" id="b_last"/>
		<img src="/apps/participer/front/images/fleche_right.png" id="b_next"/>
		<div id="effect_correction">
			<div class="part_info" id="info_1">
				<h2 class="hidden"><span>Public ciblé</span></h2>
				<div class="tag-cloud">
					<a href="http://artem.inpl-nancy.fr/"><img class="tag-img" src="/themes/feh/images/sponsors/artem.png" alt="artem" /></a>
					<!--<a href="http://www.cg54.fr/"><img class="tag-img" src="/themes/feh/images/sponsors/cg54.jpg" alt="cg54" /></a>-->
					<!--<a href="http://www.lorraine.eu/"><img class="tag-img" src="/themes/feh/images/sponsors/crlorraine.png" alt="crlorraine" /></a>-->
					<a href="http://www.ensa-nancy.fr/"><img class="tag-img" src="/themes/feh/images/sponsors/ensa.png" alt="ensa" /></a>
					<a href="http://www.ensam.eu/fr/centres_et_instituts/centre_metz"><img class="tag-img" src="/themes/feh/images/sponsors/ensam.png" alt="ensam" /></a>
					<a href="http://www.ensem.inpl-nancy.fr/"><img class="tag-img" src="/themes/feh/images/sponsors/ensem.png" alt="ensem" /></a><br />
					<a href="http://www.mines.inpl-nancy.fr/"><img id="tag-mines" src="/themes/feh/images/sponsors/mines.png" alt="mines de nancy" /></a><br />
					<a href="http://www.esstin.uhp-nancy.fr/"><img class="tag-img" src="/themes/feh/images/sponsors/esstin.png" alt="esstin" /></a>
					<!--<a href="http://www.grand-nancy.org/"><img class="tag-img" src="/themes/feh/images/sponsors/grnancy.jpg" alt="grand nancy" /></a>-->
					<a href="http://www.icn-groupe.fr/fr/"><img class="tag-img" src="/themes/feh/images/sponsors/icn.png" alt="icn" /></a>
					<a href="http://www.inpl-nancy.fr/"><img class="tag-img" src="/themes/feh/images/sponsors/inpl.png" alt="inpl" /></a>
					<!--<a href="http://www1.nancy.fr/"><img class="tag-img" src="/themes/feh/images/sponsors/nancy.png" alt="nancy" /></a>-->
					<a href="http://www.eeigm.inpl-nancy.fr/"><img class="tag-img" src="/themes/feh/images/sponsors/eeigm.png" alt="eeigm" /></a>
				</div>
				L’équipe organisatrice du Forum permet la collaboration 
				entre des étudiants issus de <strong>nombreuses écoles</strong> associées 
				à l’<strong>École des Mines de Nancy</strong> et permet donc de balayer 
				un large domaine de compétences :<br/>
				<strong>Sciences, Electricité, Mécanique, Informatique, Commerce, ...</strong>.<br/>
				Cette ouverture est un gage de la diversité des profils 
				des étudiants et des jeunes diplômés que vous rencontrerez lors du Forum.<br/>
				L'an dernier, plus de <strong>2000 étudiants</strong> y ont participé.
			</div>
			<div class="part_info hidden" id="info_2">
				<h2 class="hidden"><span>Stand personnalisé</span></h2>
				<img src="/apps/participer/front/images/stand.jpg"/>	
				Dans un soucis de répondre au mieux à vos attentes, votre <strong>stand est entièrement personnalisable</strong>.
				Vous pouvez choisir <strong>sa taille</strong>, <strong>son mobilier</strong> (ou apporter le votre) et <strong>sa couleur</strong>.
				De <strong>nombreuses options matérielles</strong>, telles que l'activation d'une <strong>connexion Internet</strong> ou la <strong>location d'un téléviseur</strong> sont également disponibles.<br/>
				
				<span class="asterix">* Réservation sur ce site à partir de Juillet 2011</span>
			</div>
			<div class="part_info hidden" id="info_3">
				<h2 class="hidden"><span>Visibilité Publicité</span></h2>
				
				Afin de mieux vous faire connaître, nous vous proposons diverses <strong>options publicitaires</strong> étalées dans le temps :<br/>
				
				<strong>Avant le Forum</strong>, une large campagne de communication à travers des <strong>panneaux d'affichage</strong> dans toute la ville de Nancy et aux alentours.<br/>
				<strong>Pendant la manifestation</strong> de nombreuses formes de publicité seront disponibles comme la diffusion d'un <strong>spot publicitaire</strong> dans le hall,
				<strong>l'impression de votre logo sur les goodies</strong> qui seront distribués ainsi qu'une <strong>page de publicité</strong> dans la brochure visiteurs et sur le marque-page.<br/>
				
				<img src="/apps/participer/front/images/bus.jpg"/>
				
				<span class="asterix">* Réservation et tarifs sur ce site à partir de Juillet 2011</span>
			</div>
			<div class="part_info hidden" id="info_4">
				<h2 class="hidden"><span>Conférences et Pré-Forum</span></h2>
				
				<img class="part-info-img" src="/apps/participer/front/images/conf.jpg"/>
				
				Votre inscription au Forum vous permettra d'intervenir gratuitement lors du <strong>Pré-Forum qui 
				se déroulera le 13 Octobre 2011 à l'Ecole des Mines de Nancy</strong>. Vous pourrez y faire une 
				présentation institutionnelle de votre entreprise ainsi que des simulations d'entretien.<br/>
				
				Aussi, le jour du Forum, vous pourrez intervenir en animant <strong>une conférence ou une table ronde</strong> sur 
				le thème que nous aurons déterminé ensemble. Vous aurez aussi la possibilité de réaliser <strong>des entretiens</strong> 
				dans des salles que nous mettrons à votre disposition sur simple demande.
			</div>
			<div class="part_info hidden" id="info_5">
				<h2 class="hidden"><span>Les plus du Forum</span></h2>
				
				<img class="part-info-img" src="/apps/participer/front/images/brochure.jpg"/>				
				
				Votre stand vous permet de <strong>bénéficier gratuitement</strong> 
				d'un branchement électrique, d'une photocopieuse, d'un poste téléphonique, ...<br/>
				
				Une <strong>page de présentation</strong> de votre entreprise sera publiée dans la <strong>brochure visiteurs</strong> et 
				vous pourrez accéder à la <strong>CV-thèque</strong> qui sera disponible sur notre site au courant de cette année.<br/>
				
				Le jour du Forum <strong>nous prendrons en charge vos déplacements</strong> sur l'agglomération nancéienne, votre petit-déjeuner, 
				votre repas et votre stand sera suivi par un étudiant afin de faciliter votre journée.
			</div>
		</div>
	</div>
	<div class="spacer"></div>
	<div id="list_infos">
		<div class="reduc_info selected" id="r_info_1">
			<div class="reduc_info_bg">
				Public ciblé
			</div>
		</div>
		<div class="reduc_info" id="r_info_2">
			<div class="reduc_info_bg">
				Stand<br/>
				personnalisé
			</div>
		</div>
		<div class="reduc_info" id="r_info_3">
			<div class="reduc_info_bg">
				Visibilité<br/>
				Publicité
			</div>
		</div>
		<div class="reduc_info" id="r_info_4">
			<div class="reduc_info_bg">
				Conférences<br/>
				Pré-forum
			</div>
		</div>
		<div class="reduc_info" id="r_info_5">
			<div class="reduc_info_bg">
				Les plus<br/>
				du Forum
			</div>
		</div>
	</div>
</div>
<div class="fleft">
	<div id="files_down">
		<h3>Fichiers à télécharger :</h3>
		<ul>
			<li><a href="/upload/files/Mode_emploi_2011_lite.pdf">Mode d'emploi 2011 allégé</a></li>
			<li><a href="/upload/files/DEPLIANTFORUM2011.pdf">Dépliant 2011</a></li>
		</ul>
	</div>
	<div id="inscription">
		<div id="formulaire"></div>
		<a id="button_form" href="#formulaire">
			<span class="title">Vous voulez devenir<br/> exposant ?</span><br />
			<img src="/themes/feh/images/registercard.png" alt="Inscription" />
			<span class="h1_black">Inscrivez-vous</span>
		</a>

	</div>
</div>
<div class="spacer"></div>
