<h1 class="hidden">Présentation</h1>

<div class="fleft">
	<?php $this->display("apps/forum/front/templates/nav.html"); ?>
	
	<!-- <div class="box-left">
		<h2><span>Nos visiteurs</span></h2>
		<p>Le Forum Mines-Telecom est organisé par des élèves de l'<strong>Ecole des Mines de Nancy</strong> avec l'aide de <strong>TELECOM Nancy</strong> depuis l'édition 2012. Mais bien évidemment, le forum reçoit chaque année la visite de bien d'autres écoles du troisième cycle.</p>
		<p>Cette étroite collaboration permet à chacun d'apporter des compétences propres à sa formation et contribue à la pluridisciplinarité du groupe.</p>
	</div> -->
</div>

<div class="fleft tjustify">
	<div class="box-center">
	
		<h2><span>Présentation</span></h2>
		
		<h3>Le Forum Est-Horizon</h3>
		<p><strong>Le Forum Est-Horizon</strong> est l'un des plus grands salons de rencontres entre étudiants et entreprises organisés dans l'Est de la France.</p>
		<p>Fort de son ancienneté et de l’attractivité que lui confère la diversité des domaines économiques et industriels de ses <strong>60 entreprises</strong>, cet événement a rassemblé l’année dernière plus de 1000 étudiants.</p>
		<p>Retour en vidéo sur la <a href="/upload/files/2013/Brochure_2013.pdf">précédente édition</a> : </p>
				<video
                    class="projekktor"
					poster="/upload/files/Mignature_reportage.png"
                    id="animation"
                    width="512"
                    height="288"
					style="margin:auto;"
                    controls>
                    <source src="/upload/files/reportage_forum_2013.mp4" type='video/mp4'>
				</video>
                <script type="text/javascript">
                    $(document).ready(function() {
                        projekktor('#animation');
                    });
                </script>
		<p> Merci au JTM, l'association audio-visuelle de l'école, pour cette vidéo. Retrouvez leur site internet <a onclick="window.open(this.href); return false;" href="http://jtmminesnancy.online.fr/">ici</a>.</p>
		
		<h3>Ecole Nationale Supérieure des Mines de Nancy</h3> 
		<img src="/images/logos/ecoles/logo-mines.png" alt="Mines de Nancy" class="fleft" width="280"/>
		<p><strong>L'Ecole des Mines de Nancy</strong> est une école d'ingénieurs généraliste classée dans le premier groupe des grandes écoles d'ingénieurs françaises. Etablissement de formation et de recherche, elle appartient au Groupe des Ecoles des Mines et fait partie de l'Institut National Polytechnique de Lorraine. Créée en 1919 sous le nom d'Institut Métallurgique et Minier, l'école invente à la fin des années 50 le concept d'ingénieur généraliste, sous l'impulsion de son directeur Bertrand Schwartz.</p>
		<p>Elle est présente dans cinq grands domaines de compétences scientifiques et technologiques&nbsp;: matériaux, sciences de la terre et environnement, énergie, informatique et mathématiques appliquées, génie industriel. L'école est associée à sept laboratoires organisés autour de quatre domaines de compétence&nbsp;: centre d'Ingénierie des Matériaux (LSG2S, LPM, LSGS), Centre des Sciences de la Terre et Environnement (LAEGO), Centre d'Energétique (LEMTA), Centre d'Informatique et d'Ingénierie nouvelle (LORIA, ERPI).</p>
		<p>L'alliance entre l'<strong>Ecole des Mines</strong>, l'<strong>ICN Business School</strong> (école de management) et l'<strong>Ecole Nationale Supérieure d'Art</strong> au sein d'<strong>Artem</strong> Nancy offre aux élèves de ces trois écoles des enseignements et projets communs, dans le but de développer un espace interculturel rapprochant ingénieurs, managers et créateurs.</p> 
		<p>Pour plus d'informations : <a href="http://www.mines-nancy.univ-lorraine.fr/" onclick="window.open(this.href); return false;">http://www.mines-nancy.univ-lorraine.fr/</a></p>
		</div>
	
	<?php if (false): ?>
	<div class="box-center">
		<h2><span>Ecoles partenaires</span></h2>
		
		<h3>ENSAM Metz</h3>
		<img src="/images/logos/ecoles/ensam.png" alt="ENSAM" class="fleft" />
		<p>L'<strong>Ecole Nationale Supérieure des Arts et Métiers</strong> est une école d'ingénieur positionnée sur l'ensemble du territoire national avec 8 Centres d'Enseignement et de Recherche et 3 Instituts, elle a pour mission principale la formation des ingénieurs dans les domaines du génie mécanique, du génie énergétique et du génie industriel. Par ailleurs l'ENSAM offre en troisième année de nombreuses opportunités de spécialisation dans des établissements partenaires tant français (SUPELEC, ESTP, école NAVALE,...), qu'étrangers (Université technique de Dresde, de Karlsruhe, Georgia Tech,...).</p>
		<p>L'ENSAM a intégré, depuis 2007, l'institut de science et de technologie Paris Tech, qui rassemble dix des plus prestigieuses écoles d'ingénieurs, ce qui lui donne une bonne visibilité à l'international.</p>
		<p>Le centre de Metz, inauguré en 1997, a pour particularité de proposer un cursus franco-allemand qui amène à l'obtention d'un double diplôme d'ingénieur, celui de l'ENSAM et celui d'une grande université allemande à l'issue d'un séjour de 3 à 4 semestres en Allemagne. Ce séjour permet au futur ingénieur de découvrir et de s'imprégner de la culture allemande, ce qui développe sa capacité à travailler avec des partenaires étrangers.</p>
		<p>Pour plus d'informations : <a href="http://www.metz.ensam.fr/" onclick="window.open(this.href); return false;">http://www.metz.ensam.fr/</a></p>
		
		<h3>ENSEM</h3>
		<img src="/images/logos/ecoles/ensem.png" alt="ENSEM" class="fleft" />
		<p>L'<strong>Ecole Nationale Supérieure d'Electricité et de Mécanique</strong> est une école d'ingénieur pluri scientifique recrutant principalement sur le Concours Commun Polytechnique. Elle appartient à l'Institut National Polytechnique de Lorraine et est soutenue par plusieurs laboratoires reconnus par le CNRS et l'INRIA (CRAN, GREEN, LEMTA, LORIA). L'école fut créée en 1900 sous le nom d'Institut d'Electrotechnique de Nancy avant d'accéder au statut d'ENSI en 1948.</p>
		<p>Elle forme des ingénieurs dans trois domaines d'excellence&nbsp;: mécanique, génie électrique et ingénierie des systèmes automatisés. Un nouveau parcours Energie est également accessible en troisième année. L'école propose une formation de tronc commun sur la moitié de la scolarité, à laquelle s'ajoute une formation spécifique plus approfondie au sein d'une des trois filières correspondant aux domaines cités précédemment.</p>
		<p>Pour plus d'informations : <a href="http://www.ensem.inpl-nancy.fr/" onclick="window.open(this.href); return false;">http://www.ensem.inpl-nancy.fr/</a></p> 
		
		<h3>ESSTIN</h3>
		<img src="/images/logos/ecoles/esstin.png" alt="ESSTIN" class="fleft" />
		<p>L'<strong>Ecole Supérieure des Sciences et Technologies de l'Ingénieur de Nancy</strong> est une école publique d'ingénieurs généraliste en 5 ans, recrutant principalement au niveau baccalauréat S sur concours. Elle fut créée en 1960 et appartient à l'Université Henri Poincaré. L'école travaille avec cinq laboratoires associés au CNRS&nbsp;: CRAN, LCPME, LEMTA, LORIA, LPMIA.</p>
		<p>Après un tronc commun de formation scientifique et technique générale, les élèves choisissent un domaine de spécialisation (département Génie énergétique, Mécanique, Matériaux, Environnement et structures ou département Ingénierie des systèmes de production). L'ESSTIN propose également une ouverture aux sciences sociales et politiques, avec la possibilité de suivre des enseignements dispensés par le 1er Cycle Franco-allemand de Sciences-Po à Nancy.</p>
		<p>Pour plus d'informations : <a href="http://www.esstin.uhp-nancy.fr/" onclick="window.open(this.href); return false;">http://www.esstin.uhp-nancy.fr/</a></p>
		
		<h3>EEIGM</h3>
		<img src="/images/logos/ecoles/ensem.png" alt="EEIGM" class="fleft" />
		<p>L'<strong>Ecole Européenne d'Ingénieurs en Génie des Matériaux</strong>, créée en 1991, est une école publique en 5 ans rattachée à l'INPL. Elle forme des ingénieurs européens spécialisés dans le génie des matériaux et offre un cursus international qui permet à la majorité de ses étudiants d'obtenir un double diplôme dans l'une des universités partenaires de l'école&nbsp;: Universitat Politècnica de Catalunya en Espagne, Universität des Saarlandes en Allemagne et Luleå Tekniska Universitet en Suède. De plus elle accueille des étudiants étrangers pour préparer un diplôme d'ingénieur ou un master recherche AMASE.</p>
		<p>L'école abrite des antennes du LSGS, du LPM et du LCSM, trois laboratoires associés au CNRS. Elle est également en lien étroit avec l'Institut Jean Lamour et est fortement impliquée dans le pôle de compétitivité MIPI (recherche en Matériaux Innovants pour Produits Intelligents). </p>
		<p>Pour plus d'informations : <a href="http://www.eeigm.inpl-nancy.fr/" onclick="window.open(this.href); return false;">http://www.eeigm.inpl-nancy.fr/</a></p> 
		
		
		<h3>IUP Finance</h3>
		<img src="/images/logos/ecoles/iupfin.jpg" alt="IUP Finance" class="fleft" />
		<p>L’IUP de Sciences Financières, créé en 1993 à l’initiative du Professeur ARNOULD et de Gérard AUBERT, directeur du Centre de Formation de la Profession Bancaire (CFPB) pour l’est de la France et du Centre de formation d’apprentis des métiers de la Banque et de la Finance (CFABF) constitue une offre pertinente et adaptée aux demandes de nos partenaires banquiers et des étudiants désirant acquérir une formation véritablement professionnalisante.<br/>
		Il montrait ainsi la volonté de l’Université de s’adapter aux évolutions du marché du travail.<br/>
		Depuis ces années pionnières, l’IUP s’est transformé et a grandi&nbsp;:</p> 
		<ul> 
			<li>il s’est transformé dans le cadre du passage au schéma LMD&nbsp;: depuis 2005, l’IUP recrute à Bac + 2 validé, en L3 parcours finance-IUP et délivre un master mention finance, de niveau Bac + 5&nbsp;; les 2 DESS existants&nbsp;: Banque de détail et Négociation et ingénierie patrimoniale sont devenus des spécialités de ce master finance et un autre master a été créé&nbsp;: Ingénierie financière et bancaire de l’entreprise&nbsp;: ainsi l’offre de formation en finance est complète.</li>
			<li>Il a grandi&nbsp;: l’IUP garde ses caractéristiques ( moitié des enseignements assurés par des professionnels de la banque et de la finance, effectifs restreints, projets collectifs, …) qui ont fait son succès et devient l’IUP de Finance de Nancy&nbsp;: cet ensemble constitue une force de 300 étudiants, dont une centaine d’apprentis en alternance, avec 6 diplômes&nbsp;: Licence professionnelle assurance, banque, finance option « marché des particuliers », Licence Droit-éco-gestion, parcours IUP-Finance, Master 1 mention finance, les 3 Masters 2 cités ci-dessus et deux D.U. (Diplôme d’Université)&nbsp;: DU Formation élémentaire aux métiers de la banque et D.U. Prévention du risque pénal économique et financier.</li>
		</ul>
		<p>Pour plus d'informations : <a href="http://iupfin.univ-nancy2.fr/2_nos_atouts.html" onclick="window.open(this.href); return false;">http://iupfin.univ-nancy2.fr/2_nos_atouts.html</a></p>
	</div>
	
	<div class="box-center">
		<h2><span>Universités</span></h2>
		
		<h3>Nancy Université</h3>
		<img src="http://www.loria.fr/media_press/logo/logo_nancy_universite.jpg" alt="Nancy Université" width="180" />
		<p>10 bonnes raisons de venir à Nancy-Université&nbsp;:</p>
		<ul>
			<li>40 000 étudiants à  Nancy, 5e ville universitaire de France</li>
			<li>Plus de 400 formations couvrant la quasi totalité des domaines de la Connaissance&nbsp;: Sciences, Technologie, Santé, Sciences de l'Ingénieur, Droit-Économie-Gestion, Sciences humaines et sociales.</li>
			<li>Des domaines d’excellence et d'expertise reconnus&nbsp;: Mathématiques, Sciences humaines et juridiques, Chimie, Santé... Un pôle d’ingénierie important avec 10 écoles d'ingénieurs,  des pôles innovants en émergence&nbsp;: Sciences de la Fusion, Nanosciences, Informatique et traitement de la langue...</li>
			<li>Une étroite imbrication Formation/Recherche avec 69 laboratoires labellisés, 7 écoles doctorales, la présence sur site des organismes de recherche tels que le CNRS, l'INSERM, l'INRA et l'INRIA.</li>
			<li>Une large gamme de services de proximité&nbsp;: santé, sport, bibliothèques universitaires, conseil à l'orientation, restauration, logement...</li>
			<li>Des équipements numériques&nbsp;: infrastructure réseau à très haut débit (StanNet et LOTHAIRE), couverture Wifi totale, Espace numérique de travail, documentation scientifique et technique en ligne... Centre Interuniversitaire de Ressources Informatiques de Lorraine (CIRIL)</li>
			<li>Une position stratégique transfrontalière avec l'Allemagne, la Belgique et le Luxembourg.</li>
			<li>A 1h30 de Paris et à 1h00 de Strasbourg (TGV Est - Juin 2007)</li>
			<li>Une offre culturelle&nbsp;: Musées, Opéra national, ballet, festivals, Campus en musique, théâtre universitaire, salles de spectacles, autour de la Place Stanislas, classée au Patrimoine mondial de l'UNESCO.</li>
			<li>Un environnement de vie agréable avec Nancy, 1ère au palmarès des villes où il fait bon vivre (Nouvel Observateur - Novembre 2006).</li>
		</ul>
		<p>Pour plus d'informations : <a href="http://www.nancy-universite.fr/" onclick="window.open(this.href); return false;">http://www.nancy-universite.fr/</a></p>
		
		<h3>INPL</h3> 
		<img src="/images/logos/ecoles/inpl.png" alt="INPL" />
		<p>L'<strong>Institut national polytechnique de Lorraine</strong> et le &quot;Nouvel Art de l'Ingénieur&quot;</p>
		<p>L'excellence des formations professionnalisantes de l'Institut National Polytechnique de Lorraine n'est plus a démontrer. Ingénieurs, Masters, docteurs, tous les nouveaux diplômés s'insèrent dans la vie professionnelle après un temps de recherche d'emploi extrêmement bref. Cela est dû, bien sûr, au haut niveau scientifique des formations dispensées dans les écoles de l'INPL, dont la pérennité est assurée par un lien fort entre enseignement et recherche. Mais cela est aussi dû à la politique volontariste de connecter fortement la formation des cadres aux réalités économiques, sociales et humaines de leur métier.</p>
		<p>Initialisée dans les années 60 à l'Ecole des Mines, cette ouverture a diffusé et s'est diversifiée dans toutes les formations de l'INPL conduisant au concept du &quot;Nouvel art de l'ingénieur&quot; qui place cette formation humaniste des cadres dans le prolongement des traditions d'innovation de la ville de Nancy, d'Émile Gallé à Victor Prouvé. Il s'agit là&nbsp;:</p>
		<ul>
			<li>d'ouvrir les formations d'une école aux domaines de compétence des autres écoles (l'innovation se trouve souvent aux interfaces),</li>
			<li>de développer les formations humaines, culturelles et artistiques,</li>
			<li>d'intensifier les capacités créatives et entrepreneuriales des futurs cadres.</li>
		</ul>
		<p>Conscient de l'importance de ce choix, l'INPL veille à ce qu'il se traduise également dans le quotidien de ses étudiants, aussi bien en intégrant aux formations de longues périodes en entreprise, qu'en leur donnant la possibilité de partir à l'étranger faire une partie de leur formation, ou encore en favorisant une intense vie associative. Choisir l'INPL c'est choisir l'excellence scientifique, mais c'est aussi choisir une vie riche et ouverte sur le monde et vers les autres.</p>
		<p>Christine ROIZARD, Professeur, Vice-président du Conseil des Études et de la Vie Étudiante</p>
		<p>Pour plus d'informations : <a href="http://www.inpl-nancy.fr/" onclick="window.open(this.href); return false;">http://www.inpl-nancy.fr/</a></p>
	</div>
	<?php endif;?>
</div>
<div class="spacer"></div>