<script type="text/javascript" src="/apps/forum/front/js/association.js"></script>
<h1 class="hidden">L'association</h1>
<div class="fleft">
	<?php $this->display("apps/concours/front/templates/nav.html"); ?>
</div>
<div class="box-center fleft">
	<h2><span>Le concours de projet 2014</span></h2>   
	<br/>
	<h3>Organisation</h3>
	<p>Le concours, co-organisé par Mines Nancy Entrepreneurs, Forum Est-Horizon et Ensem Conseil, est une opportunité donnée aux étudiants porteurs de projets pour les challenger devant un jury d'experts en création d'entreprise pour transformer leurs idées en projets concrets.  
C'est aussi une occasion de les faire connaître au grand public venant au forum est-horizon et essayer de les convaincre de la pertinence de votre idée de projet.
Les inscriptions se déroulent sur <a href="http://www.est-horizon.com/concours/participer/">cette page</a> et <b>se clôtureront le 25 novembre à 00h00</b>.
	</p>	
	<div style="width:100%; padding-left:100px; padding-right:100px">
	<img src="/images/logos/mine.png" style="width:150px"/>
	<img src="/images/logos/ensemconseil.jpg" style="width:180px"/>
	<img src="/images/logos/FEH-logo-fleche-haute.png" style="width:150px"/>
	</div>
	<br/>
	<br/>
	<h3>Thème</h3>
	<p>
	Ce concours sera l'occasion pour de jeunes étudiants émetteurs de projets innovations dans différents cadres, allant des sciences purs jusqu'au numérique. Les divers projets présentés, se voudront ancrés dans leur époque, qu'ils soient à but ou non lucratifs, l'accent sera notamment mis sur l'impact sociétal, environnemental ou encore économique. L'originalité et la pertinence du projet seront à ce sens très largement valorisés. 
En remarquant enfin, c'est d'abord la viabilité du projet qui sera pris en compte, plus encore que son état d'avancement. 
	</p>
	<br/>
	<h3>Prix</h3>
	<p>Deux prix seront attribués</p>
	<ul>
		<li>Le prix du public (500€) : Le public est constitué de l’ensemble des visiteurs étudiants présents sur le centre Prouvé le 27 Novembre, sur présentation de leur carte. Ça dépendra donc de votre capacité à persuader les visiteurs, mais aussi et surtout votre capacité à mobiliser des gens autour de vous.</li>
		<li>Le prix du jury (800€) : Le jury composés d’expert dans l’entrepreneuriat, les sciences, le management ou encore l’innovation, est souverain dans l’attribution de son prix, tout en respectant les critères d'évaluation du concours.</li>
	</ul>
	<br/>
	<h3>Programme du concours</h3>
	<ul>
		<li>9h – 12h : Accueil des candidats et passage devant le jury (15 minutes : présentation + questions/réponses)</li>
		<li>12h – 13h30 : Pause déjeuner</li>
		<li>14h – 16h :
			<ul>
			<li>Présentation des projets à l’ensemble des visiteurs dans des stands et vote du public</li>
	        <li>Délibération du jury</li>
			</ul>
		</li>
		<li>17h : Cocktail et remise des prix</li>
	</ul>
	<h3>Critères d'évaluation</h3>
	<p>Une liste détaillée des critères d'évaluation du concours est disponible dans <a href="/apps/concours/front/photos/criteres_evaluation.pdf">ce pdf</a>
</div>
<div class="spacer"></div>
