<h1 class="hidden">La visibilité du Forum Est-Horizon</h1>

<div class="fleft">
	<?php $this->display("apps/a-propos/front/templates/nav.html"); ?>
	<?php if (true): ?>
	<div class="box-left">
		<h2><span>Nos partenaires</span></h2>
		<div class="tcenter">
			<a href="http://www.iquesta.com///" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/iquesta.jpg" alt="iQuesta" width="150"/></a>
			<a href="http://www.regionsjob.com/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/regionsjob.png" alt="Regionsjob" width="150"/></a>
			<a href="http://www.directemploi.com/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/directemploi.png" alt="Direct Emploi" width="150"/></a>
			<a href="http://www.http://www.studyrama.com/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/studyrama.jpg" alt="Studyrama" width="150"/></a>
			<br/>
			<a href="http://www.lemoniteur.fr/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/moniteur.jpg" alt="Le Moniteur" width="150"/></a>
			<a href="http://www.lepoint.fr///" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/lepoint.jpg" alt="Le Point" width="150"/></a>
			<a href="http://www.letudiant.fr/" onclick="window.open(this.href); return false;"><img src="/images/logos/medias/letudiant.png" alt="L'étudiant" width="150" /></a>
			<br /><br />
		</div>
	</div>
	<?php endif ?>
</div>


<div class="fleft">
	<div class="box-center">
		<h2><span>Les apparitions du Forum dans les médias</span></h2>
		
		<div id="medias-list">
			<h3>La campagne de pub à Nancy</h3>
			<div>
				<p>Le Forum Est-Horizon bénéficie d’une campagne médiatique d’envergure que ce soit par la transmission de spots à la radio, à travers les publicités dans la presse écrite ou via sa campagne d’affichage les semaines qui précédent l’évènement.

La liste de nos partenaires est disponible dans la rubrique A Propos > Partenaires.</p>
				<!--pas de pub sur les tram en 2012
				<p class="tcenter">
					<a class="pub" href="/images/pub/2011/abri_1.jpg" title="Arrêt de tram - Nancy Gare" rel="group1"><img src="/images/pub/2011/abri_1_thumb.jpg" alt="Abri 1" /></a>
					<a class="pub" href="/images/pub/2011/abri_2.jpg" title="Arrêt de tram - Nancy Gare" rel="group1"><img src="/images/pub/2011/abri_2_thumb.jpg" alt="Abri 2" /></a>
					<a class="pub" href="/images/pub/2011/bus_2.jpg" title="Affiche sur un bus 1" rel="group1"><img src="/images/pub/2011/bus_2_thumb.jpg" alt="Bus 2" /></a>
					<a class="pub" href="/images/pub/2011/bus_5.jpg" title="Affiche sur un bus 2" rel="group1"><img src="/images/pub/2011/bus_5_thumb.jpg" alt="Bus 5" /></a>
				</p>
				-->
			</div>
		</div>
	</div>
</div>
<div class="spacer"></div>
