<div class="fleft">
	<?php $this->display("apps/participer/front/templates/nav.html"); ?>
</div>


<div class="box-center fleft">
	<h2><span>Informations aux visiteurs !</span></h2>
	<h3>Informations pratiques</h3>
	<p>Vous allez bientôt vous rendre au forum Est-Horizon ? Toutes les infos dont vous avez besoin pour ne rien rater de cette journée se trouvent ici !</p>
	<p>Vous trouverez à <a href="/forum/exposants">cette page</a>, <b>la liste des exposants 2014</b>. <p>
	<p>Pour vous repérer dans le forum et préparer votre parcours en fonction des entreprises que vous voulez voir, <b>le plan du Centre Prouvé</b> est disponible à <a href="/participer/plan">cette page</a></p>
	<p>Vous ne savez pas très bien <b>où se situe ce tout nouveau centre</b> ? C'est simple il est en plein coeur de Nancy, juste à coté de la gare ! Si vous souhaitez plus de précisions <a href="/acces">cette page</a> est à votre disposition quelque soit votre moyen de transport.<p></br>
	<h3>Le forum, ca n'est pas que des stands d'entreprises !</h3>
	<h4>Handicafé</h4>
	<p>Les candidats en situation de handicap pourront se rendre sur le stand Handicafé, tenu par la FÉDÉEH (Fédération Étudiante pour une Dynamique Études et Emploi avec un Handicap). Ce stand a pour but de favoriser la rencontre entre ces candidats et les recruteurs dans un cadre convivial, autour d'un café. Deux zones d’affichage sont prévues, l’une pour les CV et l’autre pour les offres d’emploi. Chacun des participants est invité à consulter ces informations puis à aller à la rencontre de l’autre.</p>
	<h4>Conférences</h4>
	<p>Le Forum Est-Horizon vous propose également des conférences données par certains de nos exposants et partenaires. Elles sont l’occasion de se confronter à la pluridisciplinarité de l’ingénieur, de ses compétences et aux différents corps de métiers associés.</p>
	<ul>
		<!--<li>9h30-12h00 : L'entrepreunariat
			<ul><li>Témoignages d'entrepreneurs par le Rotary</li></ul>
		</li>			
		<li>12h00-13h00 : Les conventions CIFRE
			<ul><li> Les thèses en entreprise par l’ANRT.</li></ul>
		</li>			
		<li>13h00-14h45 : Parcours ESSEC
			<ul><li>Opportunité d’une formation complémentaire en business / management pour un ingénieur</li></ul>
		</li>-->
	</ul>
	<div class="spacer"></div>    
</div>

<div class="fleft">
    <!--aside id="inscription">
		<div id="formulaire"></div>
		<a href="/cvtheque/">
			<span class="title">Envoyez votre CV et<br/>participez au pôle conseil</span><br />
			<img src="/themes/feh/images/registercard.png" alt="Inscription" />
			<span class="h1_black">Inscrivez-vous</span>
		</a>
	</aside-->
</div>
<div class="spacer"></div>
