<div id="blocks">
	<div class="block">
		<div class="top"></div>
		<h2>Informations entreprise</h2>
		<ul>
			<li>Créée le <strong><?php echo $this->tpl_vars['date_modif']; ?></strong></li>
			<li>Par <strong><?php echo $this->tpl_vars['admin']; ?></strong></li>
		</ul>
	</div>
	<div class="block">
		<div class="top"></div>
		<h2>Actions</h2>
		<ul>
			<li><a href="/admin/entreprise/del/<?php echo $this->tpl_vars['id']; ?>">Supprimer l'entreprise "<?php echo $this->tpl_vars['name']; ?>"</a></li>
		</ul>
	</div>
</div>
<div id="content">
	<div class="item">
		<?php if (!empty($this->tpl_vars['note'])): ?><?php echo $this->tpl_vars['note']; ?><?php endif; ?>
		<form action="" method="post" enctype="multipart/form-data">
			<fieldset>
				<legend>Informations sur l'entreprise</legend>
				<input type="hidden" name="id" value="<?php echo $this->tpl_vars['id']; ?>" />
				<table cellpadding="5" cellspacing="0">
					<tr>
						<td><label for="name">Nom de l'entreprise :</label></td>
						<td><input id="name" type="text" name="name" value="<?php echo $this->tpl_vars['name']; ?>" maxlength="80" size="40" /></td>
					</tr>
					<tr>
						<td><label for="cat">Secteur d'activité :</label></td>
						<td>
							<select id="cat" name="cat">
								<option value="0">Autre</option>
								<?php $this->tpl_vars['a']['count'] = -1;
foreach($this->tpl_vars['activites'] as $this->tpl_vars['a']['key'] => $this->tpl_vars['a']['value']):
$this->tpl_vars['a']['count']++; ?>
									<option value="<?php echo $this->tpl_vars['a']['value']['id']; ?>"<?php if ($this->tpl_vars['a']['value']['id'] == $this->tpl_vars['cat']): ?> selected="selected"<?php endif; ?>><?php echo $this->tpl_vars['a']['value']['cat_name']; ?></option>
								<?php endforeach; ?>
							</select>
						</td>
					</tr>
					<tr>
						<td><label for="adress">Coordonnées :</label></td>
						<td><textarea id="adress" name="adress" rows="10" cols="50"><?php echo $this->tpl_vars['adress']; ?></textarea></td>
					</tr>
					<tr>
						<td><label for="city">Ville :</label></td>
						<td><input id="city" type="text" name="city" value="<?php echo $this->tpl_vars['city']; ?>" /></td>
					</tr>
					<tr>
						<td><label for="postal_code">Code postal :</label></td>
						<td><input id="postal_code" type="text" name="postal_code" value="<?php echo $this->tpl_vars['postal_code']; ?>" /></td>
					</tr>
					<tr>
						<td><label for="country">Pays :</label></td>
						<td>
							<select name="country">
							<?php $this->tpl_vars['p']['count'] = -1;
foreach($this->tpl_vars['pays'] as $this->tpl_vars['p']['key'] => $this->tpl_vars['p']['value']):
$this->tpl_vars['p']['count']++; ?>
							<option value="<?php echo $this->tpl_vars['p']['value']; ?>"<?php if ($this->tpl_vars['country'] == $this->tpl_vars['p']['value']): ?> selected="selected"<?php endif; ?>><?php echo $this->tpl_vars['p']['value']; ?></option>
							<?php endforeach; ?>
							<option value="Autre">Autre</option>
							</select>
						</td>
					</tr>
				</table>
				<input type="submit" class="button-submit" value="Modifier l'entreprise" />
			</fieldset>
		</form>
		
		<h2>Les contacts liés à cette entreprise</h2>
		<a href="/admin/entreprise/contact_add/<?php echo $this->tpl_vars['id']; ?>" class="button-submit">Ajouter un contact à cette entreprise</a><br /><br />
		<table class="liste" cellpadding="0" cellspacing="0">
			<colgroup>
				<col style="width: 20%;" />
				<col style="width: 20%;" />
				<col style="width: 30%;" />
				<col style="width: 10%;" />
			</colgroup>
			<tr>
				<th>Nom et prénom</th>
				<th colspan="2">Informations</th>
				<th>Actions</th>
			</tr>
			<?php $this->tpl_vars['count'] = 0;if (isset($this->tpl_vars['contact_block']) && is_array($this->tpl_vars['contact_block'])):
	foreach ($this->tpl_vars['contact_block'] as $this->tpl_vars['contact']): ?>
				<tr class="pair">
					<td rowspan="7" class="tcenter"><strong><?php echo $this->tpl_vars['contact']['civilite']; ?> <?php echo strtoupper($this->tpl_vars['contact']['nom']); ?> <?php echo $this->tpl_vars['contact']['prenom']; ?></strong></td>
					<td><strong>Poste :</strong></td>
					<td><?php echo $this->tpl_vars['contact']['poste']; ?></td>
					<td rowspan="7" class="tcenter">
						<a href="/admin/entreprise/contact_edit/<?php echo $this->tpl_vars['contact']['id']; ?>" title="Editer">
							<img src="/themes/system/images/icones/edit.png" alt="Editer" /></a>
						<a href="/admin/entreprise/contact_del/<?php echo $this->tpl_vars['contact']['id']; ?>" title="Supprimer">
							<img src="/themes/system/images/icones/del.png" alt="Supprimer" /></a>
					</td>
				</tr>
				<tr class="impair">
					<td><strong>Langue parlée :</strong></td>
					<td><?php echo $this->tpl_vars['contact']['langue']; ?></tr>
				</tr>
				<tr class="pair">
					<td><strong>Adresse :</strong></td>
					<td><?php echo nl2br($this->tpl_vars['contact']['adresse']); ?></tr>
				</tr>
				<tr class="impair">
					<td><strong>Téléphone fixe :</strong></td>
					<td><?php echo $this->tpl_vars['contact']['tel_fixe']; ?></tr>
				</tr>
				<tr class="pair">
					<td><strong>Téléphone portable :</strong></td>
					<td><?php echo $this->tpl_vars['contact']['tel_portable']; ?></tr>
				</tr>
				<tr class="impair">
					<td><strong>Fax :</strong></td>
					<td><?php echo $this->tpl_vars['contact']['fax']; ?></tr>
				</tr>
				<tr class="pair">
					<td><strong>Email :</strong></td>
					<td><?php echo $this->tpl_vars['contact']['email']; ?></tr>
				</tr>
			<?php $this->tpl_vars['count']++; endforeach; endif; ?>
			<?php if ($this->tpl_vars['count'] == 0): ?>
				<tr>
					<td colspan="4" class="tcenter">Aucun contact n'a été trouvé pour cette entreprise</td>
				</tr>
			<?php endif; ?>
		</table>
		<a href="/admin/entreprise/contact_add/<?php echo $this->tpl_vars['id']; ?>" class="button-submit">Ajouter un contact à cette entreprise</a>
	</div>
</div>
<div class="clear"></div>