<div style="height :50px; width : 100%;"> 
</div>

	<div class="article" >
		<div class="container marketing">
			<div class="row featurette">
				<div class="col-md-12">
				  <h2 class="featurette-heading">Choix de pack<span class="text-muted"> </span></h2>
				</div>
				<div class="col-md-12">	
					<?php if (empty($this->tpl_vars['pack_choisi']['nom'])): ?>
					<div class="col-md-12 center-block">
						<h2 >Votre choix</h4>
					</div>				
					<div class="col-md-12">
						<?php $this->tpl_vars['count'] = 0;if (isset($this->tpl_vars['pack_choisi_block']) && is_array($this->tpl_vars['pack_choisi_block'])):
	foreach ($this->tpl_vars['pack_choisi_block'] as $this->tpl_vars['pack_choisi']): ?>
						<center><h4 ><?php echo $this->tpl_vars['pack_choisi']['nom']; ?></h4></center>
						<center><?php echo $this->tpl_vars['pack_choisi']['prix']; ?> €</center>
						<?php $this->tpl_vars['count']++; endforeach; endif; ?>
					<hr class="featurette-divider"></hr>
					</div>
					<div style="height :50px; width : 100%;"></div>
					<?php endif; ?>
					<div class="col-md-12 center-block">
						<h2 >Nos différents packs</h2>
					</div>	
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<!-- <div class="col-md-1"></div> -->
						<?php $this->tpl_vars['count'] = 0;if (isset($this->tpl_vars['pack_block']) && is_array($this->tpl_vars['pack_block'])):
	foreach ($this->tpl_vars['pack_block'] as $this->tpl_vars['pack']): ?>
						<?php if ($this->tpl_vars['pack']['id']<>21): ?>
						<div class="col-md-3" id="tab_<?php echo $this->tpl_vars['pack']['id']; ?>">
							<div class="col-md-12">
								<h3><?php echo $this->tpl_vars['pack']['nom']; ?></h3>
							</div>
							<div class="col-md-12">
								<h4><?php echo $this->tpl_vars['pack']['prix']; ?> €</h4>
							</div>
							<div class="col-md-12">
								<form method="post" action="">
									<input type="hidden" value="<?php echo $this->tpl_vars['pack']['id']; ?>" name="choix">
									<button type="submit" class="btn btn-secondary center-block" value="Choisir ce pack">Choisir ce pack</button>
								</form>
							</div>	
							<div class="col-md-12">
								<p><?php echo $this->tpl_vars['pack']['contenu_base']; ?></p>
							</div>
							<div class="col-md-12">
								<p><?php echo $this->tpl_vars['pack']['contenu_pub']; ?></p>
							</div>						
						</div>
						<?php endif; ?>
						<?php $this->tpl_vars['count']++; endforeach; endif; ?>
						<div class="col-md-1"></div>
					</div>
					<div style="height :50px; width : 100%;"></div>					
				</div>
			</div>
		</div>
	</div>

<!-- A decommenter lorsque la LOGISTIQUE nous dira si c'est possible de rajouter des chaises -->

	 <!-- <div class="article art-typ1" style="top :-60px;">
		<div class="container marketing">
			<div class="row featurette">
				<div class="col-xs-12 col-sm-6 col-lg-2">
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-6 animation-element right">  
				  <p class="lead text-justify">
						Besoin d'une chaise ou d'un présentoir en plus ? N'hésitez pas à contacter le Centre Prouvé!
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-2 center-block left animation-element">
					<p class="lead text-justify">
						<a href ="mailto:nbi@grandnancy-congresetevenements.com"> nbi@grandnancy-congresetevenements.com</a>
					</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-2">
				</div>
			 </div>	
		</div>
	</div> 
	 -->
		  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
