
.detail {
	width: 100%;
	text-align: center;
	padding: 10px;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.detail p {
	text-align: left;
}

#time_fl {
    width: 990px;
    height: 350px;
}

#end_fl {
    width: 20px;
    height: 100%;
    background: url(/apps/forum/front/images/end_time.png) no-repeat right top;
    float: left;
}

#corps_fl {
    width: 904px;
    height: 100%;
    background: url(/apps/forum/front/images/corps_time.png) top repeat-x;
    float: left;
}

#tete_fl {
    width: 66px;
    height: 100%;
    background: url(/apps/forum/front/images/tete_time.png) no-repeat left top;
    float: left;
}

#up_fl {
    position: relative;
    width: 100%;
    height: 300px;
}

#down_fl {
    width: 100%;
    height: 30px;
}

#start_end_time {
    width: 100%;
    height: 15px;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

#start_time {
    float: left;
}

#end_time {
    float: right;
}

.ti_event {
    position: absolute;
}

.ti_flag {
    border-left: 2px solid black;
    z-index: 2;
}

.ti_textflag {
    background: none repeat scroll 0 0 black;
    box-shadow: 0 2px 5px #666666;
    color: white;
    font-family: Bebas,Arial,Geneva,Helvetica,sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 3px 5px 3px 5px;
    float: left;
}

.ti_timing {
    height: 20px;
    font-weight: bold;
    font-size: 0.8em;
    font-family:Verdana,Arial;
    float: left;
    z-index: 1;
}

.ti_estart {
    float: left;
}

.ti_eend {
    float: right;
}

.ti_filter {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 5px #666666;
    margin: 20px;
}

.filter_denom {
    border-right: 1px solid black;
    float: left;
    font-family: Bebas,Arial,sans-serif;
    font-size: 1.5em;
    height: 38px;
    margin-right: 0;
    padding: 13px 5px 0 0;
    text-align: right;
    width: 100px;
}

.cont_filter {
    padding-top: 3px;
}

.button_filter {
    border: 1px solid #666666;
    color: black;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 5px #666666;
    font-family: Bebas,Arial,sans-serif;
    font-size: 1.2em;
    float: left;
    margin: 10px 7px 10px 7px;
    padding: 0;
    width: 90px;
    display: block;
}

.button_filter_hover {
    box-shadow: 0 2px 6px #000000;
}

.button_filter_selected {
    box-shadow: 0 2px 6px #3bd526;
}

.bf_blue {
    background: #747af4;
}

.bf_red {
    background: #f47a74;
}

.bf_green {
    background: #98f474;
}

.bf_purple {
    background: #f49feb;
}

.filter_b_all {
    background: #DB1F26;
    color: white;
}

.ti_blue {
    background: #747af4;
}

.ti_red {
    background: #f47a74;
}

.ti_green {
    background: #98f474;
}

.ti_purple {
    background: #f49feb;
}

.button_filter_unselected {
    background-color: #cfcfcf;
    color: #a3a3a3;
}

.tinyTip .content {
    margin-top: 25px;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}

.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}

.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}

.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}

.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}

.CSSTableGenerator tr:hover td{	
}

.CSSTableGenerator tr:nth-child(odd){
background-color:#ffaa56;
}

.CSSTableGenerator tr:nth-child(even){
background-color:#ffffff;
}

.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:20px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");
	background: -o-linear-gradient(top,#ff7f00,bf5f00);
	background-color:#ff7f00;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
