<h1 class="hidden">Assistez au Pré-Forum du 10 Octobre 2013</h1>
<div class="fleft">
	{include file=apps/forum/front/templates/nav.html}
	<div id="lieu" class="box-left">
		</br>
		<h2><span>Où ?</span></h2>
		<p><strong>Ecole des Mines de Nancy</strong>
		Campus Artem<br/>
		54042 NANCY CEDEX
		</p>
		</br>
		</br>
		<h2><span>Quand ?</span></h2>
		<p>Le jeudi 10 octobre</p>
		</br>
		</br>
	</div>

</div>
<div class="fleft">
</div>
<!--
<div class="box-center fleft detail">
	<div class="tcenter">
		<h2><span>Pré-Forum de l'édition 2014</span></h2>
		<h3>Les 18 et 20 novembre 2014 à L'Ecole des Mines de Nancy</h3>
	</div>
    <p>Le <b>Pré-Forum</b> a un objectif double : il prépare l'étudiant au Forum en le conseillant sur la manière dont un CV et une lettre de motivation doivent être rédigés, tout en lui permettant de mieux concrétiser son projet professionnel.</p>
	<p>C'est également l'occasion d'une conférence autour du thème de l'ingénieur, donnée cette année par Jean-Yves Le Déaut, député de Meurthe-et-Moselle. Il succède à Gérard Longuet qui s'était prêté à l'exercice lors de l'édition 2013. </p>
	
	<p>Les inscriptions se font par mail à l'adresse indiquée sur le programme ci-dessous</p>
	<img src="/apps/preforum/media/preforum.jpg" alt="Planning du préforum" width=600 />
<!-- 		<p>Viens donc t'inscrire en envoyant simplement un mail à l'adresse : <a href="mailto:preforum@est-horizon.com">preforum@est-horizon.com</a>.</p> 
</div> -->

<div class="box-center fleft detail">
	<h2><span>Rediffusion de la conférence 2013</span></h2>
		<p>Retrouvez ici la conférence de Gérard Longuet qui s'est déroulée le jeudi 10 octobre 2013 à Mines Nancy. Vous pouvez télecharger la vidéo en faisant bouton droit, enregistrer la cible du lien sous, en cliquant ici <a href="/apps/preforum/media/Longuet.mp4">ici.</a></p>
		<video
                    class="projekktor"
					poster="/apps/preforum/front/images/image_longuet.jpg"
                    id="longuet2"
                    width="480"
                    height="360"
					style="margin:auto;"
                    controls>
                    <source src="/apps/preforum/media/Longuet.mp4" type='video/mp4'>
        </video>
                <script type="text/javascript">
                    $(document).ready(function() {
                        projekktor('#longuet2');
                    });
                </script>
		<p> Merci au JTM, l'association audio-visuelle de l'école, pour cette vidéo. Retrouvez leur site internet <a href="http://jtmminesnancy.online.fr/" onclick="window.open(this.href); return false;"> ici</a>.</p>
</div>
<!-- 
		<script type="text/javascript">
			var maxBox = 3;
		</script>
		<script type="text/javascript" src="/apps/participer/front/js/anim.js"></script>
		
		<div class="box-center fleft detail " id="box_info" style="margin-left : 22.5%">
			<img src="/apps/preforum/front/images/fleche_left.png" id="b_last" alt="Précédent" />
			<img src="/apps/preforum/front/images/fleche_right.png" id="b_next" alt="Suivant" />
			<div id="effect_correction">
			<div class="part_info" id="info_1">
				<img src="/apps/preforum/media/IMG_2687.JPG" alt="La conférence" width="450"/>
				</br>
				<center> La conférence de Gérard Longuet.</center>
			</div>
			<div class="part_info hidden" id="info_2">
				<img src="/apps/preforum/media/IMG_2689.JPG" alt="La conférence" width="450"/>
				</br>
				<center> La conférence de Gérard Longuet.</center>
			</div>
			<div class="part_info hidden" id="info_3">
				<img src="/apps/preforum/media/IMG_2706.JPG" alt="Les tables rondes" width="450"/>
				</br>
				<center> Les tables rondes.</center>
			</div>
			</div>
		</div>


<div class="box-center fleft detail " style="margin-left : 22.5%">
    <h2><span>Programme de la journée</span></h2>    
    <div id="time_fl">
        <div id="end_fl"></div>
        <div id="corps_fl">
            <div id="up_fl">
            </div>
            <div id="down_fl">
                <div id="start_end_time">
                    <span id="start_time"></span>
                    <span id="end_time"></span>
                </div>
            </div>
        </div>
        <div id="tete_fl"></div>
    </div>
<?php if (false): ?>    
    <div id="ti_concerne" class="ti_filter">
        <div class="filter_denom">Concerne :</div>
        <div id="conc_cont_filter" class="cont_filter">
            <a class="button_filter filter_b_all" id="concerne_all">Tous</a>            
        </div> 
        <div class="spacer"></div>   
    </div>
<?php endif; ?>
    <div class="spacer"></div>
    <div id="ti_categories" class="ti_filter">
        <div class="filter_denom">Catégories :</div>
        <div id="cat_cont_filter" class="cont_filter">
            <a class="button_filter filter_b_all" id="categories_all">Toutes</a>            
        </div>  
        <div class="spacer"></div>  
    </div>    
    <div class="spacer"></div>  
</div> --> 

<div class="spacer"></div>
<!-- <script type="text/javascript" src="/themes/feh/js/jquery.tinyTips.js"></script>
<script src="/apps/preforum/front/js/time.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        TIMELINE.system.line.initTabs();
        TIMELINE.events.event.listEvents[2] = new TIMELINE.events.event(2, "Collation", "<h3>Collation</h3>", 15, 30, 15, 45, {\\0:"Exposants",1:"Visiteurs"}, {\\1:"Collation"}, 3);
        TIMELINE.events.event.listEvents[1] = new TIMELINE.events.event(1, "Conférence", "<h3>Conférence</h3>Conférence en amphithéâtre par Gérard Longuet", 14, 00, 15, 30, {\\0:"Exposants",1:"Visiteurs"}, {\\0:"Conférences"}, 0);
        TIMELINE.events.event.listEvents[5] = new TIMELINE.events.event(5, "Collation de cloture", "<h3>Collation</h3>Collation de cloture du Pré-forum", 16, 50, 17, 20, {\\0:"Exposants",1:"Visiteurs"}, {\\1:"Collation"}, 3);
        TIMELINE.events.event.listEvents[3] = new TIMELINE.events.event(3, "Tables Rondes", "<h3>Tables Rondes</h3>Première série de Tables Rondes", 15, 45, 16, 15, {\\0:"Exposants",1:"Visiteurs"}, {\\2:"Tables Rondes"}, 1);
        TIMELINE.events.event.listEvents[4] = new TIMELINE.events.event(4, "Tables Rondes", "<h3>Tables Rondes</h3>Deuxième série de Tables Rondes", 16, 20, 16, 50, {\\0:"Exposants",1:"Visiteurs"}, {\\2:"Tables Rondes"}, 2);
		});
    </script>
    <script src="/apps/preforum/front/js/binders.js"></script> -->
