<h1 class="hidden">Assistez au Pré-Forum du 10 Octobre 2013</h1>
<div class="fleft">
	<?php $this->display("apps/forum/front/templates/nav.html"); ?>
	<div id="lieu" class="box-left">
		</br>
		<h2><span>Où ?</span></h2>
		<p><strong>Ecole des Mines de Nancy</strong>
		Campus Artem<br/>
		54042 NANCY CEDEX
		</p>
		</br>
		</br>
		<h2><span>Quand ?</span></h2>
		<p>Le jeudi 10 octobre</p>
		</br>
		</br>
	</div>

</div>
<div class="fleft">
</div>
<!--
<div class="box-center fleft detail">
	<div class="tcenter">
		<h2><span>Pré-Forum de l'édition 2014</span></h2>
		<h3>Les 18 et 20 novembre 2014 à L'Ecole des Mines de Nancy</h3>
	</div>
    <p>Le <b>Pré-Forum</b> a un objectif double : il prépare l'étudiant au Forum en le conseillant sur la manière dont un CV et une lettre de motivation doivent être rédigés, tout en lui permettant de mieux concrétiser son projet professionnel.</p>
	<p>C'est également l'occasion d'une conférence autour du thème de l'ingénieur, donnée cette année par Jean-Yves Le Déaut, député de Meurthe-et-Moselle. Il succède à Gérard Longuet qui s'était prêté à l'exercice lors de l'édition 2013. </p>
	
	<p>Les inscriptions se font par mail à l'adresse indiquée sur le programme ci-dessous</p>
	<img src="/apps/preforum/media/preforum.jpg" alt="Planning du préforum" width=600 />
<!-- 		<p>Viens donc t'inscrire en envoyant simplement un mail à l'adresse : <a href="mailto:preforum@est-horizon.com">preforum@est-horizon.com</a>.</p> 
</div> -->

<div class="box-center fleft detail">
	<h2><span>Rediffusion de la conférence 2013</span></h2>
		<p>Retrouvez ici la conférence de Gérard Longuet qui s'est déroulée le jeudi 10 octobre 2013 à Mines Nancy. Vous pouvez télecharger la vidéo en faisant bouton droit, enregistrer la cible du lien sous, en cliquant ici <a href="/apps/preforum/media/Longuet.mp4">ici.</a></p>
		<video
                    class="projekktor"
					poster="/apps/preforum/front/images/image_longuet.jpg"
                    id="longuet2"
                    width="480"
                    height="360"
					style="margin:auto;"
                    controls>
                    <source src="/apps/preforum/media/Longuet.mp4" type='video/mp4'>
        </video>
                <script type="text/javascript">
                    $(document).ready(function() {
                        projekktor('#longuet2');
                    });
                </script>
		<p> Merci au JTM, l'association audio-visuelle de l'école, pour cette vidéo. Retrouvez leur site internet <a href="http://jtmminesnancy.online.fr/" onclick="window.open(this.href); return false;"> ici</a>.</p>
</div>



<div class="box-center fleft detail " style="margin-left : 22.5%">
    <h2><span>Programme de la journée</span></h2>    
    <div id="time_fl">
        <div id="end_fl"></div>
        <div id="corps_fl">
            <div id="up_fl">
            </div>
            <div id="down_fl">
                <div id="start_end_time">
                    <span id="start_time"></span>
                    <span id="end_time"></span>
                </div>
            </div>
        </div>
        <div id="tete_fl"></div>
    </div>
<?php if (false): ?>    
    <div id="ti_concerne" class="ti_filter">
        <div class="filter_denom">Concerne :</div>
        <div id="conc_cont_filter" class="cont_filter">
            <a class="button_filter filter_b_all" id="concerne_all">Tous</a>            
        </div> 
        <div class="spacer"></div>   
    </div>
<?php endif; ?>
    <div class="spacer"></div>
    <div id="ti_categories" class="ti_filter">
        <div class="filter_denom">Catégories :</div>
        <div id="cat_cont_filter" class="cont_filter">
            <a class="button_filter filter_b_all" id="categories_all">Toutes</a>            
        </div>  
        <div class="spacer"></div>  
    </div>    
    <div class="spacer"></div>  
</div> --> 

<div class="spacer"></div>

