<style>
    @keyframes appear{
        start:{width:0px;height:0px}
        end:{width:200px;height:200px;}
    }
    #content{
        margin-top:100px;
        text-align:center;
    }
    
    #content div{
        text-align: center !important;
    }
    
    #content-title{
        text-align:center;
    }
    
    <!-- #notesBasPage{ -->
        <!-- text-align:left; -->
    <!-- } -->
    
    #content-underline{
        height:1px;
        width:100px;
        display:inline-block;
        background:red;
    }
    
    #BotUnderLine{
        height:1px;
        width:100%;
        display:inline-block;
        background:#ddd;
    }
    
    #content h1{
        margin-bottom:0px;
    }
    
    #content-preview{
        margin-top:20px;
        text-align:center;
    }
    
    .preview-box{
        width:200px;
        height:200px;
        overflow:hidden;
        border-radius:2px;
        vertical-align:middle;
        display:inline-block;
        text-align:center;
        margin:10px;
        transition:all 0.3s ease;
    }
    
    .preview-box img{
        display:inline-block;
        position:relative;
        right:0px;
        bottom:0px;
        transition:width 0.2s ease,height 0.2s ease,right 0.2s ease;
    }
    
    .preview-box:hover{
        filter:brightness(0.8);
    }
    
    #overlay{
        display:none;
        z-index:1001;
        position:fixed;
        top:0px;
        left:0px;
    }
    
    #right-button img,#left-button img{
        width:30px;
        height:60px;
        z-index:10000;
    }
    
    #right-button{
        position:fixed;
        right:0px;
        padding:40px 10px 40px 40px;
        background:black;
        border-radius:80px 0px 0px 80px;
        top:40%;
        opacity:0.7;
        transition:opacity 0.2s ease;
    }
    
    #left-button{
        position:fixed;
        left:0px;
        padding:40px 10px 40px 40px;
        background:black;
        border-radius:80px 0px 0px 80px;
        top:40%;
        transform:scaleX(-1);
        opacity: 0.7;
        transition:opacity 0.2s ease;
    }
    
    #right-button:hover,#left-button:hover{
        opacity:1;
        cursor:pointer;
    }
    
    #black-cover{
        background:rgba(0, 0, 0, 0.66);
        height:100%;
        width:100%;
        position:fixed;
        top:0px;
        left:0px;
        text-align:center;
    }
    
    #content-preview{
        text-align:left;
    }
    
    .description{
        margin-right:30px;
        margin-left:30px;
    }
    
  .dropdown a{
	color:silver !important;
	}

	.dropdown-menu a{
	    color: black!important;
	    background-color:white!important;
	}

	.dropdown-menu li a:hover{
	    color: white!important;
	    background-color: rgba(213, 7, 28, 1)!important;
	}

	.btn-link:hover{
	    color: white !important;
	    text-decoration:none!important;
	}
	.btn-link{
		text-decoration:none!important;
	    color: silver !important;
	}

</style>
<script>
    const BASE_URL = "https://www.est-horizon.com/upload/galerie/";
    //const BASE_URL = "info/galerie/"
    const TARG_SIZE = 200;
    
    // thumbnail images , used to load the page faster 
    // and for performance reasons
    // it just hit me that if you're reading this 
    // you're probably expecting these comments to be 
    // in french 
    // Well ... we don't do that here
    // actually we do but i prefer it this way
    // and now i'm gonna stop procrastinating
    // Tchuss
    
    var image_list = [
        "010_thumb.jpg",
        "011_thumb.jpg",
        "012_thumb.jpg",
        "013_thumb.jpg",
        "014_thumb.jpg",
        "015_thumb.jpg",
        "016_thumb.jpg",
        "017_thumb.jpg",
        "018_thumb.jpg",
        "019_thumb.jpg",
        "020_thumb.jpg",
        "021_thumb.jpg",
        "022_thumb.jpg",
        "031_thumb.jpg",
        "032_thumb.jpg",
        "033_thumb.jpg",
        "034_thumb.jpg",
        "040_thumb.jpg",
        "050_thumb.jpg",
        "051_thumb.jpg",
        "052_thumb.jpg",
        "053_thumb.jpg",
        "060_thumb.jpg",
        "061_thumb.jpg",
        "070_thumb.jpg",
        "071_thumb.jpg",
        "090_thumb.jpg"
    ];
    
    var sections = [
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1,
        1,
        1,
        1,
        1,
        2,
        2,
        2,
        2,
        3,
        3,
        4,
        4,
        5
    ]
    
    var full_size = [
        "010.jpg",
        "011.jpg",
        "012.jpg",
        "013.jpg",
        "014.jpg",
        "015.jpg",
        "016.jpg",
        "017.jpg",
        "018.jpg",
        "019.jpg",
        "020.jpg",
        "021.jpg",
        "022.jpg",
        "031.jpg",
        "032.jpg",
        "033.jpg",
        "034.jpg",
        "040.jpg",
        "050.jpg",
        "051.jpg",
        "052.jpg",
        "053.jpg",
        "060.jpg",
        "061.jpg",
        "070.jpg",
        "071.jpg",
        "090.jpg"
    ];
    
    function previewMouseOverHandler(e){
        var path = [e.target];
        if(isWide(path[0])){
            path[0].style.width = "120%";
            path[0].style.right = "10%";
        }
        else{
            path[0].style.height = "120%";
        }
    }
    
    function previewMouseOutHandler(e){
        var path = [e.target];
        if(isWide(path[0])){
            path[0].style.width = "100%";
            path[0].style.right = "0px";
        }
        else{
            path[0].style.height = "100%";
        }
    }
    
    var cu_id = -1
    
    function showSlides(e){
        var path = [e.target];
        document.querySelector("#black-cover").innerHTML = "";
        var img_id = parseInt(path[0].getAttribute("id").split("img")[1]);
        cu_id = img_id;
        var fullImg = new Image();
        fullImg.src = BASE_URL+full_size[img_id];
        fullImg.onload = function(e){
            var path = [e.target];
            let ig = path[0];
            let wid = ig.width;
            let hei = ig.height;
            let ig_ratio = ig.width/ig.height;
            let h_width = window.innerHeight*ig_ratio;
            if(h_width>window.innerWidth){
                ig.style.width = "70%";
            }else{
                ig.style.height = "80%";
            }
            ig.onclick = function(e){
                e.stopPropagation();
            }
            va_list.splice(0,0,ig);
            document.querySelector("#black-cover").appendChild(ig);
        }
        document.querySelector("#overlay").style.display = "block";
    }
    
    function nextImage(){
        cu_id = (cu_id+1)%image_list.length;
        va_list.splice(0,1);
        showSlides({target:document.querySelector("#img"+cu_id)})
    }
    
    function pastImage(){
        cu_id = (cu_id-1+image_list.length)%image_list.length;
        va_list.splice(0,1);
        showSlides({target:document.querySelector("#img"+cu_id)})
    }
    
    function closeSlides(){
        va_list.splice(0,1);
        document.querySelector("#overlay").style.display = "none";
    }
    
    var va_list = [];
    
    setInterval(function(){
        for(var i of va_list){
            vertically_align(i);
        }
    },2);
    
    function vertically_align(elt){
        let height_a = parseInt(window.getComputedStyle(elt,null).height);
        let height_b = parseInt(window.getComputedStyle(elt.parentElement,null).height);
        elt.style.marginTop = (height_b-height_a)/2 + "px";
    }
    
    function isWide(img){
        return(img.width>img.height);
    }
    
    window.onload = function(){
        for(ig of document.querySelectorAll("#content-preview img")){
            if(isWide(ig)){
                ig.style.width = "100%";
                vertically_align(ig);
            }
            else{
                ig.style.height = "100%";
            }
            ig.onmouseover = previewMouseOverHandler;
            ig.onmouseout = previewMouseOutHandler;
            ig.onclick = showSlides;
            va_list.push(ig);
        }
        window.onresize();
        //document.querySelector("#black-cover").onclick = closeSlides;
    }
    
    window.onresize = function(){
        let box_num = Math.floor((window.innerWidth-10)/(TARG_SIZE+20));
        let size = (window.innerWidth-10)/box_num - 30;
        if(box_num <= 2) size = window.innerWidth-20;
        for(bx of document.querySelectorAll(".preview-box")){
            bx.style.width = size+"px";
            bx.style.height = size+"px";
        }
    }
</script>
<div id="content">
    <div id="content-title">
        <h1>Galerie photo</h1>
        <div id="content-underline"></div>
        <br>
        <br>
        Le Forum Est-Horizon (FEH) est une association étudiante de l’École des Mines de Nancy. Depuis 1984, elle organise l'évènement annuel Forum Est-Horizon, un des plus grands salons de rencontres professionnelles entre étudiants et entreprises du Grand Est.
    </div>
    <div id="content-preview">
        <div class="sub-content">
            <h2>Stands d’entreprises : recherche de stage / premier emploi</h2>
            <div class="description">Le Forum Est-Horizon attire des entreprises de toutes échelles et tous domaines afin de recruter leurs futurs talents. La diversité et la multiplicité des secteurs économiques représentés par nos exposants permettent à ce salon de rassembler plus d’un millier d’étudiants de filières variées. L'édition 2019 a attiré 60 exposants dont 55 entreprises. Vous pourrez par exemple rencontrer Amazon, IBM, BNP Paribas, EY, Orange, PSA, Eiffage mais aussi l'UNICEF, l'ESSEC et l'ESCP. </div>
        </div>
        <div class="sub-content">
            <h2>Conférences</h2>
            <div class="description"> Lors de l'édition 2017, Arnaud Montebourg a animé une conférence suivie de questions sur le thème de l'innovation, l'industrie et l'entrepreneuriat. Puis, l’entreprise Saint-Gobain a réalisé une conférence pour présenter leur entreprise ainsi que quelques projets en cours.<br>
            Pour l'édition 2018, nous avons organisé une conférence sur le thème <i>géopolotique et entreprises</i> avec Sylvie Mattely directrice adjointe de l'IRIS et Samuel Nowakowski enseignant-chercheur au LORIA en humanités numériques. S'en est suivi un débat avec le public de cette conférence.
            </div>

        </div>
        <div class="sub-content">
            <h2>Concours de projets</h2>
            <div class="description"><!--En partenariat avec Les Entrepreneuriales, le Forum organise un concours de projets mettant en avant le travail de jeunes porteurs de projets innovants. Deux catégories sont mises à l’honneur, les projets émergents et les projets avancés, avec à la clef un prix financier pour chaque catégorie.-->
            Le Forum organise un concours d'une quinzaine projets avec le PEEL, <a href="#InfoProj">Enactus</a> et <a href="#InfoProj">Genius</a>. Ce concours mettra en avant le travail de jeunes porteurs de projets innovants. 1500 euros sont à gagner.</div>
        </div>
        <div class="sub-content">
            <h2>Correction de CV</h2>
            <div class="description"> Afin de permettre aux étudiants de mettre efficacement en avant l’ensemble de leurs atouts, des membres d’<a href="#InfoProj">Intermines</a>, des représentants du Rotary et du <a href="#InfoProj">Relais Amical</a> relisent leur CV avec attention et professionnalisme.</div>
        </div>
        <div class="sub-content">
            <h2>Témoignages “Elles bougent”</h2>
            <div class="description">Pour encourager et soutenir les vocations de techniciennes et d’ingénieures, une table ronde est organisée par l’association “Elles Bougent” et le Forum Est-Horizon. Des marraines issues du monde scientifique témoignent de leur parcours professionnel et rencontrent lycéen(ne)s et étudiant(e)s pour partager leur passion et casser les stéréotypes.</div>
        </div>
        <div class="sub-content">
            <h2>A bientôt pour l'édition 2020 !</h2>
            <div class="description"> L’édition 2020, la 37e, se tiendra le Jeudi 19 Novembre au Centre Prouvé, en plein cœur de Nancy, en face de la Gare.</div>
        </div>
        
        <script>
            let img_id = 0;
            let sub_divs = document.querySelectorAll(".sub-content")
            for(addr_i in image_list){
                addr = image_list[addr_i];
                img_section = sections[addr_i];
                let cont_div = document.createElement("div");
                cont_div.setAttribute("class","preview-box");

                let prv_img = new Image();
                prv_img.src = BASE_URL+addr;
                prv_img.setAttribute("id","img"+img_id);

                cont_div.appendChild(prv_img);
            document.querySelectorAll(".sub-content")[img_section].appendChild(cont_div);
                img_id++;
            }
        </script>
    </div>
</div>
<div id="overlay">
    <div id="black-cover" onclick="closeSlides()"></div>
    <div id="left-button"  onclick="pastImage()"><img src="/upload/galerie/slidecontrol.png"/></div>
    <div id="right-button" onclick="nextImage()"><img src="/upload/galerie/slidecontrol.png"/></div>
    <div id="bot-desc"></div>
</div>


<div class="notes" id="InfoProj" style="margin-top:200px">
		<div class="container marketing">
		<div id="BotUnderLine"></div>
                    <p style="text-align:justify; margin-top:10px"><strong>Enactus</strong> Mines Nancy est une association d’entreprenariat social. Faisant partie du vaste réseau Enactus présent dans toute la France et dans de nombreux pays, cette association vise à créer, développer et faire grandir des projets à vocation sociale, humanitaire ou environnementale, afin de transformer et améliorer notre société.</p>
                    <p style="text-align:justify"><strong>Genius</strong>  Mines Nancy est une association des Mines Nancy membre du groupe Genius Global. Elle encourage à participer à des projets proposés par des entreprises et groupes internationaux ainsi qu’à développer des projets portés par des étudiants. Genius Mines Nancy a aussi vocation à aider les jeunes entrepreneurs et étudiants à l'aide de fiches expliquant certains aspects de la vie d'entrepreneur ou de la vie professionnelle.</p>
                    <p style="text-align:justify"><strong>Intermines</strong> est née en juin 1983 de la fusion des trois associations d’anciens élèves des écoles des Mines de Paris, Nancy et Saint-Etienne.</p>
                    <p style="text-align:justify"><strong>Relais Amical</strong> est le regroupement d'associations de retraités bénévoles dispensant leurs compétences.</p>
		</div>
		</div>
