<script src="/apps/accueil/front/js/window_height.js" type="text/javascript"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G9JD9QGM1W"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'G-G9JD9QGM1W');
</script>
<!--  =====================================================================	-->
<!-- 		SLIDER	 														-->
<!--  =====================================================================	-->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>

	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="slide2">
				<div class="container">
					<div class="carousel-caption">
						<h1>Forum Est-Horizon</h1>
						<h2>Jeudi 2 décembre 2021 au Centre Prouvé de Nancy</h2>
						<p>Découvrez l'un des plus grands salons de rencontres entre étudiants et entreprises du Grand
							Est.</p>
						<button type="button" class="btn btn-lg btn-tertiary" data-toggle="modal"
							data-target="#myModal2">En savoir plus</button>


					</div>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="slide4">
				<div class="container">
					<div class="carousel-caption">
						<h1>Ateliers et Conférences</h1>
						<button type="button" class="btn btn-lg btn-tertiary" data-toggle="modal"
							data-target="#myModal4">En savoir
							plus</button>
					</div>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="slide3">
				<div class="container">
					<div class="carousel-caption">
						<h1>L'équipe</h1>
						<button type="button" class="btn btn-lg btn-tertiary" data-toggle="modal"
							data-target="#myModal3">En savoir
							plus</button>
					</div>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="slide1">
				<div class="container">
					<div class="carousel-caption">
						<div class="col-md-5">
							<img class="featurette-image img-responsive center-block"
								style="width : 100%; max-width : 300px;"
								src="apps/accueil/front/images/partenaires/artem2.png" alt="Generic placeholder image">
						</div>
						<div class="col-md-7">
							<h1>Forum Est-Horizon</h1>
							<p>Un salon organisé par les élèves-ingénieurs de Mines Nancy.</p>
							<p><a class="btn btn-lg btn-primary" href="#quisommesnous" role="button">En savoir plus</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
	<div class="bottom_line"></div>
</div>

<!--  =====================================================================	-->
<!-- 		ARTICLES	 													-->
<!--  =====================================================================	-->

<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 1 : Insciptions											-->
<!--  ---------------------------------------------------------------------	-->
<div class="article art-typ1" style="top :-60px;">
	<div class="container marketing">
		<div class="row featurette">
			<div class="col-xs-12 col-sm-12 col-lg-12">
				<h2 class="featurette-heading">Inscrivez-vous<span class="text-muted"> </span></h2>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-2">
			</div>
			<div class="col-xs-12 col-sm-12 col-lg-6 animation-element right">
				<p class="lead text-justify">
					Vous êtes <strong>étudiant</strong> et désirez rencontrer de nombreuses entreprises ou une
					<strong>entreprise</strong> qui a le souci de se faire connaitre ?
					Alors, inscrivez-vous dès maintenant à notre salon.
				</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-lg-2 center-block left animation-element">
				<a class="btn btn-lg btn-secondary v-center" href="/inscription/" role="button"
					style="text-align: center;">S'inscrire</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-2">
			</div>
		</div>
	</div>
</div>



<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 2 :Qui sommes nous ?									-->
<!--  ---------------------------------------------------------------------	-->


<div class="article art-typ2" id="quisommesnous">
	<div class="container marketing">
		<div class="row featurette">
			<div class="col-md-5">
				<img class="featurette-image img-responsive center-block" style="height : 300px;"
					src="/apps/accueil/front/images/partenaires/artem.jpg" alt="Generic placeholder image">
			</div>
			<div class="col-md-7">
				<h2 class="featurette-heading">Qui sommes-nous ?<span class="text-muted"> </span></h2>
				<p class="lead text-justify">

				<p class="lead text-justify">Le Forum Est-Horizon (FEH) est une association étudiante de l’École des
					Mines de Nancy. [Mines de Nancy cliquable et
					renvoie vers leur site] Depuis 1984, elle organise chaque année l'évènement Forum Est-Horizon, un
					des plus grands salons
					de rencontres professionnelles entre étudiants et entreprises du Grand Est. Ce forum n’est pas
					uniquement destiné aux
					étudiants de Mines Nancy. De plus, il est <strong>gratuit</strong> pour tous les étudiants.</p>
				<p class="lead text-justify">Le Forum Est-Horizon propose aux étudiants d’obtenir des
					<strong>stages</strong>, de s’informer sur les métiers ainsi que des corrections
					de CV, des conférences de speakers reconnus, un concours de projets, etc. Les entreprises sont parmi
					les plus
					prestigieuses et viennent de tous les secteurs: énergie, conseil, BTP, banques, etc. De même, les
					étudiants viennent de
					toutes les filières: ingénierie, commerce, management…	
				
				<h3>Historique du Forum Est-Horizon ces dernières années:</h3>
				<h4 class="lead text-justify">2014 : édition présidée par Vincent Laurent</h4>
				<p class="lead text-justify">Après une édition dans la galerie des Mines de Nancy, l’équipe de Vincent a
					décidé de donner un
					souffle nouveau au Forum
					en l’organisant au Centre Prouvé. C’était un pari risqué car cela doublait pratiquement les dépenses
					par rapport à
					l’édition précédente, on les remercie maintenant car c’est en partie grâce à eux que nous organisons
					notre Forum au
					Centre Prouvé. Il y a eu cette année 34 entreprises participantes et un peu plus de 700 visiteurs.
				</p>
				<h4 class="lead text-justify">2015 : édition présidée par Théo Michel</h4>
				<p class="lead text-justify">L’équipe de Théo a également décidé d’organiser son édition au Centre
					Prouvé de Nancy. La grande
					nouveauté de leur année
					était l’association avec Géologia, le forum de l’ENSG. Le Forum Est-Horizon a réuni 41 entreprises
					et
					1000 visiteurs, et
					ces chiffres sont pratiquement doublés en prenant l’événement global Géologia-Forum Est-Horizon.
				</p>
				<h4 class="lead text-justify">2016 : édition présidée par Corentin Vermeulen-Couvelard</h4>
				<p class="lead text-justify">Le Forum a décidé de suivre la ligne de conduite insufflée par les deux
					éditions précédentes en restant
					au Centre Prouvé
					et en poursuivant l’association avec Geologia. L’ENSEM s’est également jointe au projet. Cette
					année-là,
					le Forum est
					parvenu à rassembler 55 entreprises et un plus de 1000 visiteurs.
				</p>

				<h4 class="lead text-justify">2017 : édition présidée par Nicolas Raux</h4>
				<p class="lead text-justify">Changement majeur, après deux ans de collaboration, le Forum Est-Horizon
					est redevenu indépendant. Cette
					édition a reçu
					beaucoup de retours positifs notamment grâce à la présence d’Arnaud Montebourg en tant que
					conférencier,
					cela a été une
					belle réussite pour cette édition, qui a attiré 1500 visiteurs.
				</p>
				<h4 class="lead text-justify">2018 : édition présidée par Elyès Chenik</h4>
				<p class="lead text-justify">Dans la lignée de l’édition précédente. La recherche d'entreprises s’est
					intensifiée et le Forum est
					parvenu à réunir
					plus de 60 entreprises, le plus grand nombre depuis quelques années. Légère diminution par rapport à
					l’édition
					précédente, le Forum a tout de même attiré environ 1200 personnes.
				</p>
				<h4 class="lead text-justify">2019 : édition présidée par Eulalie Charles-Lethon</h4>
				<p class="lead text-justify">Toujours organisé au centre Prouvé, le Forum Est-Horizon perdure et réunit
					cette fois encore plus de
					1200 visiteurs pour
					55 entreprises participantes à l’édition.
				</p>
				<h4 class="lead text-justify">2020 : édition présidée par Johann Cochet</h4>
				<p class="lead text-justify">Malgré une grande préparation pour l’organisation de l’événement au Centre
					Prouvé une année encore, et ce dû aux
					conditions sanitaires tout à fait exceptionnelles, le Forum Est-Horizon s’est tenu entièrement en
					ligne sur la
					plateforme Seekube. Pour autant, un grand nombre de conférences a été donné et une grande partie des
					ateliers ont été
					maintenus pour cette édition. Qui, malgré la situation, a réussi à réunir environ 500 participants
					et 40 entreprises.
				</p>
				</p>














			</div>
		</div>
	</div>
</div>

<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 3 : Le Forum en chiffres 								-->
<!--  ---------------------------------------------------------------------	-->
<div class="article art-typ3">
	<div class="container marketing">
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<h2 align="center">Le Forum Est-Horizon en chiffres<span class="text-muted"> </span></h2>
			<h2 align="center"><span class="text-muted"> </span></h2>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-4 col-xs-12">
				<div class="col-sx-12 icon-figures center-block animation-element bottom_to_top">
					<span class="glyphicon glyphicon-briefcase glyphicon-icon-figures" aria-hidden="true"></span>
				</div>
				<div class="col-sx-12">
					<h1>60</h2>
				</div>
				<div class="col-sx-12">
					<h4>Exposants</h4>
				</div>
			</div>
			<div class="col-lg-4 col-sm-4 col-xs-12">
				<div class="col-sx-12 icon-figures center-block animation-element bottom_to_top">
					<span class="glyphicon glyphicon-user glyphicon-icon-figures" aria-hidden="true"></span>
				</div>
				<div class="col-sx-12">
					<h1>1500</h2>
				</div>
				<div class="col-sx-12">
					<h4>Etudiants</h4>
				</div>
			</div>
			<div class="col-lg-4 col-sm-4 col-xs-12">
				<div class="col-sx-12 icon-figures center-block animation-element bottom_to_top">
					<span class="glyphicon glyphicon-education glyphicon-icon-figures" aria-hidden="true"></span>
				</div>
				<div class="col-sx-12">
					<?php
						$n = date('Y')-1983;
						echo '<h1>'.$n."<sup>e</sup>".'</h2>';
					?>
				</div>
				<div class="col-sx-12">
					<h4>Edition</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<!--  ---------------------------------------------------------------------	-->
<!-- 		ARTICLE 4 : Partenaires											-->
<!--  ---------------------------------------------------------------------	-->

<div class="article art-typ4">
	<div class="container ">
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<h2 class="featurette-heading">Nos Partenaires<span class="text-muted"> </span></h2>
		</div>
		<div class="row">

			<div class="col-xs-12">
				<div class="col-xs-12">
					<h4 style="text-transform : uppercase;">Partenaires Forum</h4>
				</div>
			</div>

			<div class="col-md-3 v-center">
				<a href="http://www.studyrama-emploi.com">
					<img src="/apps/partenaires/front/images/partenaires/studyrama.png" height="110"
						class="img-responsive center-block margin-TB20 animation-element growing">
				</a>
			</div>

			<div class="col-md-3 v-center">
				<a href="https://choosemycompany.com">
					<img src="/apps/partenaires/front/images/partenaires/cmcompany.png" height="110"
						class="img-responsive center-block margin-TB20 animation-element growing">
				</a>

			</div>
		</div>
	</div>
</div>
<!--  ---------------------------------------------------------------------	-->
<!-- 		Popup											-->
<!--  ---------------------------------------------------------------------	-->
<!-- Modal -->

<div id="myModal4" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Conférence</h4>
			</div>
			<div class="modal-body">
				<p>Le Forum Est-Horizon a déjà accueilli de grandes personnalités comme Arnaud Montebourg, ancien
					Ministre de l’économie,
					ou Amina Benkhadra, ancienne Ministre de l’Energie et de l’environnement du Maroc.</p>
				<p>Chaque année nous nous chargeons d’organiser pour vous des conférences sur des thèmes d’actualités,
					au cœur des
					préoccupations du travailleur de demain, tels que l’entrepreneuriat, l’innovation ou encore le
					travail à l’étranger.
				</p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Informations</h4>
			</div>
			<div class="modal-body">
				<p>Toute l’équipe du Forum Est-Horizon est très heureuse de vous accueillir sur son site
					internet. Cette année, l’équipe d’élèves ingénieurs des Mines de Nancy organise la 38ème
					édition qui se tiendra le Jeudi 2 Décembre 2021 au Centre Prouvé à Nancy. </p>

				<p>Comme tous les ans, nous réunissons pour vous un grand nombre d’entreprises reconnues et
					diversifiées afin de faciliter votre échange avec le monde du travail. En plus de vos
					échanges avec les entreprises, nous avons également préparé divers ateliers et organisé
					des conférences pour vous guider dans votre insertion dans le monde professionnel.
				</p>
				<p>Liste des événements proposés le jour du Forum : <a class="btn btn-warning " href="/programme"
						role="button">Programme</a> </p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
<div id="myModal3" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">L'équipe</h4>
			</div>
			<div class="modal-body">
				<p>Cette année, l’équipe organisatrice du Forum Est-Horizon est composée de 23 membres, élèves
					ingénieurs de l’école des
					Mines de Nancy.
					Leur défi est d’organiser, malgré la situation particulière, la 38ème édition du Forum qui se
					tiendra au Centre Prouvé à
					Nancy le Jeudi 2 Décembre 2021.
					Pour cela, l’équipe est divisée en plusieurs pôles articulés autour du bureau, qui coordonne les
					opérations. </p>
				<embed src="../assets/organigrame.pdf" width="800px" height="2100px" />

				<p>“Toute l'équipe du Forum Est-Horizon serait heureuse de vous recevoir pour cette 38e édition de
					l'événement.
					Moment important dans la vie d'un étudiant, nous espérons voir représentées des entreprises aussi
					variées que reconnues,
					dans le but d'organiser un événement fructueux pour tous.
					Nous mesurons à quel point établir un contact direct avec une entreprise est important pour la
					recherche d'un stage, ou
					l'approche du monde du travail, c'est pourquoi cette rencontre nous tient autant à cœur.
					C'est donc à votre service et à celui des étudiants que nous nous mettons pour permettre des
					échanges qui
					conditionneront les choix futurs de chacun.”</p>
				<p>Mathis Faucher,
					Président de l'association Forum Est-Horizon </p>



			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<?php
/* Essai lecture fichier txt */
	//$document_root = $SERVER['document_root']; /* pour l'instant on est en local */
	
	/* fonctions ---------------------------------------------------------- */
		
	function serapateur($chaine,$separateur)
	{
		$vecteur = array ();
		$m = strlen($chaine)-1;
		$mot = "";
		for ($i = 0 ; $i <= $m ;$i++) 
		{
			$caractere = $chaine[$i];
			if ($caractere != $separateur)
			{
				$mot .= $caractere;
			}
			else 
			{
			$vecteur[] = $mot;
			$mot = "";
			}
		}
		return $vecteur;
	}
	
	
	/* programme ---------------------------------------------------------- */
	
	@$fp = fopen ("apps/accueil/front/images/partenaires/partenaires.txt",'rb');
	
	if (!$fp) 
	{
		echo "<p>Erreur d'ouverture de fichier</p>";
	}
	else {
		$type_partenaire_precedent = "";
		echo '<div>';
		
		while (!feof($fp)) // voir si la lecture du fichier et terminée 
		{
			$partenaire = fgets($fp,999);
			$vecteur = serapateur ($partenaire,'*');		
			$type_partenaire_nouveau = $vecteur[3];
			if ($type_partenaire_nouveau != $type_partenaire_precedent){
				$type_partenaire_precedent = $type_partenaire_nouveau;
				echo '</div>';
				echo '<div class="col-xs-12">';
				echo '<div class="col-xs-12"><h4 style="text-transform : uppercase;">'.$type_partenaire_precedent.'</h4></div>';
				}
			echo '<div class="col-lg-3 col-md-4 col-xs-6 v-center padding-50">';
			echo '<a href="'.$vecteur[2].'"><img src="apps/accueil/front/images/partenaires/'.$vecteur[1].'" width="100%" height="100%" class="img-responsive center-block animation-element growing"></a>';
			echo '</div>';
		} 
	/* fermeture ---------------------------------------------------------- */
	fclose($fp);
	}
?>

</div>
</div>
</div>