#participer {
	float: left;
	width: 760px;
}

#box_info {
	height: 320px;
	margin-top: 40px;
}

.visiter #box_info {
	height: 320px;
}

#effect_correction {
	width: 520px;
	height: 270px;
	margin: auto;
}

#b_last {
	width: 70px;
	height: 70px;
	float: left;
	margin-top: 100px;
	cursor: pointer;
}

#b_next {
	width: 70px;
	height: 70px;
	float: right;
	margin-top: 100px;
	cursor: pointer;
}

.part_info {
	width: 500px;
	padding: 20px;
	border: 1px solid #666;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 5px;
}

.asterix {
	text-align: right;
	font-size: 0.7em;
	font-style: italic;
	margin-bottom: 0;
	padding-bottom: 0;
}

.part-info-img {
	float: left;
	width: 220px;
	height: 220px;
	margin-right: 10px;
}

.tag-cloud {
	text-align: center;
	width: 250px;
	float: left;
}

#list_infos {
	width: 720px;
	height: 150px;
	padding-left: 40px;
	padding-right: 20px;
}

.reduc_info {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 10px;
	height: 100px;
	width: 124px;
	background-color: #fbf7bd;
	float: left;
	cursor: pointer;
}

.hover_part_info {
	-webkit-box-shadow: #899fff 0px 4px 10px;
	-moz-box-shadow: #899fff 0px 4px 10px;
	box-shadow: #899fff 0px 4px 10px;
}

.selected {
	background-color: #fbdfbd;
	-webkit-box-shadow: #ffa836 0px 4px 10px;
	-moz-box-shadow: #ffa836 0px 4px 10px;
	box-shadow: #ffa836 0px 4px 10px;
}

.reduc_info_bg {
	height: 100px;
	width: 124px;
	background-image: url(../images/bg.gif);
	background-repeat: repeat;
	font-family: Bebas, Verdana, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
}
/*
#content .fleft {
	margin-left: 20px;
}
*/
#files_down {
	width: 180px;
	margin-top: 60px;
	padding: 7px;
	border: 1px solid #666;
	margin-bottom: 1em;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 5px;
}

#files_down h3 {
	margin-top: 0;
}

#files_down ul {
	list-style-image: url('/apps/participer/front/images/pdf.png');
	padding: 0 0 0 30px;
}

#files_down ul li {
	font-style: italic;
	font-size: 1.1em;
}
